 <div class="personal-set-right maincontent">
               <style>.con-article p{line-height:22px !important;}</style><div class="con-article" abs_visibility="true"><p>众筹，译自国外crowdfunding，即大众筹资或群众筹资。现代众筹指通过互联网方式发布筹款项目并募集资金。筹款项目成功后，项目发起人将会给予支持者对等的回报。回报方式可以是实物，也可以是服务。</p>
            <h3>关于众筹网</h3>
<br />
            <p abs_visibility="true">众筹网是中国最具影响力的众筹平台，是网信金融集团旗下的众筹模式网站，为项目发起者提供筹资、投资、孵化、运营一站式综合众筹服务。<br />
<br />
自2013年2月成立以来，已上线众筹网、众筹制造、开放平台、众筹国际、金融众筹、股权众筹六大板块。其中，众筹网联合长安保险推出的“爱情保险”项目创出了国内融资额最高众筹记录，筹资额超过600万元！“快男电影”项目近4万人次参与，创出投资人最多的记录。</p>
                        <h3>众筹规则</h3>
<br />
            <p><b>筹资</b>，筹资项目必须在发起人预设的时间内达到或超过目标金额才算成功。<br />
<b>未达成</b>，没有达到目标的项目，支持款项将全额退回给所有支持者。<br />
<b>达成</b>，网友将得到发起人预先承诺的回报。</p>
          </div>
      </div>
