 <div class="personal-set-right maincontent">
               <div class="con-article"><ul><li><span style="font-size:14px;">客服电话：</span><span style="font-size:14px;">15528081686</span></li>
</ul>
</div>
<p><span style="font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 010-56324775</span></p>
<p><span style="font-size:14px;"><br />
</span></p>
<ul><li><span style="font-size:14px;">客服 Q Q：<span style="font-size:14px;">525081045</span></span></li>
</ul>
<li><span style="font-size:14px;"><br />
</span></li>
<p></p>
<p></p>
<ul><li><span style="font-size:14px;">工作时间：周一至周五 9:30</span><span style="font-size:14px;">－</span><span style="font-size:14px;">18:00</span></li>
<li><span style="font-size:14px;"><br />
</span></li>
</ul>
<p></p>
<p><span style="font-size:14px;">客服邮箱：</span><span style="font-size:14px;"><a href="525081045@qq.com">525081045@qq.com</a></span></p>
<p><br />
</p>
<p><span style="font-size:14px;">合作邮箱：</span><span style="font-size:14px;"><a href="mailto:bd@ucfgroup.com">bd@ucfgroup.com</a></span></p>
<p><br />
</p>
<p><span style="font-size:14px;">公司地址：</span><span style="font-size:14px;">成都是高新区天府软件园领馆区</span></p>
      </div>
