        <div class="personal-set-right maincontent">
               <h3 style="color:#55acef;line-height:30px;font-size:18px;">请问什么叫众筹？</h3>
<h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">众筹译自crowdfunding，即大众筹资。当代众筹指通过互联网发布筹款项目并筹集资金。只要是网友喜欢的项目，都可以通过众筹方式获得项目启动的第一笔资金，或者获得项目发展的第一批粉丝用户。</span></p>
</h2>
<ul><li><span style="color:#55acef;line-height:30px;font-size:18px;">什么人可以发起项目?</span></li>
<li><span style="color:#5c585a;font-size:14px;font-weight:normal;">1、已满18周岁有完全民事行为能力的人、未满18周岁者请由监护人协助提供相关资料。</span></li>
<li><span style="color:#5c585a;font-size:14px;font-weight:normal;">2、中华人民共和国公民，或能提供长期在中国居住证明的非中华人民共和国公民，并在网站需要时，按照网站要求，提供必要的身份认证和资质认证，根据项目内容，包括但不限于：身份证、护照、学历证明等。</span></li>
<li><span style="color:#5c585a;font-size:14px;font-weight:normal;">3、拥有能够在中国地区接收人民币汇款的银行卡或者支付宝账户。</span></li>
<li><span style="color:#5c585a;font-size:14px;font-weight:normal;">4、众筹网的注册用户，已仔细阅读、同意并无条件接受众筹网的《服务条款》所涉全部内容。</span></li>
<h3 style="color:#55acef;line-height:30px;font-size:18px;"><br />
</h3>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">什么项目可以在众筹网发起?</h3>
 <h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">凡是符合众筹网《项目发起规范》、《用户协议》及《众筹公告》的项目，均可以在众筹网发起。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">众筹网可选行业有哪些?</h3>
 <h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">众筹网目前支持科技、公益、出版、娱乐、艺术、农业、商铺七个行业的项目，请关注众筹公告对其他行业开放的公布。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">如何发起项目呢?</h3>
<h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">在成为众筹网注册用户后，在网页上方点击“发起项目”，根据提示在网站上提交所需要的基本项目信息，以图文结合的形式展示“关于我”、“我想要做什么”、“为什么需要你的支持及资金用途”等重要板块，完成后便可提交审核。文字或图片的缺失都极可能导致您的项目被退回。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">页面中如何插入一个或多个视频?</h3>
<h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">项目页面置顶的视频，填写在项目发起页〔视频〕的位置即可；如果还想插入更多的视频，需要在〔项目详情〕中加入视频的超链接。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">同类网站发布项目规则？</h3>
<h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">在其他同类网站上正在进行的项目不得在众筹网上同时发起。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">项目回报如何设置？</h3>
<h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">项目内容及回报均不得涉及现金、利润分红、股权、金融理财产品等相关内容，回报可以是与项目相关、法律法规允许的实物或非实物的形式。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">项目文案信息的公开性？</h3>
 <h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">作为项目发起人，你可以选择信息的公开程度，回避设计知识产权敏感的信息。但与此同时，众筹网是一个面对公众的平台，你所提供的信息越丰富和生动，就越容易获得众人的支持。在项目审核阶段，只有具有审核权限的工作人员可以看到您的项目，众筹网内部都有明确的权限分级，不会向他人泄露您的项目资料。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">发起项目后的审核周期？</h3>
<h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">项目发起并提交审核后，审核人员会对项目进行审核，初审为1-3个工作日，通过后便进入二审阶段，如需修改调整，会有项目经理联系项目发起人，周期1-3个工作日。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">项目成功后的结款方式？</h3>
<h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">筹资额达到筹资目标视为项目已成功，但筹资期限结束后才可以进行结款。为保证资金安全，支持者支持的资金会直接进入第三方支付账户，项目成功后为发起人结款70%，确认全部支持者收到回报后结款30%。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">项目上线后是否可以取消？</h3>
<h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">当项目上线后发起人不可以撤销项目，如有特殊原因请与众筹网客服或项目经理联系。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">回报物流信息如何批量导入？</h3>
  <h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">在发货管理中，点击右上角”报表下载“，填入与选项一致的物流公司名称，并填入快递单号，点击“批量发货”，将文件上传即可。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">如何支持一个项目?</h3>
<h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">项目页右侧有可选择的支持金额和相应的回报介绍，点击想要支持的金额，根据提示选择第三方支付渠道完成付款即可。</span></p>
</h2>
 <h3 style="color:#55acef;line-height:30px;font-size:18px;">如何设置“不需要回报”？</h3>
  <h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">您需要在支持项目时，在提交订单的页面中，勾选“无需回报”，发起人就可以看到了。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">下单后如何修改订单信息？</h3>
  <h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">您在支付后是无法自行修改的，如果项目尚未发放回报，您可以通过站内私信联系项目发起人，或者联系众筹网客服进行修改。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">如何查看回报发出时间以及“确认收货”？</h3>
 <h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">项目回报会在项目结束后一段期间内发放，具体时间在项目页的每个支持项下显示。在您收到回报后，请登录众筹网，在“支持的项目”中点击“确认回报”，若15天您仍未点击确认，系统会将该订单转为“已收货”状态。</span></p>
</h2>
 <h3 style="color:#55acef;line-height:30px;font-size:18px;">项目失败如何退款？</h3>
<h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">项目失败后，众筹网将为支持者办理退款，资金将原路返回到您的支付宝或银行账户中，支持者将于7-15个工作日收到退款。</span></p>
</h2>
 <h3 style="color:#55acef;line-height:30px;font-size:18px;">项目未结束是否可以退款？</h3>
<h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">项目失败后，用户支持的资金会原路返回到支付宝或银行账户中。项目众筹期间与项目成功后均不予办理退款。 </span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">如何查看回报发放进展？</h3>
<h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">您可以登录网页，通过“支持的项目“查看物流状态及信息。同时，我们希望发起人和支持者能够建立直接而紧密的联系，彼此讨论。我们会监督发起人落实回报，并帮助支持者查询项目最新进展。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">支持项目是否可以开发票？</h3>
 <h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">您需要联系发起人询问是否可以开具发票。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">注册时为什么收不到验证码？</h3>
<h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">请确认您的手机是否开启屏蔽系统短信功能，或安装了一些拦截短信的软件，建议您手机卡换到其他的手机上操作一下。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">忘记账号是否可以查询？</h3>
    <h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">很抱歉，我们无法查询注册账号，建议您再尝试一下，或者重新注册，若您曾经支持过项目，会按正常流程办理，不会对您造成任何影响。</span></p>
</h2>
<h3 style="color:#55acef;line-height:30px;font-size:18px;">登陆网站提示“密码错误”怎么办？</h3>
  <h2 style="margin:0px 0px 20px;"><p><span style="color:#5c585a;line-height:22px;font-size:14px;">请点击“忘记密码？”，根据提示进行找回密码的操作。</span></p>
</h2>
</ul>
      </div>
