
<%include index_header.ejs%>
<!--banner static-->
	<div class="m-bannerimg">        
            <ul id="slider" class="z-bimg clearfix">
            <li><a target="_blank" href="deal-show/id-46396"><img src="http://zcr1.ncfstatic.com/attachment/201501/22/12/1421899437.jpg" data-src="http://zcr1.ncfstatic.com/attachment/201501/22/12/1421899437.jpg"/></a></li><li><a target="_blank" href="deal-show/id-46525"><img src="" data-src="http://zcr1.ncfstatic.com/attachment/201501/23/15/1421999731.jpg"/></a></li><li><a target="_blank" href="deal-show/id-62473"><img src="" data-src="http://zcr1.ncfstatic.com/attachment/201501/22/12/1421899473.jpg"/></a></li><li><a target="_blank" href="deal-show/id-59362"><img src="" data-src="http://zcr1.ncfstatic.com/attachment/201501/22/11/1421895704.jpg"/></a></li><li><a target="_blank" href="deal-show/id-59500"><img src="" data-src="http://zcr1.ncfstatic.com/attachment/201501/22/11/1421895740.jpg"/></a></li><li><a target="_blank" href="deal-show/id-61639"><img src="" data-src="http://zcr1.ncfstatic.com/attachment/201501/22/11/1421895779.jpg"/></a></li><li><a href="http://www.yuanshihui.com/" target="_blank" ><img src="" data-src="http://zcr1.ncfstatic.com/attachment/201501/22/11/1421895765.jpg"/></a></li>            </ul>        
            <div class="m-mesh">
                <span class="z-meshl"></span>
                <span class="z-meshr"></span>
            </div>      
    </div> 
<!--banner end-->
<!--subnav static-->
<!-- 浮动导航class名 z-subnav -->
<div class="m-subnav" id="nav">
	<div class="wrap">
		<div class="subnav-left Js-cata">
			<a href="/browse">全部</a>
			<a href="http://www.zhongchou.cn/keji">科技</a><a href="http://www.zhongchou.cn/gongyi">公益</a><a href="http://www.zhongchou.cn/chuban">出版</a><a href="http://www.zhongchou.cn/yule">娱乐</a><a href="http://www.zhongchou.cn/yishu">艺术</a><a href="http://www.zhongchou.cn/nongye">农业</a><a href="http://www.zhongchou.cn/browse/id-10003">商铺</a><a href="http://www.zhongchou.cn/browse/id-18">其他</a>		</div>
		<div class="subnav-right Js-cata">			
			<a href="http://www.zhongchou.cn/difangzhan">地方站</a>
			<a href="http://www.zhongchou.cn/deals-tags/t-众筹制造">众筹制造</a>
			<a href="http://www.zhongchou.cn/open">合作专区</a>	
			
		</div>
	</div>      
</div>
<!--subnav end-->
<div class="wrap m-box">
	<div class="m-headline clearfix">
	    <div class="project-title">
            <span>热门项目</span>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse">浏览全部</a>
    </div>
		<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">

				<%if(items){%>
				<%- partial('allprojectlistitem',items) %>										
				<%}%>
									
			</ul>			
		</div>

		<%if(pageitems){%>
		<div class="pager"> <a class='next' href='/all_user_project_info_query?page=pre'>上一页</a>&nbsp;<%- partial('alluserprojectpagelistitem',pageitems) %>  <a class='next' href='/all_user_project_info_query?page=next'>下一页</a></div>
		<%}else{%>	
		<%}%>

	<!--focus end-->
</div>
<!--recreation end-->


<!--video static-->
<div class="mong">
    <div class="m-video" wx-lz="http://zcs4.ncfstatic.com/v3/static/images/index/pio_42.png?v=">
        <div class="wrap m-what-par">
            <div class="m-what">
               <h6>众筹网是什么？</h6>
               在这里发起你的梦想、创意和创业计划，便可面对<br>公众集资，让有创造力的你获得所需要的资金，帮助你的梦想实现。
           </div>
           <div class="z-flash">
           <!--a id="Js-flash" href="###" class="flash-botton"></a-->
           <!-- 可替换图片 start -->
           <p class=" flash-img"><img width="671" height="329" wx-lz="http://zcs4.ncfstatic.com/v3/static/images/index/pio_09.jpg?=20140918?v="></p>
           <!-- 可替换图片 end -->
           </div>
        </div>
    </div>
</div>
<!--video end-->
<!--financing static-->
<div class="wrap m-box06">
	<!-- 数字class名 number 0-9
       number,number1,number2,number3n,umber4,number5,number6,number7,number8,number9
       逗号 comma
	 -->
         <div id="Js-scrollNum" class="mm">
		<dl>
			<dt class="odometer" data-num="6495">0</dt>
			<dd><i class="s-01"></i>项目总数</dd>
		</dl>
		<dl>
			<dt class="odometer" data-num="203870">0</dt>
			<dd><i class="s-02"></i>累计支持人</dd>
		</dl>
		<dl>
			<dt class="odometer" data-num="75782239">0</dt>
			<dd><i class="s-03"></i>累计筹资金额</dd>
		</dl>
	</div>
</div>
<!--financing end-->
<!--complete static-->
<div class="wrap m-box07">
	<h3>他们都成功了</h3>
	<ul class="m-complete clearfix">
	<li>
			<div class="z-succeed img-scale">
                <a href="http://www.zhongchou.cn/deal-show/id-18635" target="_blank"><img src="" wx-lz="http://zcr1.ncfstatic.com/attachment/201412/29/16/1419840328.jpg"></a>
				<h4><a href="http://www.zhongchou.cn/deal-show/id-18635">takee1全息手机——定制专属你的全息世界！</a></h4>
				<p>
					<span class="z-raising z-raising-01">共筹资<em>￥</em><i>3,763,600</i></span>
					<span class="z-initiator">发起人：takee</span>
				</p>
			</div>
		</li><li>
			<div class="z-succeed img-scale">
                <a href="http://www.zhongchou.cn/deal-show/id-12933" target="_blank"><img src="" wx-lz="http://zcr1.ncfstatic.com/attachment/201412/29/16/1419840334.jpg"></a>
				<h4><a href="http://www.zhongchou.cn/deal-show/id-12933">让我们一起开书店，寻找属于字里行间的人</a></h4>
				<p>
					<span class="z-raising z-raising-01">共筹资<em>￥</em><i>1,392,104</i></span>
					<span class="z-initiator">发起人：霄酸桐</span>
				</p>
			</div>
		</li><li>
			<div class="z-succeed img-scale">
                <a href="http://www.zhongchou.cn/deal-show/id-20353" target="_blank"><img src="" wx-lz="http://zcr1.ncfstatic.com/attachment/201412/29/16/1419840338.jpg"></a>
				<h4><a href="http://www.zhongchou.cn/deal-show/id-20353">【县长众筹】 永和核桃圆孩子书屋梦</a></h4>
				<p>
					<span class="z-raising z-raising-01">共筹资<em>￥</em><i>866,675</i></span>
					<span class="z-initiator">发起人：空气变稀薄</span>
				</p>
			</div>
		</li><li>
			<div class="z-succeed img-scale">
                <a href="http://www.zhongchou.cn/deal-show/id-13234" target="_blank"><img src="" wx-lz="http://zcr1.ncfstatic.com/attachment/201412/29/16/1419840343.jpg"></a>
				<h4><a href="http://www.zhongchou.cn/deal-show/id-13234">李盾老师音乐剧《爱上邓丽君》携手众筹 再度来袭 </a></h4>
				<p>
					<span class="z-raising z-raising-01">共筹资<em>￥</em><i>500,640</i></span>
					<span class="z-initiator">发起人：dfjy</span>
				</p>
			</div>
		</li>	</ul>
</div>
<!--complete end-->
<!--dream static-->
<!--main end-->
<%include index_footer.ejs%>