<div class="footer">
	<div class="footer-nav">
		<a href="/help-index/id-1" rel="nofollow" target="_blank">关于我们 <i>｜</i> </a>
		<a href="/help-contact" rel="nofollow" target="_blank">联系我们 <i>｜</i> </a>
		<!-- <a href="/help-team" rel="nofollow">团队介绍 <i>｜</i> </a> -->
		<a href="/help-term" rel="nofollow" target="_blank">服务协议 <i>｜</i> </a>
		<a href="/help-specification" rel="nofollow" target="_blank">项目发起规范 <i>｜</i> </a>
		<a href="/partake" target="_blank">新手帮助 <i>｜</i> </a>
		<a href="/help-center" target="_blank">帮助中心 <i>｜</i> </a>
		<a href="/help-tourongzi" target="_blank">投融资服务<i>｜</i></a>
		<a href="http://news.zhongchou.cn" target="_blank">众筹资讯</a>
	</div>
	<div class="footer-icon">
		<span>关注我们：</span>
		<a class="s-05" target="_blank" href="http://e.weibo.com/zhongchouwang2013" rel="nofollow"></a>
		<a class="s-06" target="_blank" href="http://user.qzone.qq.com/2357291729" rel="nofollow"></a>
		<a class="s-07" target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&kw=%E4%BC%97%E7%AD%B9%E7%BD%91" rel="nofollow"></a>
		<a class="s-08" target="_blank" href="http://www.douban.com/people/zhongchou_cn/" rel="nofollow"></a>
	</div>
	<div class="footer-copy">
		<div class="wrap">
			<div class="m-Links">
			<a target="_blank" href="http://iof.hexun.com/zhongchou/index.html" rel=nofollow>和讯网</a><a target="_blank" href="http://www.leiphone.com/" rel=nofollow>雷锋网</a><a target="_blank" href="http://www.36kr.com/   " rel=nofollow>36氪</a><a target="_blank" href="http://www.hao123.com/" rel=nofollow>hao123</a><a target="_blank" href="http://hao.360.cn/" rel=nofollow>360安全网址</a><a target="_blank" href="http://www.ynet.com/" rel=nofollow>北青网</a><a target="_blank" href="http://finance.ifeng.com/" rel=nofollow>凤凰网</a><a target="_blank" href="http://jrj.com.cn" rel=nofollow>金融界</a><a target="_blank" href="http://www.caixin.com/" rel=nofollow>财新网</a><a target="_blank" href="http://www.tmtpost.com/" rel=nofollow>钛媒体</a><a target="_blank" href="http://www.imgii.com?zhongchou" rel=nofollow>IMGII</a><a target="_blank" href="http://www.m1905.com/film/" rel=nofollow>电影网</a><a target="_blank" href="http://www.artron.net/" rel=nofollow>雅昌艺术网</a><a target="_blank" href="http://www.vmovier.com/" rel=nofollow>V电影</a><a target="_blank" href="http://www.eguan.cn" rel=nofollow>易观网</a><a target="_blank" href="http://www.pedaily.cn/" rel=nofollow>投资界          </a><a target="_blank" href="http://home.ebrun.com/" rel=nofollow>亿邦动力社区</a><a target="_blank" href="http://www.9888.cn" rel=nofollow>金融工场</a><a target="_blank" href="http://www.trchina.org/" rel=nofollow>投融中国联盟</a><a target="_blank" href="http://www.youcheng.org/" rel=nofollow>友成基金会</a><a target="_blank" href="http://life.renren.com" rel=nofollow>人人生活</a><a target="_blank" href="http://www.meng800.com/ " rel=nofollow>众筹导航</a><a target="_blank" href="http://www.qidic.com" rel=nofollow>奇笛网</a><a target="_blank" href="http://www.rong360.com" rel=nofollow>融360</a><a target="_blank" href=" http://www.diyifangdai.com" rel=nofollow>第一房贷</a><a target="_blank" href="http://finance.ifeng.com/itfinance/index.shtml" rel=nofollow>凤凰互联网金融</a><a target="_blank" href="http://www.huoqiu.cn">火球网</a><a target="_blank" href="http://www.renchoubao.com/">认筹宝</a><a target="_blank" href="http://www.kuaidi100.com/">快递查询</a>         
			</div>
			<p>&copy;2014 北京网信众筹网络科技有限公司 zhongchou.cn 版权所有 京ICP备14016844号 </p>
		</div>
	</div>
</div>

<script type="text/javascript" src="http://zcstatic.wangxingroup.com/zhongchou/pub/v3/fe3974b84fb6b50da0f329242078614c.js?V=1419321176" ></script>
                
<div id="gotop" class="go-top"></div>
</body>
</html> 
<script type="text/javascript" src="http://zcstatic.wangxingroup.com/zhongchou/pub/v3/b78af158bede6d239fd4c1a45c707572.js?V=1419321176" ></script>
<div id="fenleiPop" style="display:none;">
  <div class="Js-pop-close" style="width:1140px;position: relative;">
    <img wx-lz="http://zcstatic.wangxingroup.com/v3/static/images/index/pop.png?v="/>
    <div style="width: 125px; height: 50px; position: absolute; right: 140px; top: 175px; cursor: pointer; z-index: 20;"></div>
  </div>
</div>