
<%include index_header.ejs%>
<!--main static-->
<!--banner static-->
	<div class="m-bannerimg">        
            <ul id="slider" class="z-bimg clearfix">
            <li><a target="_blank" href="deal-show/id-47950"><img src="http://zrstatic.wangxingroup.com/attachment/201412/16/11/1418701822.jpg" data-src="http://zrstatic.wangxingroup.com/attachment/201412/16/11/1418701822.jpg"/></a></li><li><a target="_blank" href="deal-show/id-46519"><img src="" data-src="http://zrstatic.wangxingroup.com/attachment/201412/18/11/1418874758.jpg"/></a></li><li><a href="http://www.zhongchou.cn/special-dream" target="_blank" ><img src="" data-src="http://zrstatic.wangxingroup.com/attachment/201412/18/11/1418872560.jpg"/></a></li><li><a target="_blank" href="deal-show/id-45088"><img src="" data-src="http://zrstatic.wangxingroup.com/attachment/201412/18/14/1418885479.jpg"/></a></li><li><a target="_blank" href="deal-show/id-32512"><img src="" data-src="http://zrstatic.wangxingroup.com/attachment/201412/18/11/1418872642.jpg"/></a></li><li><a target="_blank" href="deal-show/id-24376"><img src="" data-src="http://zrstatic.wangxingroup.com/attachment/201412/18/16/1418889955.jpg"/></a></li><li><a href="http://app.zhongchou.cn/" target="_blank" ><img src="" data-src="http://zrstatic.wangxingroup.com/attachment/201412/15/14/1418624811.jpg"/></a></li>            </ul>        
            <div class="m-mesh">
                <span class="z-meshl"></span>
                <span class="z-meshr"></span>
            </div>      
    </div> 
<!--banner end-->
<!--subnav static-->
<!-- 浮动导航class名 z-subnav -->
<div class="m-subnav" id="nav">
	<div class="wrap">
		<div class="subnav-left Js-cata">
			<a href="/browse">全部</a>
			<a href="http://www.zhongchou.cn/keji">科技</a><a href="http://www.zhongchou.cn/gongyi">公益</a><a href="http://www.zhongchou.cn/chuban">出版</a><a href="http://www.zhongchou.cn/yule">娱乐</a><a href="http://www.zhongchou.cn/yishu">艺术</a><a href="http://www.zhongchou.cn/nongye">农业</a><a href="http://www.zhongchou.cn/browse/id-18">其他</a>		</div>
		<div class="subnav-right Js-cata">			
			<a href="http://www.zhongchou.cn/difangzhan">地方站</a>
			<a href="http://www.zhongchou.cn/deals-tags/t-众筹制造">众筹制造</a>
			<a href="http://www.zhongchou.cn/open">合作专区</a>	
			
		</div>
	</div>      
</div>
<!--subnav end-->
<div class="wrap m-box">
	<div class="m-headline clearfix">
	    <div class="project-title">
            <span>热门项目</span>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse">浏览全部</a>
    </div>
		<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">
				<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-48598" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/17/11/5490f1dbe5625_230x175.jpg" alt="余晨参与了央视大型纪录片《互联网时代》的创作，这本《看见未来：互联网引领者和他们的世界》正来源于此，其中收录了世界顶尖互联网引领者的智慧。" title="余晨参与了央视大型纪录片《互联网时代》的创作，这本《看见未来：互联网引领者和他们的世界》正来源于此，其中收录了世界顶尖互联网引领者的智慧。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-48598">和我一起，看见未来——余晨对话世界顶尖互联网引领者</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>38,803</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:13%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">13%</span>
				<span class="rate2">剩余41天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-48598">83</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-48598">4</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-36178" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/27/16/5476e665e64ff_230x175.jpg" alt="让人们拥有更新意的生活，天下明顶尖红点设计团队倾力打造，集创意、设计、实用于一体的Only One" title="让人们拥有更新意的生活，天下明顶尖红点设计团队倾力打造，集创意、设计、实用于一体的Only One" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-36178">Only One百变创意灯--不甘平庸只为创意而生</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>8,962</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:90%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">90%</span>
				<span class="rate2">剩余6天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-36178">146</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-36178">34</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-37663" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/03/11/547e88643b357_230x175.jpg" alt="海淀邮政为支持该次明信片项目推向成功，奉献出神秘大礼，期待的伙伴详情点击啊~~" title="海淀邮政为支持该次明信片项目推向成功，奉献出神秘大礼，期待的伙伴详情点击啊~~" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-37663">原创设计力量 明信片彩蛋来袭</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>108</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:4%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">4%</span>
				<span class="rate2">剩余42天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-37663">21</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-37663">10</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-34891" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/24/10/cb0a95e7aefcb950fe9e58066b80e89c76_230x175.jpg" alt="山以静而寿，石以久而贞。一块顽石要经过复杂的工艺，才能蜕变成独一无二的艺术品。请加入我们，共同完成这个作品，接下来，就是见证奇迹的时刻！" title="山以静而寿，石以久而贞。一块顽石要经过复杂的工艺，才能蜕变成独一无二的艺术品。请加入我们，共同完成这个作品，接下来，就是见证奇迹的时刻！" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-34891">“佛韵禅心”寿山石——让我们共同完成一件独一无二的艺术品</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>13,461</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:270%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">270%</span>
				<span class="rate2">剩余4天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-34891">77</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-34891">36</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-20972" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/16/09/548f8bf40b479_230x175.jpg" alt="鸿豪砗磲工坊坚持每件作品设计必需努力反映仁、知、义、礼、乐、忠、信、德、道等完美品行思想。把德和砗磲结为一体，将砗磲与君子结缘。" title="鸿豪砗磲工坊坚持每件作品设计必需努力反映仁、知、义、礼、乐、忠、信、德、道等完美品行思想。把德和砗磲结为一体，将砗磲与君子结缘。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-20972">鸿豪砗磲工坊——铸就你的艺术梦想</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>3,070</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:103%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">103%</span>
				<span class="rate2">剩余6天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-20972">73</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-20972">24</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-32167" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/21/17/546f08d6791fc_230x175.jpg" alt="为全国范围内寻找到的幸存抗战老兵送上一份致敬大礼包，我们无法替代国家的责任，只能献出自己微薄的爱心，还老兵一份荣誉。" title="为全国范围内寻找到的幸存抗战老兵送上一份致敬大礼包，我们无法替代国家的责任，只能献出自己微薄的爱心，还老兵一份荣誉。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-32167">寻找你身边的抗战老兵  一份礼包一份致敬</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>88,164</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:23%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">23%</span>
				<span class="rate2">剩余30天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-32167">5295</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-32167">302</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-39013" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/03/11/547e8a04992cb_230x175.jpg" alt="我多么希望孩子们可以有一个操场，在那里打球，玩乐活动。而我所在藏区的一所民办藏族学校，孩子们下了课只有在草地上趴着玩石头，因此我想筹建一座运动场。" title="我多么希望孩子们可以有一个操场，在那里打球，玩乐活动。而我所在藏区的一所民办藏族学校，孩子们下了课只有在草地上趴着玩石头，因此我想筹建一座运动场。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-39013">托起明天的太阳——为藏区的孩子筹建一座运动场</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>35,506</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:45%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">45%</span>
				<span class="rate2">剩余62天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-39013">77</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-39013">17</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-40048" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/12/11/548a5ed8d2818_230x175.jpg" alt="每人出资100——3000元，在摄影天堂西藏搭建一个属于自己的基地，免费吃住、使用器材、路线司机、汽车导游一步到位。同时发展商业摄影，基地可持续运作。" title="每人出资100——3000元，在摄影天堂西藏搭建一个属于自己的基地，免费吃住、使用器材、路线司机、汽车导游一步到位。同时发展商业摄影，基地可持续运作。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-40048">筹建属于你自己的西藏摄影基地——带您免费游拍西藏</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>5,406</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:10%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">10%</span>
				<span class="rate2">剩余81天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-40048">166</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-40048">10</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-36562" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/04/17/5480308a295f7_230x175.jpg" alt="在常年从事瑜伽顾问的工作中，我发现，瑜伽和健身相互配合的健身方式，能使锻炼更有效果。健身和瑜伽，一张一弛，刚柔并济，两者相结合最终的目的是人体身心平衡" title="在常年从事瑜伽顾问的工作中，我发现，瑜伽和健身相互配合的健身方式，能使锻炼更有效果。健身和瑜伽，一张一弛，刚柔并济，两者相结合最终的目的是人体身心平衡" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-36562">全年仅接待60位会员，高端私人订制健身服务，唤醒你的身体！</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>4,960</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:25%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">25%</span>
				<span class="rate2">剩余7天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-36562">49</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-36562">17</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-36208" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/26/11/5cb823dccb21ba42ecc7b3ee4c9956f255_230x175.jpg" alt="偶然看了一部电影，一个女孩等待一个男孩，拍摄地就在广州。真的很美的一个城市，有珠江、有林荫小路、有老式建筑；我们要在这里演出，因为那个女在等那个男孩。" title="偶然看了一部电影，一个女孩等待一个男孩，拍摄地就在广州。真的很美的一个城市，有珠江、有林荫小路、有老式建筑；我们要在这里演出，因为那个女在等那个男孩。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-36208">嘻哈包袱铺精品相声大会—广州站</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>1,560</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:52%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">52%</span>
				<span class="rate2">剩余13天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-36208">3</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-36208">3</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-32353" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/26/11/547548877ec44_230x175.jpg" alt="支持重印著名杂志《飞碟探索》创刊号，获赠精美限量版星空装饰画。" title="支持重印著名杂志《飞碟探索》创刊号，获赠精美限量版星空装饰画。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-32353">《飞碟探索》创刊号重印计划</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>15,540</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:63%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">63%</span>
				<span class="rate2">剩余34天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-32353">86</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-32353">16</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-37933" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/15/13/203cbacbfa3705450552567d8cc252e631_230x175.jpg" alt="它是设计师的俱乐部，是灵感的极速实现空间，在这里，你可以完整体验真实的设计流程，草图、建模、模型、制作、加工、包装、众筹、线上销售等，实现设计梦！" title="它是设计师的俱乐部，是灵感的极速实现空间，在这里，你可以完整体验真实的设计流程，草图、建模、模型、制作、加工、包装、众筹、线上销售等，实现设计梦！" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-37933">让我们一起开设计书店，寻找格物者！</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>2,119</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:1%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">1%</span>
				<span class="rate2">剩余84天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-37933">15</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-37933">1</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-45571" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/10/12/0a7e4e8358364670b7951d449c1a954e95_230x175.jpg" alt="法国“农民植物学家”与女友隐居山村三十余年，建造自己的植物农庄，采集研究植物标本，花费10年时间编著了植物图志：《花草物语：催情植物传奇》。" title="法国“农民植物学家”与女友隐居山村三十余年，建造自己的植物农庄，采集研究植物标本，花费10年时间编著了植物图志：《花草物语：催情植物传奇》。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-45571">《花草物语：催情植物传奇》：超值新年暖心大礼包</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>21,974</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:74%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">74%</span>
				<span class="rate2">剩余19天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-45571">138</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-45571">2</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-41986" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/05/17/5481792a97989_230x175.jpg" alt="农业众筹大趴是由微社力、新农业天使会、众筹网、华西网络、农业部落联合主办的农业众筹领域的高端活动，将于2015年1月10日在北京举行。" title="农业众筹大趴是由微社力、新农业天使会、众筹网、华西网络、农业部落联合主办的农业众筹领域的高端活动，将于2015年1月10日在北京举行。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-41986">农业众筹千人趴——互联网农业新玩法等你来high！</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>21,229</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:15%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">15%</span>
				<span class="rate2">剩余17天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-41986">82</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-41986">4</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-35380" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/27/17/393b60e0fb88c26e8615de5d3320899235_230x175.jpg" alt="毕业于重点大学食品专业，世代蜂农，毕业之后回家养蜂，希望通过技术创新带动更多年轻人参与这项健康事业。" title="毕业于重点大学食品专业，世代蜂农，毕业之后回家养蜂，希望通过技术创新带动更多年轻人参与这项健康事业。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-35380">90后大学生蜂农众筹信任，来自革命老区的纯正蜂王浆</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>3,302</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:111%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">111%</span>
				<span class="rate2">剩余6天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-35380">42</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-35380">3</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-37681" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/09/17/5486bcee973c6_230x175.jpg" alt="大型校园巡回演讲，为大学生们展示创业路上不可忽视的点滴，鼓励当代大学生为梦想奋斗的。" title="大型校园巡回演讲，为大学生们展示创业路上不可忽视的点滴，鼓励当代大学生为梦想奋斗的。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-37681">为所有想在这座城市混出个样的人，众筹一场演讲。</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>1,657</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:17%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">17%</span>
				<span class="rate2">剩余78天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-37681">52</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-37681">3</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-46531" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/15/10/548e475b505c6_230x175.jpg" alt="首季《创业美国》是全国首档人物访谈与纪录片相结合的海外前沿创新企业家访谈节目（共13集），2015年重磅登陆国内电视台、电台及视频网站。" title="首季《创业美国》是全国首档人物访谈与纪录片相结合的海外前沿创新企业家访谈节目（共13集），2015年重磅登陆国内电视台、电台及视频网站。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-46531">电视访谈系列片《创业美国》—— 让创业灵感引爆中国力量！</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>40,020</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:401%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">401%</span>
				<span class="rate2">剩余24天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-46531">175</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-46531">36</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-41998" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/04/16/a47b7085e433593d6490c0df9a02e2dc64_230x175.jpg" alt="一本《十六字阴阳风水秘术》
一段尘封许久的摸金故事，
一个风云变幻的革命时代，
一部惊世骇俗的千古奇书，
一个天价打造的魔幻史诗" title="一本《十六字阴阳风水秘术》
一段尘封许久的摸金故事，
一个风云变幻的革命时代，
一部惊世骇俗的千古奇书，
一个天价打造的魔幻史诗" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-41998">惊悚大戏《鬼吹灯》I“精绝古城”舞台剧北京加场</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>11,400</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:12%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">12%</span>
				<span class="rate2">剩余25天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-41998">54</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-41998">3</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-42442" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/05/18/54818ed1ec871_230x175.jpg" alt="NAP 智能午睡枕主要是解决上班族午睡时手被压麻的问题，同时带有定时唤醒功能，振动按摩功能，呼吸灯，灵巧时尚的外观设计，是上班族必备的午睡神器。" title="NAP 智能午睡枕主要是解决上班族午睡时手被压麻的问题，同时带有定时唤醒功能，振动按摩功能，呼吸灯，灵巧时尚的外观设计，是上班族必备的午睡神器。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-42442">NAP智能午睡枕——让午休成为一种享受</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>4,932</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:10%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">10%</span>
				<span class="rate2">剩余44天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-42442">141</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-42442">25</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-45904" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/15/16/548e9cf622f53_230x175.jpg" alt="麦吉尔健康顾问体系，长年专注于现代都市病 开创了符合现代生活得 麦吉尔瑜伽球 和 健康身心灵课程。 众筹非常适合我们每月一次课程培训。" title="麦吉尔健康顾问体系，长年专注于现代都市病 开创了符合现代生活得 麦吉尔瑜伽球 和 健康身心灵课程。 众筹非常适合我们每月一次课程培训。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-45904">麦吉尔健康顾问（麦吉尔瑜伽球+身心灵疗愈成长课程）</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>298</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:6%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">6%</span>
				<span class="rate2">剩余14天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-45904">14</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-45904">7</a>
    </p>
</div>
</li>
				
								
			</ul>			
		</div>
	<!--focus end-->
</div><!--fabricate static-->
<div class="wrap m-box01">
        <div class="project-title project-title-none">
            <span>众筹制造</span>
        </div>
	<div class="img-show img-scale">
		<a class="img-01" href="/deal-show/id-40099" target="_blank"><img src="" wx-lz ="http://zrstatic.wangxingroup.com/attachment/201412/15/17/1418637243.jpg" alt="零距离接触联想，掏心窝子的读书“私”想会，需要你敢玩和“感”想"></a><a class="img-02" href="/deal-show/id-21464" target="_blank"><img src="" wx-lz ="http://zrstatic.wangxingroup.com/attachment/201412/15/15/1418630379.jpg" alt="【草木生香堂】秉承传统制香工艺众筹纯天然香品"></a><a class="img-03" href="/deal-show/id-40024" target="_blank"><img src="" wx-lz ="http://zrstatic.wangxingroup.com/attachment/201412/15/17/1418637462.jpg" alt="《沿途的向阳花》：骑行万里去见那个带我穿越黑暗的泰国女孩"></a><a class="img-04" href="/deal-show/id-24373" target="_blank"><img src="" wx-lz ="http://zrstatic.wangxingroup.com/attachment/201412/15/16/1418630404.jpg" alt="圣诞平安果  帮您传递真情送给挚爱的人"></a><a class="img-05" href="/deal-show/id-36193" target="_blank"><img src="" wx-lz ="http://zrstatic.wangxingroup.com/attachment/201412/15/18/1418637825.jpg" alt="第14-15届华语音乐传媒大奖颁奖典礼"></a>	</div>
</div>
<!--fabricate end--><!--technology static-->
<div class="wrap m-box03">
	<div class="m-headline clearfix">
        <div class="project-title">
            <a href="/keji" target="_blank">科技</a>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse/id-10000">浏览全部</a>
    </div>
		<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">			
				<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-22963" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/05/16/54816c13672a3_230x175.jpg" alt="GMIC 2015，联合众筹网，专门为智能硬件产品开放展示专区：“GMIC•众筹网智能硬件大Party”。享受展会黄金位置，集中展示，体验最酷炫的智能硬件新品。" title="GMIC 2015，联合众筹网，专门为智能硬件产品开放展示专区：“GMIC•众筹网智能硬件大Party”。享受展会黄金位置，集中展示，体验最酷炫的智能硬件新品。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-22963">GMIC·众筹网智能硬件大Party招募创享家！</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>180</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:36%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">36%</span>
				<span class="rate2">剩余10天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-22963">23</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-22963">8</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-22717" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/14/15/5465b26d37903_230x175.jpg" alt="这是一个女子对生态原木的情节，便演绎了一场“风花雪夜”的执着。" title="这是一个女子对生态原木的情节，便演绎了一场“风花雪夜”的执着。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-22717">原木生活“萌时尚”，要的就是这一份小情趣！</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>1,550</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:26%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">26%</span>
				<span class="rate2">剩余23天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-22717">60</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-22717">28</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-39916" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/11/13/54892fb7238c5_230x175.jpg" alt="最实惠有效的室内空气净化解决方案，主动式负离子空气净化，全面清除室内空气污染，更提供疗养级的高品质空气。兼具艺术装饰与实用功能，让你的美好生活更加美丽" title="最实惠有效的室内空气净化解决方案，主动式负离子空气净化，全面清除室内空气污染，更提供疗养级的高品质空气。兼具艺术装饰与实用功能，让你的美好生活更加美丽" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-39916">一款百姓都用得起的主动式空气净化器</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>7,015</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:141%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">141%</span>
				<span class="rate2">剩余20天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-39916">67</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-39916">22</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-31237" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/19/10/f7235cdc96cbf8f76895e9890cc4c7f410_230x175.jpg" alt="【众筹邮驿】品牌暨推出50位设计师的500张明信片之后推出了最新新品，中国邮政奉献了神秘大礼哦。
绝无仅有的珍藏版明信片套册，每册仅有一份。" title="【众筹邮驿】品牌暨推出50位设计师的500张明信片之后推出了最新新品，中国邮政奉献了神秘大礼哦。
绝无仅有的珍藏版明信片套册，每册仅有一份。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-31237">【众筹邮驿】奉上最新版明信片册</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>7,888</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:263%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">263%</span>
				<span class="rate2">剩余37天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-31237">29</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-31237">8</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-36103" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/27/09/54767f3949128_230x175.jpg" alt="Wolkamo既有情趣交友APP“有情有趣”，也有三款‘BMW’系列硬件产品：Biu（男用飞机杯），Mona（女用振动棒），Wendy（女用跳蛋），帮助异地情侣千里共婵娟。" title="Wolkamo既有情趣交友APP“有情有趣”，也有三款‘BMW’系列硬件产品：Biu（男用飞机杯），Mona（女用振动棒），Wendy（女用跳蛋），帮助异地情侣千里共婵娟。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-36103">千里共婵娟——物联网交互式情趣用品Wolkamo</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>42,253</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:85%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">85%</span>
				<span class="rate2">剩余17天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-36103">253</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-36103">40</a>
    </p>
</div>
</li>
				
	
			</ul>			
		</div>
	<!--focus end-->
</div>
<!--technology end--><!--community static-->
<div class="wrap m-box02">
	<div class="m-headline clearfix">
        <div class="project-title">
            <a href="/gongyi" target="_blank">公益</a>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse/id-23">浏览全部</a>
    </div>	
	<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">
				<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-31027" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/02/16/547d7b1084cfa_230x175.jpg" alt="我们想在贵州省从江县建一座约500平米的生态民宿，并招募1000位赞助者做民宿的主人，与我们共同搭建一个开放空间，为旅行者提供食宿、定制原生态旅行体验" title="我们想在贵州省从江县建一座约500平米的生态民宿，并招募1000位赞助者做民宿的主人，与我们共同搭建一个开放空间，为旅行者提供食宿、定制原生态旅行体验" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-31027">招募1000位主人——筹建从江自助游民宿（第一期）</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>10,350</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:7%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">7%</span>
				<span class="rate2">剩余71天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-31027">159</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-31027">5</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-27058" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/18/17/546b0d9e5ddbc_230x175.jpg" alt="404青年空间关注创新、跨界合作和青年公益创业，主要为珠海本土NGO提供活动场地、整合传播平台和职业生涯规划。" title="404青年空间关注创新、跨界合作和青年公益创业，主要为珠海本土NGO提供活动场地、整合传播平台和职业生涯规划。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-27058">珠海会同村青年空间：江湖、自由、有点二</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>5,680</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:6%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">6%</span>
				<span class="rate2">剩余16天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-27058">51</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-27058">9</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-21071" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/01/22/5454f1564d836_230x175.jpg" alt="万平--被誉为中国民间自费治沙第一人，十几年时间将100公顷的科尔沁沙地示范区由火坨子恢复为草原，而今希望在此经验上建设第二个沙地恢复示范区" title="万平--被誉为中国民间自费治沙第一人，十几年时间将100公顷的科尔沁沙地示范区由火坨子恢复为草原，而今希望在此经验上建设第二个沙地恢复示范区" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-21071">驻绿科尔沁：一角钱换一平方米草原计划</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>26,717</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:27%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">27%</span>
				<span class="rate2">剩余16天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-21071">240</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-21071">23</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-28543" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/28/14/54781bc2d00cc_230x175.jpg" alt="培田“老人公益食堂”是培田客家文化交流中心在11年设立的公益项目，主要为孤寡老人提供煮饭服务。食堂服务对象是培田五保老人14位和孤寡老人62位。" title="培田“老人公益食堂”是培田客家文化交流中心在11年设立的公益项目，主要为孤寡老人提供煮饭服务。食堂服务对象是培田五保老人14位和孤寡老人62位。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-28543">为“福建民居第一村”的老人们众筹公益食堂</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>2,109</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:12%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">12%</span>
				<span class="rate2">剩余58天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-28543">39</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-28543">1</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-20034" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/18/16/546afdd096ceb_230x175.jpg" alt="本项目是引进、翻译、出版2014年6月英国出版社的一套自闭症专业教材《ABA完整教程》的第一本。该书版权合同已签署。" title="本项目是引进、翻译、出版2014年6月英国出版社的一套自闭症专业教材《ABA完整教程》的第一本。该书版权合同已签署。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-20034">我为自闭症儿童家长和辅导老师出本书</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>7,512</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:16%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">16%</span>
				<span class="rate2">剩余18天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-20034">86</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-20034">9</a>
    </p>
</div>
</li>
				
	
			</ul>			
		</div>
	<!--focus end-->
</div>
<!--community end--><!--publish static-->
<div class="wrap m-box03">
	<div class="m-headline clearfix">
        <div class="project-title">
            <a href="/chuban" target="_blank">出版</a>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse/id-16">浏览全部</a>
    </div>
	<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">			
				<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-35857" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/28/16/54783499b76b8_230x175.jpg" alt="《个人管理的逻辑》寻求“天使投资人”，让我们一起来参与和见证这本书的诞生。" title="《个人管理的逻辑》寻求“天使投资人”，让我们一起来参与和见证这本书的诞生。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-35857">《个人管理的逻辑》寻求“天使投资人”，与小平一起来做“参与感”</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>1,994</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:40%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">40%</span>
				<span class="rate2">剩余22天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-35857">53</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-35857">5</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-36919" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/01/16/547c27e5707bc_230x175.jpg" alt="从一本书开始，走近生涯咨询师贾杰，让你活得从容、自信、阳光。" title="从一本书开始，走近生涯咨询师贾杰，让你活得从容、自信、阳光。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-36919">《活得明白》，帮助你我寻求一种从容的生活</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>16,358</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:21%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">21%</span>
				<span class="rate2">剩余25天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-36919">134</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-36919">3</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-35716" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/02/10/c2805dc210a377a80c5467edea71ee4f54_230x175.jpg" alt="新的一年  关爱宝贝的最佳礼物
《妈咪宝贝》为您提供专业、权威的育儿知识" title="新的一年  关爱宝贝的最佳礼物
《妈咪宝贝》为您提供专业、权威的育儿知识" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-35716">新的一年  关爱宝贝的最佳礼物</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>5,978</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:60%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">60%</span>
				<span class="rate2">剩余11天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-35716">31</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-35716">3</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-41521" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/18/18/5492a8bcaa817_230x175.jpg" alt="《自媒体的力量》一书，是由新华网组织发起1000多位自媒体人，汇集大量自媒体人独到见解与成功经验，是自媒体最前沿思维的集萃。" title="《自媒体的力量》一书，是由新华网组织发起1000多位自媒体人，汇集大量自媒体人独到见解与成功经验，是自媒体最前沿思维的集萃。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-41521">《自媒体的力量》：分享优秀自媒体人的前沿思想和运营经验</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>51,250</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:103%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">103%</span>
				<span class="rate2">剩余20天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-41521">57</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-41521">2</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-39892" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/03/14/547eb030c771d_230x175.jpg" alt="50位互联网金融CEO的创业心得。王文京，孙陶然等21位顶尖创业高手强烈推荐， 赚钱的行业，全新的玩法，一本书让你彻底玩转互联网“钱生钱”游戏。" title="50位互联网金融CEO的创业心得。王文京，孙陶然等21位顶尖创业高手强烈推荐， 赚钱的行业，全新的玩法，一本书让你彻底玩转互联网“钱生钱”游戏。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-39892">《颠覆金融》：和中华浔一起，玩转互联网金融</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>23,700</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:237%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">237%</span>
				<span class="rate2">剩余12天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-39892">51</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-39892">17</a>
    </p>
</div>
</li>
				
										
			</ul>			
		</div>
	<!--focus end-->
</div>
<!--publish end--><!--recreation static-->
<div class="wrap m-box03">
	<div class="m-headline clearfix">
        <div class="project-title">
            <a href="/yule" target="_blank">娱乐</a>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse/id-10001">浏览全部</a>
    </div>
	<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">			
				<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-47305" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/12/14/d7b09a94b53548340eca4f6e35a194df71_230x175.jpg" alt="张赫宣2014年全新翻唱大碟《点赞》正式发布。这是一张云集了国内外制作团队、收录12首华语经典曲目的翻唱专辑。" title="张赫宣2014年全新翻唱大碟《点赞》正式发布。这是一张云集了国内外制作团队、收录12首华语经典曲目的翻唱专辑。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-47305">张赫宣翻唱专辑《点赞》限量众筹！</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>48,025</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:161%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">161%</span>
				<span class="rate2">剩余10天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-47305">334</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-47305">42</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-22654" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/25/16/5474371b53e08_230x175.jpg" alt="2015打工春晚，已是第四届，这是一台真正属于劳动者自己春晚，一台由基层劳动者来自编、自导、自演的春晚，一台发出劳动者声音的春晚！" title="2015打工春晚，已是第四届，这是一台真正属于劳动者自己春晚，一台由基层劳动者来自编、自导、自演的春晚，一台发出劳动者声音的春晚！" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-22654">2015打工春晚</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>26,640</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:54%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">54%</span>
				<span class="rate2">剩余28天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-22654">101</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-22654">19</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-40141" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/03/15/547eb89571d3e_230x175.jpg" alt="以梦为马——《金刚葫芦侠》进击中的中国英雄联盟" title="以梦为马——《金刚葫芦侠》进击中的中国英雄联盟" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-40141">网剧《金刚葫芦侠》之春节特辑</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>20,000</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:100%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">100%</span>
				<span class="rate2">剩余13天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-40141">19</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-40141">3</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-15271" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201408/15/12/b8602a23646b8fec68d5aab22ef63ff765_230x175.jpg" alt="维也纳约翰.·施特劳斯圆舞曲乐团最早由约翰.施特劳斯于1824年在世界音乐之都-奥地利维也纳创建。老约翰·施特劳斯既是家喻户晓的“圆舞曲之王”小约翰·" title="维也纳约翰.·施特劳斯圆舞曲乐团最早由约翰.施特劳斯于1824年在世界音乐之都-奥地利维也纳创建。老约翰·施特劳斯既是家喻户晓的“圆舞曲之王”小约翰·" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-15271">【12.28】北京·爱乐汇·维也纳约翰·施特劳斯圆舞曲乐团新年音乐会</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>2,764</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:28%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">28%</span>
				<span class="rate2">剩余6天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-15271">45</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-15271">2</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-47578" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/15/15/548e8f6871cc0_230x175.jpg" alt="“Give Me Five 奔跑吧 2015” 广州跨年演唱会" title="“Give Me Five 奔跑吧 2015” 广州跨年演唱会" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-47578">“Give Me Five 奔跑吧 2015” 广州跨年演唱会</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>185</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:1%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">1%</span>
				<span class="rate2">剩余5天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-47578">29</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-47578">3</a>
    </p>
</div>
</li>
				
									
			</ul>			
		</div>
	<!--focus end-->
</div>
<!--recreation end--><!--recreation static-->
<div class="wrap m-box03">
	<div class="m-headline clearfix">
        <div class="project-title">
            <a href="/yishu" target="_blank">艺术</a>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse/id-22">浏览全部</a>
    </div>
	<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">			
				<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-33343" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/22/00/666db3a76d8254b06f9646463ed726be74_230x175.jpg" alt="香道是中国历史悠久的传统艺术，香虽细微，却能集宗教、艺术、医疗、休闲、生活日用诸功能于一体；器载香韵，形传其意。" title="香道是中国历史悠久的传统艺术，香虽细微，却能集宗教、艺术、医疗、休闲、生活日用诸功能于一体；器载香韵，形传其意。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-33343">【粗炻糙器】盘香炉-何不与君焚香畅谈</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>2,617</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:175%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">175%</span>
				<span class="rate2">剩余18天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-33343">25</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-33343">6</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-34801" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/23/21/8cd0ad03a2de1436633b5ff2f69258cb37_230x175.jpg" alt="我是一个大学生，我热爱书法，喜欢那淡淡的墨香。越喜欢我越是发现，光是喜欢是不够，我要让更多的人去认识并喜欢我们的古典文化，我们的国粹。" title="我是一个大学生，我热爱书法，喜欢那淡淡的墨香。越喜欢我越是发现，光是喜欢是不够，我要让更多的人去认识并喜欢我们的古典文化，我们的国粹。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-34801">即将消失的文化——手工制作毛笔</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>6,867</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:138%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">138%</span>
				<span class="rate2">剩余14天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-34801">107</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-34801">11</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-17218" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/15/22/5467667d6b940_230x175.jpg" alt="当下•心空间，一个现代人的静心家园。有茶有琴有书，无忧无虑无恼。我们在这里安住当下、放松身心，品茶听琴、读书会友，感受活在当下的喜悦和自在。" title="当下•心空间，一个现代人的静心家园。有茶有琴有书，无忧无虑无恼。我们在这里安住当下、放松身心，品茶听琴、读书会友，感受活在当下的喜悦和自在。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-17218">当下心空间 邀您品茶听琴</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>27,500</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:138%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">138%</span>
				<span class="rate2">剩余26天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-17218">45</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-17218">23</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-31357" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/19/12/c159dd184edcb11ee2c18f92c925b66d86_230x175.jpg" alt="◤素锦石◢是由一群大学毕业生所开创的原创首饰设计工作室，在追逐梦想的路上有坎坷.有艰辛，  然而我们不曾放弃！" title="◤素锦石◢是由一群大学毕业生所开创的原创首饰设计工作室，在追逐梦想的路上有坎坷.有艰辛，  然而我们不曾放弃！" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-31357">【素锦石】 圆我一个原创设计梦</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>3,333</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:112%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">112%</span>
				<span class="rate2">剩余12天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-31357">26</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-31357">10</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-24391" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/25/11/650410504bb2d02384fc9a5013658d0c84_230x175.jpg" alt="手工雕刻版《清明上河图》，成就我的手工雕刻铜版画梦想。" title="手工雕刻版《清明上河图》，成就我的手工雕刻铜版画梦想。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-24391">收藏纸币上的艺术——成就我铜版雕刻的梦想</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>12,006</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:241%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">241%</span>
				<span class="rate2">剩余14天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-24391">44</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-24391">5</a>
    </p>
</div>
</li>
				
									
			</ul>			
		</div>
	<!--focus end-->
</div>
<!--recreation end--><!--recreation static-->
<div class="wrap m-box03">
	<div class="m-headline clearfix">
        <div class="project-title">
            <a href="/nongye" target="_blank">农业</a>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse/id-28">浏览全部</a>
    </div>
	<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">			
				<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-42607" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/05/19/54819ba9a3981_230x175.jpg" alt="“振坤众茶”第一季：正宗安溪铁观音。" title="“振坤众茶”第一季：正宗安溪铁观音。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-42607">振坤众茶：安溪铁观音世家传人王振坤邀您共赏正宗铁观音</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>58,212</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:147%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">147%</span>
				<span class="rate2">剩余2天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-42607">113</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-42607">32</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-32782" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/03/11/547e813eb43fc_230x175.jpg" alt="本次我们来到北京原生态种植的草莓基地，通过实地考察将这里特有的原味草莓分享给大家，给农户带来收益，鼓励他们，让传统种植方式延续，让天空更多蔚蓝。" title="本次我们来到北京原生态种植的草莓基地，通过实地考察将这里特有的原味草莓分享给大家，给农户带来收益，鼓励他们，让传统种植方式延续，让天空更多蔚蓝。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-32782">分享京郊原生态种植的原味道草莓 让传统种植延续</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>16,213</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:325%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">325%</span>
				<span class="rate2">剩余11天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-32782">113</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-32782">26</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-23038" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/06/23/5cbf69f44343e42081d7d291c2bd748d25_230x175.jpg" alt="井蛙咖啡在保山有了自己的咖啡庄园，2014年12月咖啡成熟了。我们将带您一起去体验云南不同地域的咖啡。我们要让全世界的人街道中国也有好咖啡！" title="井蛙咖啡在保山有了自己的咖啡庄园，2014年12月咖啡成熟了。我们将带您一起去体验云南不同地域的咖啡。我们要让全世界的人街道中国也有好咖啡！" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-23038">【众筹第二波】井蛙咖啡风味体验之旅——地域与风味的探寻</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>10,280</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:103%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">103%</span>
				<span class="rate2">剩余16天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-23038">53</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-23038">23</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-32833" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/21/01/86d73f5e9eabfb3cc7508c4d8669beb691_230x175.jpg" alt="黄山洋湖源天赐御茶，1080米的珍贵，稀有净土茶园，让我们一起来种茶、品茶。" title="黄山洋湖源天赐御茶，1080米的珍贵，稀有净土茶园，让我们一起来种茶、品茶。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-32833">黄山洋湖源天赐御茶 品在天然 贵在稀有</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>2,075</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:21%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">21%</span>
				<span class="rate2">剩余19天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-32833">27</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-32833">7</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-46492" >
	<img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/11/10/548902b817e25_230x175.jpg" alt="如果有一种饮品可以包罗万象，那就是茶。
如果有一种茶，可以承载感悟与回味，那就是青山客。
自你偶遇青山客的那一瞬，美好的记忆即将由此开始。" title="如果有一种饮品可以包罗万象，那就是茶。
如果有一种茶，可以承载感悟与回味，那就是青山客。
自你偶遇青山客的那一瞬，美好的记忆即将由此开始。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-46492">好茶自己会说话——来自深山的纯老树普洱茶</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>4,452</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:45%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">45%</span>
				<span class="rate2">剩余30天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-46492">11</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-46492">1</a>
    </p>
</div>
</li>
				
									
			</ul>			
		</div>
	<!--focus end-->
</div>
<!--recreation end-->


<!--video static-->
<div class="mong">
    <div class="m-video" wx-lz="http://zcstatic.wangxingroup.com/v3/static/images/index/pio_42.png?v=">
        <div class="wrap m-what-par">
            <div class="m-what">
               <h6>众筹网是什么？</h6>
               在这里发起你的梦想、创意和创业计划，便可面对<br>公众集资，让有创造力的你获得所需要的资金，帮助你的梦想实现。
           </div>
           <div class="z-flash">
           <!--a id="Js-flash" href="###" class="flash-botton"></a-->
           <!-- 可替换图片 start -->
           <p class=" flash-img"><img width="671" height="329" wx-lz="http://zcstatic.wangxingroup.com/v3/static/images/index/pio_09.jpg?=20140918?v="></p>
           <!-- 可替换图片 end -->
           </div>
        </div>
    </div>
</div>
<!--video end-->
<!--financing static-->
<div class="wrap m-box06">
	<!-- 数字class名 number 0-9
       number,number1,number2,number3n,umber4,number5,number6,number7,number8,number9
       逗号 comma
	 -->
	<div id="Js-scrollNum" class="mm">
		<dl>
			<dt class="odometer" data-num="5943">0</dt>
			<dd><i class="s-01"></i>项目总数</dd>
		</dl>
		<dl>
			<dt class="odometer" data-num="181432">0</dt>
			<dd><i class="s-02"></i>累计支持人</dd>
		</dl>
		<dl>
			<dt class="odometer" data-num="70223475">0</dt>
			<dd><i class="s-03"></i>累计筹资金额</dd>
		</dl>
	</div>
</div>
<!--financing end-->
<!--complete static-->
<div class="wrap m-box07">
	<h3>他们都成功了</h3>
	<ul class="m-complete clearfix">
	<li>
			<div class="z-succeed img-scale">
                <a href="http://www.zhongchou.cn/deal-show/id-10629" target="_blank"><img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/19/17/1416390413.jpg"></a>
				<h4><a href="http://www.zhongchou.cn/deal-show/id-10629">【7.4】HITFM Live糖果 邓超演绎《分手大师》逗比大爬梯</a></h4>
				<p>
					<span class="z-raising z-raising-01">共筹资<em>￥</em><i>43,128.60</i></span>
					<span class="z-initiator">发起人：HITFM</span>
				</p>
			</div>
		</li><li>
			<div class="z-succeed img-scale">
                <a href="http://www.zhongchou.cn/deal-show/id-17442" target="_blank"><img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/19/16/1416386060.jpg"></a>
				<h4><a href="http://www.zhongchou.cn/deal-show/id-17442">官方原著授权，陈柏言三年倾情创作《后宫·甄嬛传》画集 </a></h4>
				<p>
					<span class="z-raising z-raising-01">共筹资<em>￥</em><i>193,877</i></span>
					<span class="z-initiator">发起人：陈柏言</span>
				</p>
			</div>
		</li><li>
			<div class="z-succeed img-scale">
                <a href="http://www.zhongchou.cn/deal-show/id-22517" target="_blank"><img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201411/19/16/1416386064.jpg"></a>
				<h4><a href="http://www.zhongchou.cn/deal-show/id-22517">“因为有你，YIF 313聚会” 城市征集</a></h4>
				<p>
					<span class="z-raising z-raising-01">共筹资<em>￥</em><i>5,702</i></span>
					<span class="z-initiator">发起人：Yif国际粉丝后援会</span>
				</p>
			</div>
		</li><li>
			<div class="z-succeed img-scale">
                <a href="http://www.zhongchou.cn/deal-show/id-22459" target="_blank"><img src="" wx-lz="http://zrstatic.wangxingroup.com/attachment/201412/01/16/1417423893.jpg"></a>
				<h4><a href="http://www.zhongchou.cn/deal-show/id-22459">【海航社会创新创投】三江并流区域的社区公益——绿色蜂蜜养殖项目</a></h4>
				<p>
					<span class="z-raising z-raising-01">共筹资<em>￥</em><i>194,820</i></span>
					<span class="z-initiator">发起人：151****5770</span>
				</p>
			</div>
		</li>	</ul>
</div>
<!--complete end-->
<!--dream static-->
<div class="m-box08">

	<form action="/deals" method="get" wx-validator>
        <div class="m-hank">
          <input placeholder="搜索更多梦想" name="k" placeholder="搜索更多梦想" wx-validator-rule="required" type="text" wx-validator-notip >
          <!-- <span class="wx-placeholder" style="font-size:16px; color:#ccc;position:absolute;top:-10px;*top:-10px;left:20px;*left:20px;">hjgjhg搜索更多梦想</span> -->
          <a href="javascript:;" type="submit" class="bh-mhnbo"><i></i></a>
        </div>
    </form>
    <!-- 
    <div class="m-suoml">
      <em>热门搜索：</em>
      <a href="###" target="_blank">爱情，</a>
      <a href="###" target="_blank">兴趣，</a>
      <a href="###" target="_blank">甄嬛传，</a>
      <a href="###" target="_blank">杨坤，</a>
      <a href="###" target="_blank">众筹，</a>
      <a href="###" target="_blank">栎阳 , </a>
      <a href="###" target="_blank"> 甄嬛传，</a>
      <a href="###" target="_blank">杨坤，</a>
      <a href="###" target="_blank">众筹 </a>
    </div>
     -->
	<div class="bottom-img"><img wx-lz="http://zcstatic.wangxingroup.com/v3/static/images/index/pio_49.png?=20140912?v="></div>
</div>
<!--dream end-->
<!--main end-->
<%include index_footer.ejs%>