
<%include index_header.ejs%>
<!--banner static-->
	<div class="m-bannerimg">        
            <ul id="slider" class="z-bimg clearfix">
            <li><a target="_blank" href="deal-show/id-46396"><img src="http://zcr1.ncfstatic.com/attachment/201501/22/12/1421899437.jpg" data-src="http://zcr1.ncfstatic.com/attachment/201501/22/12/1421899437.jpg"/></a></li><li><a target="_blank" href="deal-show/id-46525"><img src="" data-src="http://zcr1.ncfstatic.com/attachment/201501/23/15/1421999731.jpg"/></a></li><li><a target="_blank" href="deal-show/id-62473"><img src="" data-src="http://zcr1.ncfstatic.com/attachment/201501/22/12/1421899473.jpg"/></a></li><li><a target="_blank" href="deal-show/id-59362"><img src="" data-src="http://zcr1.ncfstatic.com/attachment/201501/22/11/1421895704.jpg"/></a></li><li><a target="_blank" href="deal-show/id-59500"><img src="" data-src="http://zcr1.ncfstatic.com/attachment/201501/22/11/1421895740.jpg"/></a></li><li><a target="_blank" href="deal-show/id-61639"><img src="" data-src="http://zcr1.ncfstatic.com/attachment/201501/22/11/1421895779.jpg"/></a></li><li><a href="http://www.yuanshihui.com/" target="_blank" ><img src="" data-src="http://zcr1.ncfstatic.com/attachment/201501/22/11/1421895765.jpg"/></a></li>            </ul>        
            <div class="m-mesh">
                <span class="z-meshl"></span>
                <span class="z-meshr"></span>
            </div>      
    </div> 
<!--banner end-->
<!--subnav static-->
<!-- 浮动导航class名 z-subnav -->
<div class="m-subnav" id="nav">
	<div class="wrap">
		<div class="subnav-left Js-cata">
			<a href="/browse">全部</a>
			<a href="http://www.zhongchou.cn/keji">科技</a><a href="http://www.zhongchou.cn/gongyi">公益</a><a href="http://www.zhongchou.cn/chuban">出版</a><a href="http://www.zhongchou.cn/yule">娱乐</a><a href="http://www.zhongchou.cn/yishu">艺术</a><a href="http://www.zhongchou.cn/nongye">农业</a><a href="http://www.zhongchou.cn/browse/id-10003">商铺</a><a href="http://www.zhongchou.cn/browse/id-18">其他</a>		</div>
		<div class="subnav-right Js-cata">			
			<a href="http://www.zhongchou.cn/difangzhan">地方站</a>
			<a href="http://www.zhongchou.cn/deals-tags/t-众筹制造">众筹制造</a>
			<a href="http://www.zhongchou.cn/open">合作专区</a>	
			
		</div>
	</div>      
</div>
<!--subnav end-->
<div class="wrap m-box">
	<div class="m-headline clearfix">
	    <div class="project-title">
            <span>热门项目</span>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse">浏览全部</a>
    </div>
		<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">
				<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-66205" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/13/15/54b4cda9f3482_230x175.jpg" alt="用个人微小的力量，推动环境保护一大步的发展" title="用个人微小的力量，推动环境保护一大步的发展" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-66205">用行动拯救“迷失的家园”</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>7,156</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:8%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">8%</span>
				<span class="rate2">剩余8天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-66205">54</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-66205">11</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-66190" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/14/15/54b621f0b49e5_230x175.jpg" alt="以“小手拉小手”的形式，集合900位杭州孩子的爱心及社会力量，为福建龙岩武平县象洞中心学校筹集多媒体教室改造费用，为乡村孩子们打开一扇阅读世界的窗口。" title="以“小手拉小手”的形式，集合900位杭州孩子的爱心及社会力量，为福建龙岩武平县象洞中心学校筹集多媒体教室改造费用，为乡村孩子们打开一扇阅读世界的窗口。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-66190">童画爱的世界——龙岩象洞中心学校多媒体教室众筹</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>2,586</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:6%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">6%</span>
				<span class="rate2">剩余30天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-66190">20</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-66190">8</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-41353" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201412/20/11/5494ea245bc62_230x175.jpg" alt="《“绘本人生”老人原创绘本作品合集》是44位上至83岁，下至60岁的老人的人生故事。他们把故事画在纸上，把爱注入心里，我们希望印出来与大家分享。" title="《“绘本人生”老人原创绘本作品合集》是44位上至83岁，下至60岁的老人的人生故事。他们把故事画在纸上，把爱注入心里，我们希望印出来与大家分享。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-41353">老人的年货之《“绘本人生”老人原创绘本作品合集》</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>2,335</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:16%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">16%</span>
				<span class="rate2">剩余20天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-41353">62</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-41353">13</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-67096" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/13/19/3a2dbaebac06c042e3b22c742638896454_230x175.jpg" alt="潮Link是杭州单向街新研发的一款iBeacon设备，主要解决商户与当地移动用户之间的营销和互动问题。" title="潮Link是杭州单向街新研发的一款iBeacon设备，主要解决商户与当地移动用户之间的营销和互动问题。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-67096">潮Link——智能iBeacon基站</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>110,590</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:369%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">369%</span>
				<span class="rate2">剩余13天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-67096">115</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-67096">53</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-53734" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201412/23/15/113a818948ef286a20789294c5182d4878_230x175.jpg" alt="【拍摄壮族生态影像及创作壮族生态海报】​用现代化的手段，以方块壮字为切入点，以点带面，传承发扬壮族文化。" title="【拍摄壮族生态影像及创作壮族生态海报】​用现代化的手段，以方块壮字为切入点，以点带面，传承发扬壮族文化。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-53734">延续壮文化生命——方块壮字的构造拍摄</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>7,374</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:76%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">76%</span>
				<span class="rate2">剩余40天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-53734">133</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-53734">16</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-48598" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201412/22/15/5497cf5594f44_230x175.jpg" alt="余晨参与了央视大型纪录片《互联网时代》的创作，这本《看见未来：互联网引领者和他们的世界》正来源于此，其中收录了世界顶尖互联网引领者的智慧。" title="余晨参与了央视大型纪录片《互联网时代》的创作，这本《看见未来：互联网引领者和他们的世界》正来源于此，其中收录了世界顶尖互联网引领者的智慧。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-48598">和我一起，看见未来——余晨对话世界顶尖互联网引领者</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>231,961</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:78%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">78%</span>
				<span class="rate2">剩余6天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-48598">290</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-48598">20</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-63487" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/07/00/3d817f444826af768e674e4fe4216c1284_230x175.jpg" alt="用“人话”讲懂互联网金融" title="用“人话”讲懂互联网金融" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-63487">带你装逼带你飞——《风口上的猪：一本书看懂互联网金融》</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>26,045</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:131%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">131%</span>
				<span class="rate2">剩余12天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-63487">229</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-63487">41</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-72235" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/22/13/54c08fa339a18_230x175.jpg" alt="这是一场创造历史的无硝烟环保的战争，它促成了一个最古老的足球国度和现代体育最领先的足球王国之间的撕逼战争。这将是中国足球业余足球首次走出国门应约比赛！" title="这是一场创造历史的无硝烟环保的战争，它促成了一个最古老的足球国度和现代体育最领先的足球王国之间的撕逼战争。这将是中国足球业余足球首次走出国门应约比赛！" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-72235">国际约战足球纪录片《约战西班牙》拍摄”国际约战 启航应战“中国业余足球队首次西征</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>14</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:1%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">1%</span>
				<span class="rate2">剩余7天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-72235">5</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-72235">6</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-68224" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/15/13/1e15e23d80f0c5123588a4ebcea7115034_230x175.jpg" alt="{曲锐和朋友们}{括弧}年货——宁夏滩羊，晓慧姐在原产地帮您采购宁夏滩羊。{曲锐&amp;朋友们}致力于将周围优秀的人和事推广给大众和投资人。" title="{曲锐和朋友们}{括弧}年货——宁夏滩羊，晓慧姐在原产地帮您采购宁夏滩羊。{曲锐&amp;朋友们}致力于将周围优秀的人和事推广给大众和投资人。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-68224">【曲锐和朋友们】{括弧}年货——宁夏滩羊</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>6,193</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:53%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">53%</span>
				<span class="rate2">剩余5天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-68224">31</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-68224">10</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-66217" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/12/17/bc3057fd689e55f49749593e7a08ad4628_230x175.jpg" alt="最美霞浦海鲜：沐屿岛 • 活海参" title="最美霞浦海鲜：沐屿岛 • 活海参" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-66217">最美霞浦海鲜：沐屿岛 • 活海参</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>30,147</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:99%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">99%</span>
				<span class="rate2">剩余4天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-66217">111</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-66217">14</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-43846" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/08/12/f8412f691b5f0b632ad0747edaa6f79545_230x175.jpg" alt="本片基于真实事件和第一手资料，是一部真实纪录中国公安部与非洲安哥拉国家犯罪调查局联合行动，打击跨国犯罪的探案故事。" title="本片基于真实事件和第一手资料，是一部真实纪录中国公安部与非洲安哥拉国家犯罪调查局联合行动，打击跨国犯罪的探案故事。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-43846">真实电影《国家行动》</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>138,521</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:7%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">7%</span>
				<span class="rate2">剩余45天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-43846">96</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-43846">12</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-65152" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/13/16/54b4d6d884826_230x175.jpg" alt="12年前，曾经创造了中国第一卡车赛事历史，现在来自世界各国的顶尖赛车手，将在美丽中国，进行媲美F1的赛事，在这里要进行车队的组建。" title="12年前，曾经创造了中国第一卡车赛事历史，现在来自世界各国的顶尖赛车手，将在美丽中国，进行媲美F1的赛事，在这里要进行车队的组建。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-65152">50元，让你成为世界级赛车队的老板</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>1,307</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:1%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">1%</span>
				<span class="rate2">剩余28天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-65152">22</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-65152">15</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-53920" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201412/23/18/b5d133cac8d250734f21b59d6d8ecdc516_230x175.jpg" alt="独具魅力的青年艺术家李玉刚，运用独特的艺术表现力，将东方之美、东方之声展现，将关于民国的旧梦演绎出多样的风格与流派，演化出精彩别致的艺术盛典。" title="独具魅力的青年艺术家李玉刚，运用独特的艺术表现力，将东方之美、东方之声展现，将关于民国的旧梦演绎出多样的风格与流派，演化出精彩别致的艺术盛典。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-53920">《民国旧梦•李玉刚》限量版珍藏黑胶紧急众筹！</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>22,928</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:115%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">115%</span>
				<span class="rate2">剩余7天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-53920">244</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-53920">11</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-68191" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/16/10/54b8758d1e62a_230x175.jpg" alt="“众筹经纪实务”是由投融中国联盟联合“众筹大学”组织发起，旨在为社会培养众筹行业人才的教育培训工程。计划通过三年时间，为培养1000名众筹专业人员。" title="“众筹经纪实务”是由投融中国联盟联合“众筹大学”组织发起，旨在为社会培养众筹行业人才的教育培训工程。计划通过三年时间，为培养1000名众筹专业人员。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-68191"> 众筹经纪师千人计划实训班（第一期）3月27日北京开班</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>3,600</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:12%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">12%</span>
				<span class="rate2">剩余60天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-68191">23</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-68191">7</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-47950" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201412/16/14/548fcf85c2dd4_230x175.jpg" alt="中信-台达国际是由中信集团于世界度假带——海口，以有20年历史积淀的台达高尔夫球场为生态景观资源所铸造的千亩高尔夫大盘，项目占地逾一千六百多亩。" title="中信-台达国际是由中信集团于世界度假带——海口，以有20年历史积淀的台达高尔夫球场为生态景观资源所铸造的千亩高尔夫大盘，项目占地逾一千六百多亩。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-47950">到海南，做中信度假地产合伙人！</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>4,750,021</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:123%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">123%</span>
				<span class="rate2">剩余20天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-47950">153</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-47950">35</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-54400" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/08/16/54ae3efc1a80a_230x175.jpg" alt="旅之星权盾数据防复制U盘，知识产权的保护者。" title="旅之星权盾数据防复制U盘，知识产权的保护者。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-54400">权盾——超安全加密U盘（分区版）</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>1,611</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:17%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">17%</span>
				<span class="rate2">剩余43天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-54400">31</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-54400">17</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-68029" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/16/16/54b8cefb70392_230x175.jpg" alt="我们众筹开发一款多功能小型数控自动化平台，他主要特点就是可以更换多种模块，目前已经有3D打印模块，CNC模块，激光雕刻模块，更多的模块正在开发中" title="我们众筹开发一款多功能小型数控自动化平台，他主要特点就是可以更换多种模块，目前已经有3D打印模块，CNC模块，激光雕刻模块，更多的模块正在开发中" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-68029">积木多功能3D打印机——搭建你的无限可能</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>38,190</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:77%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">77%</span>
				<span class="rate2">剩余31天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-68029">107</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-68029">55</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-68215" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/15/14/54b763742fc3f_230x175.jpg" alt="2015年伊始，美好的祝愿从众筹网出发，在这里可以发起你的梦想、创意和创业计划。众筹网将为您准备贺岁答谢超值礼包，您可以在此回馈礼品给与支持者们。" title="2015年伊始，美好的祝愿从众筹网出发，在这里可以发起你的梦想、创意和创业计划。众筹网将为您准备贺岁答谢超值礼包，您可以在此回馈礼品给与支持者们。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-68215">2015感恩回馈 寻找最暖心众筹发起人</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>120</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:24%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">24%</span>
				<span class="rate2">剩余21天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-68215">10</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-68215">5</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-49993" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/21/11/54bf198b32ec6_230x175.jpg" alt="承王者之气，领皇家之福" title="承王者之气，领皇家之福" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-49993">承王者之气 领皇家之福</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>1,374</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:138%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">138%</span>
				<span class="rate2">剩余12天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-49993">36</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-49993">11</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-49996" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/21/11/54bf1c387d3cf_230x175.jpg" alt="一杯子，一辈子。喜气羊羊创意杯寓意美好，运用景德镇传统工艺高温精制而成，造型考究，创意独特。" title="一杯子，一辈子。喜气羊羊创意杯寓意美好，运用景德镇传统工艺高温精制而成，造型考究，创意独特。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-49996">喜气羊羊创意杯  2015新年贺礼</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>3,733</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:75%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">75%</span>
				<span class="rate2">剩余15天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-49996">40</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-49996">12</a>
    </p>
</div>
</li>
				
								
			</ul>			
		</div>
	<!--focus end-->
</div><!--fabricate static-->
<div class="wrap m-box01">
        <div class="project-title project-title-none">
            <span>众筹制造</span>
        </div>
	<div class="img-show img-scale">
		<a class="img-01" href="/deal-show/id-61648" target="_blank"><img src="" wx-lz ="http://zcr1.ncfstatic.com/attachment/201501/19/11/1421639550.jpg" alt="羊年薅羊毛——众筹去远方之“三亚”站"></a><a class="img-02" href="/deal-show/id-67672" target="_blank"><img src="" wx-lz ="http://zcr1.ncfstatic.com/attachment/201501/19/11/1421639580.jpg" alt="枫水湾温泉城冬日火爆众筹开启——1元抢温泉票  198元抽房子"></a><a class="img-03" href="/deal-show/id-35299" target="_blank"><img src="" wx-lz ="http://zcr1.ncfstatic.com/attachment/201501/19/11/1421639593.jpg" alt="怀柔油栗，特制烤箱，栗子控们自己动手做健康美味烤栗子吧"></a><a class="img-04" href="/deal-show/id-64609" target="_blank"><img src="" wx-lz ="http://zcr1.ncfstatic.com/attachment/201501/19/11/1421639607.jpg" alt="城口老腊肉腊肠腊猪肝腊猪蹄  重庆腊味让你吃得停不下来"></a><a class="img-05" href="/deal-show/id-41935" target="_blank"><img src="" wx-lz ="http://zcr1.ncfstatic.com/attachment/201501/19/11/1421639626.jpg" alt="安妮时尚原创设计—新年红色吉祥系列天然珠宝饰品"></a>	</div>
</div>
<!--fabricate end--><!--technology static-->
<div class="wrap m-box03">
	<div class="m-headline clearfix">
        <div class="project-title">
            <a href="/keji" target="_blank">科技</a>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse/id-10000">浏览全部</a>
    </div>
		<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">			
				<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-49498" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/14/14/54b610b8a452a_230x175.jpg" alt="“健康眼”儿童投影早教机是一款用投影方式帮助儿童完成对早教内容学习的玩具。产品通过“健康、智能”的操作方式，使孩子一边观赏动漫内容，一边实现健康早教。" title="“健康眼”儿童投影早教机是一款用投影方式帮助儿童完成对早教内容学习的玩具。产品通过“健康、智能”的操作方式，使孩子一边观赏动漫内容，一边实现健康早教。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-49498">遥蓝健康眼儿童投影早教机T1——刺激视觉发育不伤眼</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>12,434</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:63%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">63%</span>
				<span class="rate2">剩余34天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-49498">80</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-49498">24</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-59146" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201412/30/14/689e542bdd4fe7c19f62cb3b2e416e8822_230x175.jpg" alt="呼爽隐形鼻罩是一款极具创新性的鼻腔过滤器，可以完美代替口罩。
它具有四大特征：真正有效；真正透气；真正隐形；真正便携。
您的支持将改变生活！" title="呼爽隐形鼻罩是一款极具创新性的鼻腔过滤器，可以完美代替口罩。
它具有四大特征：真正有效；真正透气；真正隐形；真正便携。
您的支持将改变生活！" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-59146">呼爽隐形鼻罩-藏在您鼻子里的防霾精灵</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>12,294</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:62%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">62%</span>
				<span class="rate2">剩余9天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-59146">204</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-59146">74</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-63730" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/07/15/7df0d82110b96ba690b2e891444bc08562_230x175.jpg" alt="明音第三代磁悬浮音箱产品,全球首款带NFC 移动电源的 悬浮音箱!" title="明音第三代磁悬浮音箱产品,全球首款带NFC 移动电源的 悬浮音箱!" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-63730">磁悬浮蓝牙音箱——为音质而生 创意智能音箱礼品</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>8,644</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:18%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">18%</span>
				<span class="rate2">剩余17天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-63730">101</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-63730">30</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-68716" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/22/14/54c09bb123d98_230x175.jpg" alt="意创国内首款可种植空气净化器众筹首发。" title="意创国内首款可种植空气净化器众筹首发。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-68716">国内首款可种植空气净化器</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>2,403</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:49%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">49%</span>
				<span class="rate2">剩余7天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-68716">37</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-68716">27</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-31237" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201411/19/10/f7235cdc96cbf8f76895e9890cc4c7f410_230x175.jpg" alt="【众筹邮驿】品牌暨推出50位设计师的500张明信片之后推出了最新新品，中国邮政奉献了神秘大礼哦。
绝无仅有的珍藏版明信片套册，每册仅有一份。" title="【众筹邮驿】品牌暨推出50位设计师的500张明信片之后推出了最新新品，中国邮政奉献了神秘大礼哦。
绝无仅有的珍藏版明信片套册，每册仅有一份。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-31237">【众筹邮驿】奉上最新版明信片册</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>8,440</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:282%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">282%</span>
				<span class="rate2">剩余3天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-31237">42</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-31237">14</a>
    </p>
</div>
</li>
				
	
			</ul>			
		</div>
	<!--focus end-->
</div>
<!--technology end--><!--community static-->
<div class="wrap m-box02">
	<div class="m-headline clearfix">
        <div class="project-title">
            <a href="/gongyi" target="_blank">公益</a>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse/id-23">浏览全部</a>
    </div>	
	<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">
				<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-60121" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/09/10/54af3ea15650d_230x175.jpg" alt="“番茄太阳阅读馆”计划是一个长期的公益项目，目前已经开展实施了六个月，旨在服务常州春江镇2-18岁人群的家庭群体，尤其是新市民的青少年。" title="“番茄太阳阅读馆”计划是一个长期的公益项目，目前已经开展实施了六个月，旨在服务常州春江镇2-18岁人群的家庭群体，尤其是新市民的青少年。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-60121">番茄太阳阅读馆——农村公益阅读馆</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>12,884</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:86%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">86%</span>
				<span class="rate2">剩余74天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-60121">119</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-60121">10</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-55303" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201412/31/10/54a36122e7956_230x175.jpg" alt="发起公益众筹捐助国家贫困县河南睢县李老村小学翻修教室和装置取暖设备，回报黑五类杂粮特产和当地免费旅游" title="发起公益众筹捐助国家贫困县河南睢县李老村小学翻修教室和装置取暖设备，回报黑五类杂粮特产和当地免费旅游" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-55303">温暖农村读书屋 回报睢县黑杂粮</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>126,599</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:99%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">99%</span>
				<span class="rate2">剩余4天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-55303">232</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-55303">21</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-39013" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201412/03/11/547e8a04992cb_230x175.jpg" alt="我多么希望孩子们可以有一个操场，在那里打球，玩乐活动。而我所在藏区的一所民办藏族学校，孩子们下了课只有在草地上趴着玩石头，因此我想筹建一座运动场。" title="我多么希望孩子们可以有一个操场，在那里打球，玩乐活动。而我所在藏区的一所民办藏族学校，孩子们下了课只有在草地上趴着玩石头，因此我想筹建一座运动场。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-39013">托起明天的太阳——为藏区的孩子筹建一座运动场</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>54,124</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:68%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">68%</span>
				<span class="rate2">剩余27天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-39013">178</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-39013">35</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-48997" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201412/24/16/549a755fefc83_230x175.jpg" alt="“水公益众筹”是由益水公益组织、清泉计划、本禹志愿服务队红杜鹃爱心社、北回归线爱心协会（NGO组织）共同发起的公益活动，让人人都能喝上健康水。" title="“水公益众筹”是由益水公益组织、清泉计划、本禹志愿服务队红杜鹃爱心社、北回归线爱心协会（NGO组织）共同发起的公益活动，让人人都能喝上健康水。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-48997">水公益众筹——让人人都能喝上健康水</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>12,065</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:7%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">7%</span>
				<span class="rate2">剩余12天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-48997">557</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-48997">49</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-63766" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/13/16/54b4d430ed7b4_230x175.jpg" alt="“奇思妙想进大山”通过艺术支教活动让山里的孩子体会到美，感受到美，将爱与希望带进大山。所筹善款用于贵州省黔东南州台江县番省小学艺术启发课程。" title="“奇思妙想进大山”通过艺术支教活动让山里的孩子体会到美，感受到美，将爱与希望带进大山。所筹善款用于贵州省黔东南州台江县番省小学艺术启发课程。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-63766">奇思妙想进大山创意美术传播</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>5,260</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:12%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">12%</span>
				<span class="rate2">剩余38天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-63766">38</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-63766">5</a>
    </p>
</div>
</li>
				
	
			</ul>			
		</div>
	<!--focus end-->
</div>
<!--community end--><!--publish static-->
<div class="wrap m-box03">
	<div class="m-headline clearfix">
        <div class="project-title">
            <a href="/chuban" target="_blank">出版</a>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse/id-16">浏览全部</a>
    </div>
	<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">			
				<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-71887" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/21/16/54bf609c2d505_230x175.jpg" alt="我们将在2015年推出《中国天使投资》一书以及天使投资系列线下活动，为创业者和投资人提供更好的知识、平台与机会。" title="我们将在2015年推出《中国天使投资》一书以及天使投资系列线下活动，为创业者和投资人提供更好的知识、平台与机会。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-71887">成思危作序，创业者必读的《中国天使投资》</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>3,210</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:33%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">33%</span>
				<span class="rate2">剩余46天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-71887">41</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-71887">7</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-62773" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/07/16/66f77c865277fd4e63bdc3422bf7e3b457_230x175.jpg" alt="由一路听天下有声制作团队联合著名专业话剧演员周建龙先生播演，进行《盗墓笔记7邛笼石影》、《盗墓笔记捌：大结局（上、下）》有声版众筹。" title="由一路听天下有声制作团队联合著名专业话剧演员周建龙先生播演，进行《盗墓笔记7邛笼石影》、《盗墓笔记捌：大结局（上、下）》有声版众筹。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-62773">圆《盗墓笔记》有声经典之作——《盗墓笔记》七八部大结局有声小说众筹</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>16,956</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:17%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">17%</span>
				<span class="rate2">剩余43天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-62773">246</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-62773">21</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-61618" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/12/18/54b3a4b5f0114_230x175.jpg" alt="“爱曾让我们单身，也让我们在一起。”
《只因单身在一起》四位主创现实爱情观，首度大曝光！
官方独家授权图书《你等的人同样在等你》众筹上线！" title="“爱曾让我们单身，也让我们在一起。”
《只因单身在一起》四位主创现实爱情观，首度大曝光！
官方独家授权图书《你等的人同样在等你》众筹上线！" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-61618">《只因单身在一起》主创团队倾情首创剧集之外的情感历程以及他们的专属爱情态度！</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>3,360</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:4%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">4%</span>
				<span class="rate2">剩余13天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-61618">126</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-61618">61</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-42439" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201412/08/10/d4243143a32f64ed2d0cebdd27b5a2e543_230x175.jpg" alt="《无为而治》　将企业家从繁累的日常管理中解脱出来，去旅游、去度假、去打高尔夫……" title="《无为而治》　将企业家从繁累的日常管理中解脱出来，去旅游、去度假、去打高尔夫……" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-42439">《无为而治》:从这里开始，让我们洞悉可以自动执行的精巧制度，是如何设计出来的</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>32,585</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:109%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">109%</span>
				<span class="rate2">剩余66天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-42439">133</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-42439">23</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-66661" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/13/17/54b4e0f4eb255_230x175.jpg" alt="互联网金融：你身边的革命！
由来自中央财经大学、中南大学、中国人民银行、国家开发银行等15位经济学、金融学博士为您研判与辨析。" title="互联网金融：你身边的革命！
由来自中央财经大学、中南大学、中国人民银行、国家开发银行等15位经济学、金融学博士为您研判与辨析。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-66661">“中国式”互联网金融：理论、模式与趋势之辨</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>12,846</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:37%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">37%</span>
				<span class="rate2">剩余78天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-66661">111</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-66661">10</a>
    </p>
</div>
</li>
				
										
			</ul>			
		</div>
	<!--focus end-->
</div>
<!--publish end--><!--recreation static-->
<div class="wrap m-box03">
	<div class="m-headline clearfix">
        <div class="project-title">
            <a href="/yule" target="_blank">娱乐</a>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse/id-10001">浏览全部</a>
    </div>
	<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">			
				<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-46330" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/14/17/54b6338ae9e3c_230x175.jpg" alt="发福利啦，各位绅士注意啦，美少女死神还我H之魂官网纪念品登陆中国，这样的机会，怎么能错过？" title="发福利啦，各位绅士注意啦，美少女死神还我H之魂官网纪念品登陆中国，这样的机会，怎么能错过？" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-46330">【福利！】美少女死神还我H之魂 日版官方授权周边限量首发</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>1,790</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:2%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">2%</span>
				<span class="rate2">剩余79天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-46330">23</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-46330">11</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-50446" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201412/18/15/49c20d9463eb33eee370ab4159ed7a7236_230x175.jpg" alt="回顾周杰伦的每一张专辑，似乎都只有他一个人。因此选用专辑为创作素材，将每一张加入昆凌，并模仿专辑字体设计出“新婚快乐”，由此成为一套13张的明信片。" title="回顾周杰伦的每一张专辑，似乎都只有他一个人。因此选用专辑为创作素材，将每一张加入昆凌，并模仿专辑字体设计出“新婚快乐”，由此成为一套13张的明信片。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-50446">周杰伦婚纱专辑明信片</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>480</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:14%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">14%</span>
				<span class="rate2">剩余9天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-50446">68</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-50446">6</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-62362" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/05/16/a9c3d29f937ff49c5a633425dca5296078_230x175.jpg" alt="原点海归足球队，海归人自己的球队

我们立志成为最职业的业余球队，用职业的态度推动草根足球的发展

寻求赛前广告赞助" title="原点海归足球队，海归人自己的球队

我们立志成为最职业的业余球队，用职业的态度推动草根足球的发展

寻求赛前广告赞助" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-62362">原点海归足球队2015赛季</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>3,260</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:17%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">17%</span>
				<span class="rate2">剩余74天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-62362">35</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-62362">7</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-30946" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201411/18/17/b93103e67816432ee05cd3ad8389a29e92_230x175.jpg" alt="音乐题材短片，《通到爱》（暂定名）" title="音乐题材短片，《通到爱》（暂定名）" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-30946">音乐题材短片——《通到爱》</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>4,050</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:32%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">32%</span>
				<span class="rate2">剩余5天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-30946">73</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-30946">6</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-61822" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/05/00/a104c622c9471b4ec8fc26bd57e3667721_230x175.jpg" alt="一个源于生活，高于生活的故事，一个关于梦想和现实的故事，一部来自厦大90后学生的梦想微电影！" title="一个源于生活，高于生活的故事，一个关于梦想和现实的故事，一部来自厦大90后学生的梦想微电影！" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-61822">厦门大学学生原创微电影《卞和》</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>7,633</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:153%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">153%</span>
				<span class="rate2">剩余42天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-61822">254</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-61822">14</a>
    </p>
</div>
</li>
				
									
			</ul>			
		</div>
	<!--focus end-->
</div>
<!--recreation end--><!--recreation static-->
<div class="wrap m-box03">
	<div class="m-headline clearfix">
        <div class="project-title">
            <a href="/yishu" target="_blank">艺术</a>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse/id-22">浏览全部</a>
    </div>
	<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">			
				<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-30961" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/21/11/54bf1ae210a26_230x175.jpg" alt="在路上
寻找一份安静
这是一个关于静心的故事" title="在路上
寻找一份安静
这是一个关于静心的故事" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-30961">在路上 寻找一份安静</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>4,831</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:162%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">162%</span>
				<span class="rate2">剩余25天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-30961">50</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-30961">37</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-51256" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/21/13/54bf36d608f44_230x175.jpg" alt="我实体经营陶瓷工作室多年，一直想做大做好，但由于现实的一些问题，在推广上遇到了瓶颈。想借助众筹网给我的工作室推广上“推波助澜”。" title="我实体经营陶瓷工作室多年，一直想做大做好，但由于现实的一些问题，在推广上遇到了瓶颈。想借助众筹网给我的工作室推广上“推波助澜”。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-51256">陶瓷也精彩——手工陶瓷茶具私人订制</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>2,642</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:53%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">53%</span>
				<span class="rate2">剩余18天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-51256">40</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-51256">11</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-62812" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/06/15/6e22e54c759e4e10a152bd7bf1e7324086_230x175.jpg" alt="随着西藏日益增进的经济、文化交流，藏文化在内地乃至世界得到空前的弘扬，我们希望通过这个项目让更多的朋友了解西藏文化、了解佛文化，从而将中国西藏特有的非" title="随着西藏日益增进的经济、文化交流，藏文化在内地乃至世界得到空前的弘扬，我们希望通过这个项目让更多的朋友了解西藏文化、了解佛文化，从而将中国西藏特有的非" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-62812">来自西藏的圣物——药泥擦擦</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>8,783</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:44%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">44%</span>
				<span class="rate2">剩余12天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-62812">58</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-62812">32</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-25267" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201412/17/09/5490e06cae3df_230x175.jpg" alt="介绍、推广上谷战国红饰品" title="介绍、推广上谷战国红饰品" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-25267">灵石传说—邀您认识上谷战国红</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>10,735</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:269%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">269%</span>
				<span class="rate2">剩余5天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-25267">27</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-25267">35</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-62641" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/21/11/54bf1b5935d58_230x175.jpg" alt="我们是来自深大的创业团队——黄金甲，致力于提供创意黄金饰品。" title="我们是来自深大的创业团队——黄金甲，致力于提供创意黄金饰品。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-62641">史上最壕礼——99.9黄金红包</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>3,695</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:47%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">47%</span>
				<span class="rate2">剩余12天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-62641">60</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-62641">32</a>
    </p>
</div>
</li>
				
									
			</ul>			
		</div>
	<!--focus end-->
</div>
<!--recreation end--><!--recreation static-->
<div class="wrap m-box03">
	<div class="m-headline clearfix">
        <div class="project-title">
            <a href="/nongye" target="_blank">农业</a>
        </div>
	    <a class="z-browse" href="http://www.zhongchou.cn/browse/id-28">浏览全部</a>
    </div>
	<!--focus static-->
	    <div class="focus-box">
			<ul class="focus-con clearfix">			
				<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-63703" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/08/18/54ae6210e9fc1_230x175.jpg" alt="五常稻花香开袋就香味扑鼻，蒸煮时开锅就满屋飘香，成饭晶莹透明，香糯爽口，剩饭不回生。" title="五常稻花香开袋就香味扑鼻，蒸煮时开锅就满屋飘香，成饭晶莹透明，香糯爽口，剩饭不回生。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-63703">【众筹第二波】中国最香大米--黑土地五常稻花香大米</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>535</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:27%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">27%</span>
				<span class="rate2">剩余44天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-63703">50</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-63703">15</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-36403" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/14/10/54b5d90241b3d_230x175.jpg" alt="为城市里的人建立一座属于自己和家人的森林水果超市；为大山里的乡亲们解决好产品的销售困境。为了实现自己的梦想。" title="为城市里的人建立一座属于自己和家人的森林水果超市；为大山里的乡亲们解决好产品的销售困境。为了实现自己的梦想。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-36403">趁青春 趁枣——在云南为自己和家人筹建一个森林水果超市</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>1,420</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:3%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">3%</span>
				<span class="rate2">剩余16天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-36403">78</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-36403">9</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-67663" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201501/19/14/54bca599207fb_230x175.jpg" alt="一群来自中国农业最高学府，学农、爱农的有理想青年，为您带来绿色、安全、原汁醲味的中国农大特产礼盒。" title="一群来自中国农业最高学府，学农、爱农的有理想青年，为您带来绿色、安全、原汁醲味的中国农大特产礼盒。" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-67663">醲之味——来自中国农业最高学府的特产礼盒问候</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>4,706</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:5%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">5%</span>
				<span class="rate2">剩余7天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-67663">37</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-67663">11</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-46954" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201412/11/18/1d7eca95094c35e2569d4bd31ea62c1785_230x175.jpg" alt="致力于打造从农场到餐桌【零】环节的24小时新鲜土鸡蛋直供模式，让城市居民吃到真正绿色、健康的优质土鸡蛋。诚挚邀请您一起加入，让单品终成产业链条！" title="致力于打造从农场到餐桌【零】环节的24小时新鲜土鸡蛋直供模式，让城市居民吃到真正绿色、健康的优质土鸡蛋。诚挚邀请您一起加入，让单品终成产业链条！" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-46954">《英雄蛋生》梦想众筹第一季</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>2,274</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:12%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">12%</span>
				<span class="rate2">剩余6天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-46954">20</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-46954">22</a>
    </p>
</div>
</li>
				
<li>
    <div class="list-item" style="background: #FFF">
	<a target="_blank" class="item-figure" href="/deal-show/id-52324" >
	<img src="" wx-lz="http://zcr6.ncfstatic.com/attachment/201412/22/10/de42d5659e730356ebff35b850ddbf4578_230x175.jpg" alt="2015年最酷的年货×野猪二代品种×神秘口感×稀有味道×年终特惠" title="2015年最酷的年货×野猪二代品种×神秘口感×稀有味道×年终特惠" />
	</a>
	<div class="z-lump ">						
		<h2><a target="_blank" href="/deal-show/id-52324">90后CEO将深山里的神秘黑猪肉带给你</a></h2>
		
		<!-- 众筹中 -->
					<p class="z-raising">已筹资<em>￥</em><i>974</i></p>
			<div class="progress-bar">
				<span class="progress bg-yellow" style="width:20%;"></span>
			</div>
			<div class="item-rate clearfix">
				<span class="rate1">20%</span>
				<span class="rate2">剩余14天</span>							
			</div>
		<!-- 已成功 -->
				
		
    </div>
    <p class="z-assist clearfix">
    	<a class="assist1" target="_blank" title="喜欢数" href="/deal-show/id-52324">15</a>
    	<a class="assist2" target="_blank" title="评论数" href="http://www.zhongchou.cn/deal-topic/id-52324">18</a>
    </p>
</div>
</li>
				
									
			</ul>			
		</div>
	<!--focus end-->
</div>
<!--recreation end-->


<!--video static-->
<div class="mong">
    <div class="m-video" wx-lz="http://zcs4.ncfstatic.com/v3/static/images/index/pio_42.png?v=">
        <div class="wrap m-what-par">
            <div class="m-what">
               <h6>众筹网是什么？</h6>
               在这里发起你的梦想、创意和创业计划，便可面对<br>公众集资，让有创造力的你获得所需要的资金，帮助你的梦想实现。
           </div>
           <div class="z-flash">
           <!--a id="Js-flash" href="###" class="flash-botton"></a-->
           <!-- 可替换图片 start -->
           <p class=" flash-img"><img width="671" height="329" wx-lz="http://zcs4.ncfstatic.com/v3/static/images/index/pio_09.jpg?=20140918?v="></p>
           <!-- 可替换图片 end -->
           </div>
        </div>
    </div>
</div>
<!--video end-->
<!--financing static-->
<div class="wrap m-box06">
	<!-- 数字class名 number 0-9
       number,number1,number2,number3n,umber4,number5,number6,number7,number8,number9
       逗号 comma
	 -->
         <div id="Js-scrollNum" class="mm">
		<dl>
			<dt class="odometer" data-num="6495">0</dt>
			<dd><i class="s-01"></i>项目总数</dd>
		</dl>
		<dl>
			<dt class="odometer" data-num="203870">0</dt>
			<dd><i class="s-02"></i>累计支持人</dd>
		</dl>
		<dl>
			<dt class="odometer" data-num="75782239">0</dt>
			<dd><i class="s-03"></i>累计筹资金额</dd>
		</dl>
	</div>
</div>
<!--financing end-->
<!--complete static-->
<div class="wrap m-box07">
	<h3>他们都成功了</h3>
	<ul class="m-complete clearfix">
	<li>
			<div class="z-succeed img-scale">
                <a href="http://www.zhongchou.cn/deal-show/id-18635" target="_blank"><img src="" wx-lz="http://zcr1.ncfstatic.com/attachment/201412/29/16/1419840328.jpg"></a>
				<h4><a href="http://www.zhongchou.cn/deal-show/id-18635">takee1全息手机——定制专属你的全息世界！</a></h4>
				<p>
					<span class="z-raising z-raising-01">共筹资<em>￥</em><i>3,763,600</i></span>
					<span class="z-initiator">发起人：takee</span>
				</p>
			</div>
		</li><li>
			<div class="z-succeed img-scale">
                <a href="http://www.zhongchou.cn/deal-show/id-12933" target="_blank"><img src="" wx-lz="http://zcr1.ncfstatic.com/attachment/201412/29/16/1419840334.jpg"></a>
				<h4><a href="http://www.zhongchou.cn/deal-show/id-12933">让我们一起开书店，寻找属于字里行间的人</a></h4>
				<p>
					<span class="z-raising z-raising-01">共筹资<em>￥</em><i>1,392,104</i></span>
					<span class="z-initiator">发起人：霄酸桐</span>
				</p>
			</div>
		</li><li>
			<div class="z-succeed img-scale">
                <a href="http://www.zhongchou.cn/deal-show/id-20353" target="_blank"><img src="" wx-lz="http://zcr1.ncfstatic.com/attachment/201412/29/16/1419840338.jpg"></a>
				<h4><a href="http://www.zhongchou.cn/deal-show/id-20353">【县长众筹】 永和核桃圆孩子书屋梦</a></h4>
				<p>
					<span class="z-raising z-raising-01">共筹资<em>￥</em><i>866,675</i></span>
					<span class="z-initiator">发起人：空气变稀薄</span>
				</p>
			</div>
		</li><li>
			<div class="z-succeed img-scale">
                <a href="http://www.zhongchou.cn/deal-show/id-13234" target="_blank"><img src="" wx-lz="http://zcr1.ncfstatic.com/attachment/201412/29/16/1419840343.jpg"></a>
				<h4><a href="http://www.zhongchou.cn/deal-show/id-13234">李盾老师音乐剧《爱上邓丽君》携手众筹 再度来袭 </a></h4>
				<p>
					<span class="z-raising z-raising-01">共筹资<em>￥</em><i>500,640</i></span>
					<span class="z-initiator">发起人：dfjy</span>
				</p>
			</div>
		</li>	</ul>
</div>
<!--complete end-->
<!--dream static-->
<!--main end-->
<%include index_footer.ejs%>