
<%include common_header.ejs%>
<!-- content static -->
<div  class="pass-bg">
	<div  class="pass-box wid315">
		<div  class="pass-title">用户登录</div>
		<p><font size="" color="#ff0000"><%- message %></font></p>	
		<form name="loginForm"   method="post">
		 	<p class="form-item">
				<label class="btn-base pass-lable label-un common-sprite">手机号</label>
				<input type="text"  class="text-input text-input-log" name="mobile" placeholder="请输入手机号">
			</p> 
			<p class="form-item">
				<label class="btn-base pass-lable label-pw common-sprite">密码</label>
				<input type="password"   class="text-input text-input-log" name="password" placeholder="请输入密码">
			</p>
									<!-- <div class="login-form-ipt clearfix" id="needCode" style="display:none;">
							<input id="codeInp" class="ie6fixpic" name="code" type="text" placeholder="请输入验证码"/>
                <a href="javascript:void(0);"><img src="/verify/code" id="codeimg"></a>
			</div> -->
			<p class="form-item">
				<button type="submit" class="btn-submit" >登录</button>
				<a href="/reg" class="btn-reg">注册</a><a href="/findpwd/index" class="fgtpwd">忘记密码？</a></p>
		</form>
	</div>
</div>
<!-- content end --> 

<%include common_footer%>