        <div class="personal-set-right maincontent">
               <p><span style="font-size:16px;">尊敬的项目发起人，您好:</span></p>
<p><span style="font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp;</span></p>
<p><span style="font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp;感谢您选择众筹网发起项目。为了给项目发起人提供更专业、更全面的众筹服务，给广大的投资者更好的用户体验，众筹网决定暂时将科技、娱乐、艺术、出版、公益、农业、商铺七个品类的项目作为主营业务。未来还会陆续有其他品类的业务板块开放，届时会通知大家。在此期间，若您有更好的建议，可以联系我们。给您带来的不便敬请谅解！感谢您一直以来对众筹网的支持与理解！</span></p>
<p></p>
      </div>
