<!--footer static-->
<!--footer static-->
<!--footer static-->
<div class="footer">
	<div class="footer-nav">
		<a rel="nofollow" href="/help-about/id-1" alt="关于众筹" title="关于众筹">关于我们 <i>｜</i> </a>
		<a rel="nofollow" href="/help-contact" alt="联系我们" title="联系我们">联系我们 <i>｜</i> </a>
		<!-- <a rel="nofollow" href="/help-team" alt="团队介绍" title="团队介绍">团队介绍 <i>｜</i> </a> -->
		<a rel="nofollow" href="/help-term" alt="服务协议" title="服务协议">服务协议 <i>｜</i> </a>
		<a rel="nofollow" href="/help-specification" alt="项目发起规范" title="项目发起规范">项目发起规范 <i>｜</i> </a>
		<a  href="/partake" alt="新手帮助" title="新手帮助">新手帮助 <i>｜</i> </a>
		<a  href="/help-center" alt="帮助中心" title="帮助中心">帮助中心 <i>｜</i> </a>
		<a  target="_blank" href="/help-tourongzi" alt="投融资服务" title="投融资服务">投融资服务</a>
	</div>
	<div class="footer-icon">
		<span>关注我们：</span>
		<a class="s-05" rel="nofollow" target="_blank" href="http://e.weibo.com/zhongchouwang2013" alt="新浪微博" title="新浪微博"></a>
		<a class="s-06" rel="nofollow" target="_blank" href="http://user.qzone.qq.com/2357291729" alt="QQ空间" title="QQ空间"></a>
		<a class="s-07" rel="nofollow" target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&kw=%E4%BC%97%E7%AD%B9%E7%BD%91" alt="百度贴吧" title="百度贴吧"></a>
		<a class="s-08" rel="nofollow" target="_blank" href="http://www.douban.com/people/zhongchou_cn/" alt="豆瓣小站" title="豆瓣小站"></a>
		<!--<a class="s-05" rel="nofollow" target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&kw=%E4%BC%97%E7%AD%B9%E7%BD%91" alt="百度贴吧" title="百度贴吧">百度贴吧</a>-->
		<!--<a class="s-06" rel="nofollow" target="_blank" href="http://user.qzone.qq.com/2357291729" alt="QQ空间" title="QQ空间">QQ空间</a>-->
		<!--<a class="s-07" rel="nofollow" target="_blank" href="http://e.weibo.com/zhongchouwang2013" alt="新浪微博" title="新浪微博">新浪微博</a>-->
		<!--<a class="s-08" rel="nofollow" target="_blank" href="http://www.douban.com/people/zhongchou_cn/" alt="豆瓣小站" title="豆瓣小站">豆瓣小站</a>-->
	</div>
	<div class="footer-copy">
		<div class="wrap">
			<!-- 
			<div class="m-Links">
									<a href="http://iof.hexun.com/zhongchou/index.html" target="_blank" rel="nofollow">和讯网</a>
									<a href="http://www.leiphone.com/" target="_blank" rel="nofollow">雷锋网</a>
									<a href="http://www.36kr.com/   " target="_blank" rel="nofollow">36氪</a>
									<a href="http://www.hao123.com/" target="_blank" rel="nofollow">hao123</a>
									<a href="http://hao.360.cn/" target="_blank" rel="nofollow">360安全网址</a>
									<a href="http://www.ynet.com/" target="_blank" rel="nofollow">北青网</a>
									<a href="http://finance.ifeng.com/" target="_blank" rel="nofollow">凤凰网</a>
									<a href="http://jrj.com.cn" target="_blank" rel="nofollow">金融界</a>
									<a href="http://www.caixin.com/" target="_blank" rel="nofollow">财新网</a>
									<a href="http://www.tmtpost.com/" target="_blank" rel="nofollow">钛媒体</a>
									<a href="http://www.imgii.com?zhongchou" target="_blank" rel="nofollow">IMGII</a>
									<a href="http://www.m1905.com/film/" target="_blank" rel="nofollow">电影网</a>
									<a href="http://www.artron.net/" target="_blank" rel="nofollow">雅昌艺术网</a>
									<a href="http://www.vmovier.com/" target="_blank" rel="nofollow">V电影</a>
									<a href="http://www.eguan.cn" target="_blank" rel="nofollow">易观网</a>
									<a href="http://www.pedaily.cn/" target="_blank" rel="nofollow">投资界          </a>
									<a href="http://home.ebrun.com/" target="_blank" rel="nofollow">亿邦动力社区</a>
									<a href="http://www.9888.cn" target="_blank" rel="nofollow">金融工场</a>
									<a href="http://www.trchina.org/" target="_blank" rel="nofollow">投融中国联盟</a>
									<a href="http://www.youcheng.org/" target="_blank" rel="nofollow">友成基金会</a>
									<a href="http://life.renren.com" target="_blank" rel="nofollow">人人生活</a>
									<a href="http://www.meng800.com/ " target="_blank" rel="nofollow">众筹导航</a>
									<a href="http://www.qidic.com" target="_blank" rel="nofollow">奇笛网</a>
									<a href="http://www.rong360.com" target="_blank" rel="nofollow">融360</a>
									<a href=" http://www.diyifangdai.com" target="_blank" rel="nofollow">第一房贷</a>
									<a href="http://finance.ifeng.com/itfinance/index.shtml" target="_blank" rel="nofollow">凤凰互联网金融</a>
									<a href="http://www.huoqiu.cn" target="_blank" >火球网</a>
									<a href="http://www.renchoubao.com/" target="_blank" >认筹宝</a>
									<a href="http://www.kuaidi100.com/" target="_blank" >快递查询</a>
				              
			</div>
			 -->
            <p>&copy;2014 北京网信众筹网络科技有限公司 zhongchou.cn 版权所有 京ICP备14016844号 | 出版物经营许可证编号新出发（京）批字第直140141号 </p>
		</div>
	</div>
</div>
<script type="text/javascript" src="http://zcs7.ncfstatic.com/zhongchou/pub/v3/fe3974b84fb6b50da0f329242078614c.js?V=1420011048"></script>                   
<div id="gotop" class="go-top"></div>
<!--footer end-->
 
<!--footer end-->
<script type="text/javascript" src="http://zcs7.ncfstatic.com/zhongchou/pub/v3/1b959497b95e50f530d89bf54cb9884e.js?V=1420011048"></script>

<script>

	$("input[name='name']").blur(function(){
		$("#Js-name").text($(this).val());
	
		wx.sendData("/projectnew-gettag","name="+$("#Js-name").text(),function(data){
			//$("#Js-tag").val(data.tags);
		});
	});
	$("input[name='limit_price']").blur(function(){
		$("#Js-price").text("￥"+$(this).val());
	});
	$("input[name='deal_days']").blur(function(){
		$("#Js-days").text($(this).val()+"天");
	});
	
	$("#Js-select-cate").delegate('span', 'click', function(event) {
		$(this).addClass('select').siblings().removeClass('select');
		$("#Js-cate").val($(this).attr("data-id"));
	});
	
	var kindeditorOption = {
		basePath:"/static/zhongchou/kindeditor4/",
		resizeType : 1,
		allowPreviewEmoticons : false,
	
		allowMediaUpload:false,
		allowFileUpload:false,
		allowFlashUpload:false,
	
		allowFileManager:false,
		allowImageRemote:false,
		filePostName:"image_file",
		minWidth : "567",
		minHeight: "500",
		uploadJson :"/upload.php",
		items : ['formatblock', '|', 'image', 'link', 'removeformat']
	}
	var editor = KindEditor.create("#Js-description",kindeditorOption)
	window['HwForm_before'] = function() {
		$("#Js-description").val(editor.html());
		return true;
	}
$('.w655').change(function(){
		var that = $(this);
		$('#Js-name').val($(this).val());
		wx.sendData("/project-gettag","name="+that.val(),function(data){
			$("#Js-tag").val(data.tags);
			});
		});
$('[name="deal_days"]').change(function(){
		$('#Js-days').val($(this).val());
		});
$('[neme="linit_price"]').change(function(){
		$('#Js-price').val("￥"+$(this).val());
		});
function image_file(data){
    if(data.status === 0){
	wx.alert(data.msg);
    }
}

//下拉列表框事件
function checkItem(value){
    if(value==""){
    return;
    }
	var city=["成都","郫县","温江","新都"];
	if(value=="四川"){
	    for(var i=0;i<city.length;i++){
			if(i==1){
				document.getElementById("city").add(new Option(city[i],city[i]));
				document.getElementById("city").options[i].selected=true;
			}else{
				document.getElementById("city").add(new Option(city[i],city[i]));
				//alert("默认值=="+document.getElementById("city").options[i].value);
			}
			
		}
		
	}

}

function category(value){
	if(value){
	document.getElementById("category").value=value;
	}
	
}

function check_name(){
	var name=document.getElementById("name").value;
	if(name==""){
	 document.getElementById("show_name").style.display="block";
	 document.getElementById("show_name").firstChild.firstChild.innerHTML="项目名不能为空!";
	 //document.getElementById("name").focus();
	 return false;
	}else if(name.length>40){
	 document.getElementById("show_name").style.display="block";
	 document.getElementById("show_name").firstChild.firstChild.innerHTML="项目名称不能大于40个字符!";
	 //document.getElementById("name").focus();
	 return false;
	}else{
	document.getElementById("show_name").style.display="none";
	}  
}

function check_limit_price(){
	var limit_price=document.getElementById("limit_price").value;
	if(limit_price==""){
	document.getElementById("show_limit_price").style.display="block";
	document.getElementById("show_limit_price").firstChild.firstChild.innerHTML="请输入筹集的金额数!";
	return false;	
	}else if(limit_price<500){
	document.getElementById("show_limit_price").style.display="block";
	document.getElementById("show_limit_price").firstChild.firstChild.innerHTML="筹集金额不能小于500元!";
	return false;
	}else{
	document.getElementById("show_limit_price").style.display="none";
	}
}

function check_deal_days(){
	var deal_days=document.getElementById("deal_days").value;
	if(deal_days<10||deal_days>90){
	document.getElementById("show_deal_days").style.display="block";
	document.getElementById("show_deal_days").firstChild.firstChild.innerHTML="筹集天数不能小于10天或者不能大于90天!";
	return false;
	}else{
	document.getElementById("show_deal_days").style.display="none";
	}
}

function check_category(){
var category=document.getElementById("category").value;
if(category==""){
	document.getElementById("show_category").style.display="block";
	document.getElementById("show_category").firstChild.firstChild.innerHTML="请选择项目分类!";
	return false;	
}else{
	document.getElementById("show_category").style.display="none";
}
}

function check_project_location(){
	var project_location=document.getElementById("project_location").value;
	if(project_location==""){
	document.getElementById("show_project_location").style.display="block";
	document.getElementById("show_project_location").firstChild.firstChild.innerHTML="请选择省份!";
	return false;
	}else{
	document.getElementById("show_project_location").style.display="none";
	}
}

function check_project_brief(){
var project_brief=document.getElementById("project_brief").value;
	if(project_brief==""){
	document.getElementById("show_project_brief").style.display="block";
	document.getElementById("show_project_brief").firstChild.firstChild.innerHTML="请输入项目简介!";
	return false;
	}else if(project_brief.length>75){
	document.getElementById("show_project_brief").style.display="block";
	document.getElementById("show_project_brief").firstChild.firstChild.innerHTML="项目简介不能超过75个字!";
	return false;
	}else{
	document.getElementById("show_project_brief").style.display="none";
	}
}

function check_project_details(){
var project_details=document.getElementById("project_details").value;
if(project_details==""){
	document.getElementById("show_project_details").style.display="block";
	document.getElementById("show_project_details").firstChild.firstChild.innerHTML="项目详细信息不能为空!";
	return false;
	}else if(project_details.length>2000){
	document.getElementById("show_project_details").style.display="block";
	document.getElementById("show_project_details").firstChild.firstChild.innerHTML="项目详细信息字数不能超过两千字!";
	return false;
 }else{
 document.getElementById("show_project_details").style.display="none";
 }
} 

function check_agr(){
	var agr=document.getElementById("agr");
	if(!agr.checked){
	document.getElementById("show_agr").style.display="block";
	document.getElementById("show_agr").firstChild.firstChild.innerHTML="请勾选服务协议!";
	return false;  
	}else{
	document.getElementById("show_agr").style.display="none";
	}
}


function check_tags(){
var tags=document.getElementById("tags").value;
if(tags==""){
	document.getElementById("show_tags").style.display="block";
	document.getElementById("show_tags").firstChild.firstChild.innerHTML="请输入标签!";
	return false;
	}else if(tags.length>12){
	document.getElementById("show_tags").style.display="block";
	document.getElementById("show_tags").firstChild.firstChild.innerHTML="输入的标签长度不能大于12个字符!";
	return false;
	}else{
	document.getElementById("show_tags").style.display="none";
	}
} 

function check_form(){

var name=document.getElementById("name").value;
var limit_price=document.getElementById("limit_price").value;
var deal_days=document.getElementById("deal_days").value;
var category=document.getElementById("category").value;
var project_location=document.getElementById("project_location").value;
var image_file=document.getElementById("image_file").value;
var vedio_url=document.getElementById("vedio_url").value;
var project_brief=document.getElementById("project_brief").value;
var project_details=document.getElementById("project_details").value;
var user_mobile=document.getElementById("user_mobile").value;
var tags=document.getElementById("tags").value;
var agr=document.getElementById("agr");
if(name==""){
	 document.getElementById("name").focus();
	 return false;
	}else if(name.length>40){
	 document.getElementById("name").focus();
	 return false;
	}
if(limit_price==""){
	document.getElementById("limit_price").focus();
	return false;	
	}else if(limit_price<500){
	document.getElementById("limit_price").focus();
	return false;
	}	
if(deal_days<10||deal_days>90){
    document.getElementById("deal_days").focus();
	return false;
	}
if(category==""){
    document.getElementById("category").focus();
	return false;	
}
if(project_location==""){
    document.getElementById("project_location").focus();
	return false;
	}
if(project_brief==""){
    document.getElementById("project_brief").focus();
	return false;
	}else if(project_brief.length>75){
    document.getElementById("project_brief").focus();
	return false;
	}
if(project_details==""){
	document.getElementById("project_details").focus();
	return false;
	}else if(project_details.length>2000){
	document.getElementById("project_details").focus();
	return false;
 }
if(!agr.checked){
	document.getElementById("agr").focus();
	return false;  
	}

if(tags==""){
	document.getElementById("tags").focus();
	return false;
	}else if(tags.length>12){
	document.getElementById("tags").focus();
	return false;
	}
if(image_file==""){
    document.getElementById("image_file").focus();   
    return false;
    }else{
    document.getElementById("real_pic_url").value=image_file;
    //alert("url===="+document.getElementById("real_pic_url").value);
    }
}

</script>
<script type="text/javascript">
function previewImage(file)
{
  var MAXWIDTH  = 230;
  var MAXHEIGHT = 175;
  var div = document.getElementById('preview');
  if (file.files && file.files[0])
  {
  	var img = document.getElementById('image');
  	var reader = new FileReader();
  	reader.onload = function(evt){
	img.src = evt.target.result;
	}	
  	reader.readAsDataURL(file.files[0]);
  }
  else
  {
    var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
    file.select();
    var src = document.selection.createRange().text;
    var img = document.getElementById('image');
    var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
    div.innerHTML = "<img id=image style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;margin-left:"+rect.left+"px;"+sFilter+src+"\"'>"+"<h3 class='project-name'><a id='Js-name' href='javascript:;'></a></h3>"+"<div class='item-caption'>"+"<span class='caption-title'>目标：<span id='Js-days'>&nbsp;&nbsp;&nbsp"+"<span id='Js-price'></span></span>";

  }
}

function clacImgZoomParam( maxWidth, maxHeight, width, height ){
	var param = {top:0, left:0, width:width, height:height};
	if( width>maxWidth || height>maxHeight )
	{
		rateWidth = width / maxWidth;
		rateHeight = height / maxHeight;
		
		if( rateWidth > rateHeight )
		{
			param.width =  maxWidth;
			param.height = Math.round(height / rateWidth);
		}else
		{
			param.width = Math.round(width / rateHeight);
			param.height = maxHeight;
		}
	}
	
	param.left = Math.round((maxWidth - param.width) / 2);
	param.top = Math.round((maxHeight - param.height) / 2);
	return param;
}
</script>
</body>
</html>
