
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>众筹网-中国最具影响力的众筹平台</title>
<meta name="keywords" content="众筹 创业 项目 投资 支持"/>
<meta name="description" content="在众筹网发布项目，获得投资支持，实现你的创业梦想"/>
<meta name="renderer" content="webkit"/>
<link rel="shortcut icon" type="image/png" href="http://zcs1.ncfstatic.com/zhongchou/images/favicon_v3.png?v=1">
<!--public js&css start-->            
<link rel="stylesheet" type="text/css" href="http://zcs6.ncfstatic.com/zhongchou/pub/v3/14c4c0d24fba6ed25d8b6758064ef7b8.css?V=1420011048"/>
<script type="text/javascript" src="http://zcs6.ncfstatic.com/zhongchou/pub/v3/2cc0475e1160ea574d0a9b5ebea60136.js?V=1420011048"></script>   
<!--public js&css end -->                                         
</head>
<body>
<!--header static-->
<div class="header">
	<div class="wrap clearfix">		
        <div class="m-left">
          <h2><a alt="众筹网" class="img-logo" title="众筹网" href="/">众筹网</a></h2>
          <ul class="m-nav clearfix">
			      <li><a  class="z-home" href="/"><span><i class="s-01"></i></span>首页</a></li>
          	<li><a  href="/browse"><i class="s-02"></i>浏览项目</a></li>
            <li><a href="http://www.yuanshihui.com/" target="_blank"><i class="s-30"></i>原始会</a></li>
          	<li style="display:none"><a href="http://news.zhongchou.cn/"><i class="s-09"></i>资讯</a></li>
          	<li><a  class="selected" href="/project"><i class="s-03"></i>发起项目</a></li>
            <li><a href="http://app.zhongchou.cn" target="_blank"><i class="s-phone"></i>手机众筹</a></li>
            <li style="display:none"><a href="###"><i class="s-10"></i>论坛</a></li>
          </ul>
        </div>
        <div class="m-right clearfix">
        	
        	
            <div id="Js-header-loginBtn"> 
              <span class="pull-down clearfix"><i class="meun-02"></i><i class="meun-01">155****1686</i></span>
              <ul id="Js-header-login" class="mm-nubg">
                  <li><a href="/home/id-428140"><i class="down-menu01"></i>支持的项目</a></li>
                  <li><a href="/home-build_deal/id-428140"><i class="down-menu02"></i>发起的项目</a></li>
                  <li><a href="/corp-index"><i class="down-menu07"></i>发起者后台</a></li>
                  <li><a href="/home-focus/id-428140"><i class="down-menu03"></i>喜欢的项目</a></li>
                  <li><a href="/message"><i class="down-menu04"></i>消息中心</a></li>
                  <li><a href="/settings"><i class="down-menu05"></i>个人设置</a></li>
                  <li><a href="/usernew-loginout"><i class="down-menu06"></i>退出</a></li>
              </ul>
            </div>
                        <form action="/deals" method="post" id="header_new_search_form" wx-validator>
            <span>
              <input name="k" wx-validator-placeholder="输入关键词" wx-validator-rule="required" type="text" wx-validator-notip>
              <span class="wx-placeholder" style="font-size:12px;position:absolute;top:3px;*top:3px;left:80px;*left:10px;">输入关键字</span>
              <a href="###" type="submit" class="bh-mhnbo"></a>
            </span>
          </form>
        </div>
	</div>		
</div>
<!--header end-->
<link rel="stylesheet" type="text/css" href="http://zcs6.ncfstatic.com/zhongchou/pub/v3/ee7ae0c1751620090a1f580e44d12fba.css?V=1420011048"/>
<style>
	.edui-image ul li {
width: 92px;
height: 90px;
padding: 10px 20px 10px 0px;  
float: left;
}
.edui-image ul li a {
width: 90px;
height: 90px;
border: 1px solid #eaeaea;
background: #f8f8f8 url(../images/phoenix/icon/bg-upd.jpg?v=397) no-repeat 50% 40%;
display: block;
position: relative;
}
.edui-image ul li img {
width: 90px;
height: 90px;
}
.edui-image ul li a .pos-bg {
width: 100%;
height: 22px;
display: none;
background: #FFF;
filter: alpha(opacity:70);
opacity: 0.7;
position: absolute;
left: 0;
top: 70px;
z-index: 2;
}
.edui-image ul li a .pos-opt {
width: 100%;
height: 22px;
text-align: center;
display: none;
position: absolute;
left: 0; 
top: 70px;
z-index: 3;
}
.hblx{
	height: 36px;
	float: left;
	font-size: 14px;
	line-height: 18px;
	color: #555;
	padding: 4px 5px;
	margin-left: 5px;
	border: 1px solid #bababa;
	border-radius: 3px;
	position: relative;
}
.form-item .input-notes{
	line-height:45px;
}
</style>
<!--header-end-->
<div class="process">
		<!--flow step static-->
		<div class="project-edit-nav">
			<h3 class="steps-2">回报设置</h3>
		</div>
		<!--flow step end-->
</div>
<!--main static-->
<div class="main clearfix">
	<div class="process-wrap clearfix">
			<div class="tit-wrap">
				<h3>项目信息</h3>
			</div>
			<!--project start-->
			<div class="project-box">
				<div class="project-con fl w760">				
					<div class="project-set">
						<!--project-info static-->
						<div class="project-info">
							<table>
								<colgroup>
									<col width="40" />
									<col width="80" />
									<col width="60" />
									<col width="290" />
									<col width="80" />
									<col width="60" />
									<col width="60" />
								</colgroup>
								<thead>
									<tr>
										<th>回报</th>
										<td>支持金额</td>
										<td>名额</td>
										<td>回报内容</td>
										<td>回报时间</td>
										<td>运费</td>
										<td>操作</td>
									</tr>
								</thead>
								<tbody>
								    																	</tbody>
							</table>
						</div>
						<!--project-info end-->
						<!--project-set-form static-->
						<div class="project-set-form">
							<div id="Js-edit-num" class="form-item-tit">支持回报选项01</div>
							<form name="item_form" id="item_form" action="/projectnew-save_deal_item" method="post" wx-validator wx-validator-ajax>
								<div class="form-item clearfix">
									<label>支持金额：</label>
										<input type="text" class="w188 " name="price"  wx-validator-rule="required|digits"/>
										<em>元</em>
								</div>
								<div class="form-item clearfix">
									<label>回报内容：</label>
									<textarea class="return-textarea" name="description"
								wx-validator-rule="required|maxLength"
							    wx-validator-param="|500" wx-validator-placeholder="请填写关于回报或任何你希望项目发起人知道的信息,不多于500字" maxLength="500"></textarea>
							    <span id="wx-validator-description-required" class="error-text" style="display:none;margin-left:5px;">不能为空</span>
								<span id="wx-validator-description-maxLength" class="error-text" style="display:none;margin-left:5px;">所输入内容不多于500字</span>
							<span 
							id="wx-validator-description-maxLength"
						    class="error-text" style="display:none;">请输入不大于500的字</span>
								</div>
								<div class="form-item clearfix">
									<label>说明图片：</label>
									<div class="edui-image up-btn fs14">
										<div class="ipt-file">
											<!--<input type="file" value="上传图片" id="JS-deal_item_imgload"/>-->
											<input type="file"
											wx-upload="/upload.php"
											name="image_file"
											style="font-size:30px;" />
											<a class="">上传图片</a>
										</div>
										<span class="gray">支持jpg、jpeg、png、gif格式，大小不超过500KB。最多上传3张</span>
										<ul id="JS-deal_item_imgload" class="clearfix" style="clear:both;"></ul>
									</div>
								</div>
								<div class="form-item clearfix">
									<label>限定名额：</label>
									<input class="w188" type="text" placeholder="“0”为不限名额" name="limit_num" class="inp-w68" value="0" wx-validator-rule="required|digits"/>
<span id="wx-validator-limit_num-digits" class="error-text hidden">请填写正确的数字</span>
									<em>个</em>
									<span class="input-tips gray">“0”为不限名额</span>
								</div>
								<div class="form-item clearfix">
									<label>运费：</label>
									<input class="w188" type="text" placeholder="“0”为不收运费" name="delivery_fee" value="0" wx-validator-rule="required|digits"/>
<span id="wx-validator-delivery_fee-digits" class="error-text hidden">请填写正确的数字</span>
									<em>元</em>
									<span class="input-tips gray">“0”为不收运费</span>
								</div>
								
								<div class="form-item clearfix">
									<label>回报时间：</label>
									<em class="w80"></em>
									<input class="w107" type="text" placeholder="“0”为项目结束后立即发送" name="repaid_day" value="0" wx-validator-rule="required|digits"/>
<span id="wx-validator-repaid_day-digits" class="error-text hidden">请填写正确的数字</span>
									<em>天</em>
									<span class="input-tips gray">“0”为项目结束后立即发送</span>
								</div>
								
								<div class="form-item clearfix">
									<label>回报类型：</label>
									<input class="hblx" checked name="return_type" id="return_type1" type="radio" group='grp_return_type'  value="1"/>
									<span class="input-notes">实物回报(需要快递／邮寄的)</span>																		
									<input class="hblx" name="return_type" id="return_type2" type="radio" group='grp_return_type'  value="2" />
									<span class="input-notes">虚拟回报(不需要快递/邮寄的，电子照片等)</span>
								</div>
								
								<div class="form-submit" name="finish">
									<a class="remin-save" type="submit" href="javascript:void(0);">保存</a>
									<a class="remin-save" href="javascript:void(0);"><span id="cancel_item">取消保存</span></a>
								</div>	
								<input type="hidden" name="deal_id" value="59944" />
								<input type="hidden" name="id" value="" />							
							</form>
							<div class="action fl">
								<a href="/projectnew-edit/id-59944" class="btn-effect-blue btn-sub w170">上一步</a>
								<a  href="javascript:void(0)" onclick="javascript:wx.alert('请添加回报');"  class="btn-effect-blue btn-sub w170">下一步</a>
							</div>
						</div>
						<!--project-set-form static-->
						
					</div>	
				</div>
			<!--project end-->
		<!--side static-->
		<div class="sidebar w413 fr">
			<!--side-list static-->
			<div class="reminder fs14">
					<h3>温馨提示</h3>
					<p class="black fb">3个以上的回报</p>
					<p>多些选择能提高项目的支持率。</p>
					<p class="black fb">几十、几百、上千元的支持</p>
					<p>3个不同档次的回报，能让你的项目 更快成功。</p>
					<p class="black fb">回报最好是项目的衍生品</p>
					<p>与项目内容有关的回报更能吸引到大家的支持。</p>
			</div>
			<!--side-list end-->
		</div>
		<!--side end-->
	</div>
	</div>
</div>
<!--main end-->
<!--footer static-->
<div class="footer">
	<div class="footer-nav">
		<a rel="nofollow" href="/help-about/id-1" alt="关于众筹" title="关于众筹">关于我们 <i>｜</i> </a>
		<a rel="nofollow" href="/help-contact" alt="联系我们" title="联系我们">联系我们 <i>｜</i> </a>
		<!-- <a rel="nofollow" href="/help-team" alt="团队介绍" title="团队介绍">团队介绍 <i>｜</i> </a> -->
		<a rel="nofollow" href="/help-term" alt="服务协议" title="服务协议">服务协议 <i>｜</i> </a>
		<a rel="nofollow" href="/help-specification" alt="项目发起规范" title="项目发起规范">项目发起规范 <i>｜</i> </a>
		<a  href="/partake" alt="新手帮助" title="新手帮助">新手帮助 <i>｜</i> </a>
		<a  href="/help-center" alt="帮助中心" title="帮助中心">帮助中心 <i>｜</i> </a>
		<a  target="_blank" href="/help-tourongzi" alt="投融资服务" title="投融资服务">投融资服务</a>
	</div>
	<div class="footer-icon">
		<span>关注我们：</span>
		<a class="s-05" rel="nofollow" target="_blank" href="http://e.weibo.com/zhongchouwang2013" alt="新浪微博" title="新浪微博"></a>
		<a class="s-06" rel="nofollow" target="_blank" href="http://user.qzone.qq.com/2357291729" alt="QQ空间" title="QQ空间"></a>
		<a class="s-07" rel="nofollow" target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&kw=%E4%BC%97%E7%AD%B9%E7%BD%91" alt="百度贴吧" title="百度贴吧"></a>
		<a class="s-08" rel="nofollow" target="_blank" href="http://www.douban.com/people/zhongchou_cn/" alt="豆瓣小站" title="豆瓣小站"></a>
		<!--<a class="s-05" rel="nofollow" target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&kw=%E4%BC%97%E7%AD%B9%E7%BD%91" alt="百度贴吧" title="百度贴吧">百度贴吧</a>-->
		<!--<a class="s-06" rel="nofollow" target="_blank" href="http://user.qzone.qq.com/2357291729" alt="QQ空间" title="QQ空间">QQ空间</a>-->
		<!--<a class="s-07" rel="nofollow" target="_blank" href="http://e.weibo.com/zhongchouwang2013" alt="新浪微博" title="新浪微博">新浪微博</a>-->
		<!--<a class="s-08" rel="nofollow" target="_blank" href="http://www.douban.com/people/zhongchou_cn/" alt="豆瓣小站" title="豆瓣小站">豆瓣小站</a>-->
	</div>
	<div class="footer-copy">
		<div class="wrap">
			<!-- 
			<div class="m-Links">
									<a href="http://iof.hexun.com/zhongchou/index.html" target="_blank" rel="nofollow">和讯网</a>
									<a href="http://www.leiphone.com/" target="_blank" rel="nofollow">雷锋网</a>
									<a href="http://www.36kr.com/   " target="_blank" rel="nofollow">36氪</a>
									<a href="http://www.hao123.com/" target="_blank" rel="nofollow">hao123</a>
									<a href="http://hao.360.cn/" target="_blank" rel="nofollow">360安全网址</a>
									<a href="http://www.ynet.com/" target="_blank" rel="nofollow">北青网</a>
									<a href="http://finance.ifeng.com/" target="_blank" rel="nofollow">凤凰网</a>
									<a href="http://jrj.com.cn" target="_blank" rel="nofollow">金融界</a>
									<a href="http://www.caixin.com/" target="_blank" rel="nofollow">财新网</a>
									<a href="http://www.tmtpost.com/" target="_blank" rel="nofollow">钛媒体</a>
									<a href="http://www.imgii.com?zhongchou" target="_blank" rel="nofollow">IMGII</a>
									<a href="http://www.m1905.com/film/" target="_blank" rel="nofollow">电影网</a>
									<a href="http://www.artron.net/" target="_blank" rel="nofollow">雅昌艺术网</a>
									<a href="http://www.vmovier.com/" target="_blank" rel="nofollow">V电影</a>
									<a href="http://www.eguan.cn" target="_blank" rel="nofollow">易观网</a>
									<a href="http://www.pedaily.cn/" target="_blank" rel="nofollow">投资界          </a>
									<a href="http://home.ebrun.com/" target="_blank" rel="nofollow">亿邦动力社区</a>
									<a href="http://www.9888.cn" target="_blank" rel="nofollow">金融工场</a>
									<a href="http://www.trchina.org/" target="_blank" rel="nofollow">投融中国联盟</a>
									<a href="http://www.youcheng.org/" target="_blank" rel="nofollow">友成基金会</a>
									<a href="http://life.renren.com" target="_blank" rel="nofollow">人人生活</a>
									<a href="http://www.meng800.com/ " target="_blank" rel="nofollow">众筹导航</a>
									<a href="http://www.qidic.com" target="_blank" rel="nofollow">奇笛网</a>
									<a href="http://www.rong360.com" target="_blank" rel="nofollow">融360</a>
									<a href=" http://www.diyifangdai.com" target="_blank" rel="nofollow">第一房贷</a>
									<a href="http://finance.ifeng.com/itfinance/index.shtml" target="_blank" rel="nofollow">凤凰互联网金融</a>
									<a href="http://www.huoqiu.cn" target="_blank" >火球网</a>
									<a href="http://www.renchoubao.com/" target="_blank" >认筹宝</a>
									<a href="http://www.kuaidi100.com/" target="_blank" >快递查询</a>
				              
			</div>
			 -->
            <p>&copy;2014 北京网信众筹网络科技有限公司 zhongchou.cn 版权所有 京ICP备14016844号 | 出版物经营许可证编号新出发（京）批字第直140141号 </p>
		</div>
	</div>
</div>
<script type="text/javascript" src="http://zcs6.ncfstatic.com/zhongchou/pub/v3/fe3974b84fb6b50da0f329242078614c.js?V=1420011048"></script>                   
<div id="gotop" class="go-top"></div>
<!--footer end-->
 
<script type="text/javascript" src="http://zcs6.ncfstatic.com/zhongchou/pub/v3/4d7c9e426f1a32e3f16c4f53b8c9cdcf.js?V=1420011048"></script>
<script>
//upload image preview
	function image_file(data){
		var jsimg = $('#JS-deal_item_imgload');
		if(jsimg.find('li').length <3){
			jsimg.append('<li class="image-val"><a href="javascript:;"><img src="'+data.url+'"><input type="hidden" name="image[]" value="'+data.url+'"><span class="pos-bg"></span><span class="pos-opt red">删除</span></a></li>')
		}else{
			wx.alert("最多上传3张图片");
		}
	}
//delete image preview
$('.edui-image').on('click','span',function(){
		$(this).closest('.image-val').remove();
		})
	//---create_image_upload($("#JS-deal_item_imgload")[0]);
	function item_form(data){
		wx.alert(data.info,function(){
			location.href="/projectnew-add_item/id-59944";
		});
	}

	$("#add_item_button").click(function(){
		$("#add_item_form").show("slow");
		$("#project-add-item").hide();
	});
	
	$("#cancel_item").click(function(){
		location.reload();
	});
	
	$(".Js-edit").click(function() {
		$("#Js-edit-num").html("支持回报选项"+$(this).attr("data-num"));

		var id = $(this).attr("data-id");
		wx.sendData("/projectnew-edit_item","id="+id,function(data){
			if(data.status==0){
				wx.alert(data.info);
				return;
			}
			$("#add_item_button").trigger('click');
			$("input[name='price']").val(parseInt(data.price));
			$("textarea[name='description']").val(data.description).next(".wx-placeholder").hide();
			$("input[name='limit_num']").val(data.limit_num);
			$("input[name='repaid_day']").val(data.repaid_day);
			$("input[name='delivery_fee']").val(parseInt(data.delivery_fee));
			//$("input[name='return_type']").val(parseInt(data.return_type));
			var a = data.return_type;
			$("#return_type"+a).attr("checked","checked");
			$("input[name='id']").val(parseInt(data.id));
			var panel = document.getElementById("JS-deal_item_imgload");
			$(panel).html("");
			for(var i =0;i<data.images.length;i++){
				var li = document.createElement("li");
				panel.appendChild(li);
				var el = $(li);
				el.addClass('image-val');
        		el.html('<a href="javascript:;"><img src="' + data.images[i].image.replace(".","_205x160.")+'"  />'+  
            		'<input type="hidden" name="image[]" value="'+data.images[i].image+'"  /><span class="pos-bg"></span><span class="pos-opt red">删除</span></a>');
        		el.find(".pos-opt").bind("click", function(){
          			panel.removeChild($(this).parents('li')[0]);
          			if ($(panel).find("img").length == 2) {
            			//---create_image_upload(panel);
          			}
        		});
			}
			//---create_image_upload(panel);
		});
	});

	$(".Js-del-item").click(function(){
		var id = $(this).attr("data-id");
		wx.confirm("确认删除吗?",function(){
			wx.sendData("/projectnew-del_item","id="+id,function(data){
				location.reload();
			});
		});
	});

 $('#JS-deal_item_imgload').delegate('a','mouseenter', function(event) {
        $(this).find('.pos-bg').show();
        $(this).find('.pos-opt').show();
    }).delegate('a','mouseleave', function(event) {
        $(this).find('.pos-bg').hide();
        $(this).find('.pos-opt').hide();
    });

	$(".Js-del-image").live("click",function(){
		var info = $(this).attr("data-id");
		var id = $(this).parent().parent().attr("id");
		$("#"+id).html('<a href="javascript:;">'+
				'<span onclick="upd_file(this,\'image_file\',\''+id+'\');" class="upimg video_lab"> 上传图片'+
				'<input type="file" name="image_file" id="image_file" class="testfile" maxlength="30">'+
				'</span></a>');
		if(info){
			wx.sendData("/prjectnew-del_item_image","id="+info,function(data){

			});
		}
	});
</script>
<!--footer static-->

<!--footer end-->
</body>
</html>
