
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>众筹网-中国最具影响力的众筹平台</title>
<meta name="keywords" content="众筹 创业 项目 投资 支持"/>
<meta name="description" content="在众筹网发布项目，获得投资支持，实现你的创业梦想"/>
<meta name="renderer" content="webkit"/>
<link rel="shortcut icon" type="image/png" href="http://zcs1.ncfstatic.com/zhongchou/images/favicon_v3.png?v=1">
<!--public js&css start-->            
<link rel="stylesheet" type="text/css" href="http://zcs6.ncfstatic.com/zhongchou/pub/v3/14c4c0d24fba6ed25d8b6758064ef7b8.css?V=1420011048"/>
<script type="text/javascript" src="http://zcs6.ncfstatic.com/zhongchou/pub/v3/2cc0475e1160ea574d0a9b5ebea60136.js?V=1420011048"></script>   
<!--public js&css end -->                                         
</head>
<body>
<!--header static-->
<div class="header">
	<div class="wrap clearfix">		
        <div class="m-left">
          <h2><a alt="众筹网" class="img-logo" title="众筹网" href="/">众筹网</a></h2>
          <ul class="m-nav clearfix">
			      <li><a  class="z-home" href="/"><span><i class="s-01"></i></span>首页</a></li>
          	<li><a  href="/browse"><i class="s-02"></i>浏览项目</a></li>
            <li><a href="http://www.yuanshihui.com/" target="_blank"><i class="s-30"></i>原始会</a></li>
          	<li style="display:none"><a href="http://news.zhongchou.cn/"><i class="s-09"></i>资讯</a></li>
          	<li><a  class="selected" href="/project"><i class="s-03"></i>发起项目</a></li>
            <li><a href="http://app.zhongchou.cn" target="_blank"><i class="s-phone"></i>手机众筹</a></li>
            <li style="display:none"><a href="###"><i class="s-10"></i>论坛</a></li>
          </ul>
        </div>
        <div class="m-right clearfix">
        	
        	
            <div id="Js-header-loginBtn"> 
               <%if(user){%>
              <span class="pull-down clearfix"><i class="meun-02"></i><i class="meun-01"><%=user.mobile%></i></span>
              <%}else{%>
              <span class="pull-down clearfix"><i class="meun-02"></i><i class="meun-01">没有登录</i></span>
              <%}%>
              <ul id="Js-header-login" class="mm-nubg">
                  <li><a href="/home/id-428140"><i class="down-menu01"></i>支持的项目</a></li>
                  <li><a href="/home-build_deal/id-428140"><i class="down-menu02"></i>发起的项目</a></li>
                  <li><a href="/corp-index"><i class="down-menu07"></i>发起者后台</a></li>
                  <li><a href="/home-focus/id-428140"><i class="down-menu03"></i>喜欢的项目</a></li>
                  <li><a href="/message"><i class="down-menu04"></i>消息中心</a></li>
                  <li><a href="/settings"><i class="down-menu05"></i>个人设置</a></li>
                  <li><a href="/logout"><i class="down-menu06"></i>退出</a></li>
              </ul>
            </div>
                        <form action="/deals" method="post" id="header_new_search_form" wx-validator>
            <span>
              <input name="k" wx-validator-placeholder="输入关键词" wx-validator-rule="required" type="text" wx-validator-notip>
              <span class="wx-placeholder" style="font-size:12px;position:absolute;top:3px;*top:3px;left:80px;*left:10px;">输入关键字</span>
              <a href="###" type="submit" class="bh-mhnbo"></a>
            </span>
          </form>
        </div>
	</div>		
</div>
<!--header end-->
<link rel="stylesheet" type="text/css" href="http://zcs6.ncfstatic.com/zhongchou/pub/v3/ee7ae0c1751620090a1f580e44d12fba.css?V=1420011048"/>
<style>
	.edui-image ul li {
width: 92px;
height: 90px;
padding: 10px 20px 10px 0px;  
float: left;
}
.edui-image ul li a {
width: 90px;
height: 90px;
border: 1px solid #eaeaea;
background: #f8f8f8 url(../images/phoenix/icon/bg-upd.jpg?v=397) no-repeat 50% 40%;
display: block;
position: relative;
}
.edui-image ul li img {
width: 90px;
height: 90px;
}
.edui-image ul li a .pos-bg {
width: 100%;
height: 22px;
display: none;
background: #FFF;
filter: alpha(opacity:70);
opacity: 0.7;
position: absolute;
left: 0;
top: 70px;
z-index: 2;
}
.edui-image ul li a .pos-opt {
width: 100%;
height: 22px;
text-align: center;
display: none;
position: absolute;
left: 0; 
top: 70px;
z-index: 3;
}
.hblx{
	height: 36px;
	float: left;
	font-size: 14px;
	line-height: 18px;
	color: #555;
	padding: 4px 5px;
	margin-left: 5px;
	border: 1px solid #bababa;
	border-radius: 3px;
	position: relative;
}
.form-item .input-notes{
	line-height:45px;
}
</style>
<!--header-end-->
<div class="process">
		<!--flow step static-->
		<div class="project-edit-nav">
			<h3 class="steps-2">回报设置</h3>
		</div>
		<!--flow step end-->
</div>
<!--main static-->
<div class="main clearfix">
	<div class="process-wrap clearfix">
		<h1><p><font size="" color="#ff0000"><%- message %></font></p></h1>
			<div class="tit-wrap">
				<h3>项目信息</h3>
			</div>
			<!--project start-->
			<div class="project-box">
				<div class="project-con fl w760">				
					<div class="project-set">
						<!--project-info static-->
						<div class="project-info">
							<table>
								<colgroup>
									<col width="40" />
									<col width="80" />
									<col width="60" />
									<col width="290" />
									<col width="80" />
									<col width="60" />
									<col width="60" />
								</colgroup>
								<thead>
									<tr>
										<th>回报</th>
										<td>支持金额</td>
										<td>名额</td>
										<td>回报内容</td>
										<td>回报时间</td>
										<td>运费</td>
										<td>操作</td>
									</tr>
								</thead>
								<tbody>
									<%if(items){%>
										<%- partial('listitem',items) %>										
									<%}%>
								</tbody>
							</table>
						</div>
						<!--project-info end-->
						<!--project-set-form static-->
						<div class="project-set-form">
							<div id="Js-edit-num" class="form-item-tit">支持回报选项01</div>
							<form name="item_form" id="item_form" action="/project_returns" method="post" onsubmit="return check_form();" enctype="multipart/form-data">
								<div class="form-item clearfix">
									<label>支持金额：</label>
										<input type="text" class="w188 " id="price" name="price" onblur="return check_price();" wx-validator-rule="required|digits"/>
										<span id="show_price"  class="error-text"  style="display:none"><p><font size="" color="#ff0000"></font></p></span>
								</div>
								<div class="form-item clearfix">
									<label>回报内容：</label>
									<textarea class="return-textarea" id="description" name="description" onblur="return check_description();"
								wx-validator-rule="required|maxLength"
							    wx-validator-param="|500" wx-validator-placeholder="请填写关于回报或任何你希望项目发起人知道的信息,不多于500字" maxLength="500"></textarea>
                              <span id="show_description"  class="error-text" style="display:none"><p><font size="" color="#ff0000"></font></p></span>
								</div>
								<div class="form-item clearfix">
									<label>说明图片：</label>
									<div class="edui-image up-btn fs14">
										<div class="ipt-file">
											<!--<input type="file" value="上传图片" id="JS-deal_item_imgload"/>-->
											<input onchange="previewImage(this);" type="file" id="image_file" name="image_file"
											style="font-size:30px;" />
											<a class="">上传图片</a>
										</div>
										<span class="gray">支持jpg、jpeg、png、gif格式，大小不超过500KB。最多上传3张</span>
										<ul id="JS-deal_item_imgload" class="clearfix" style="clear:both;"></ul>
										 <span id="show_image_file"  class="error-text" style="display:none"><p><font size="" color="#ff0000"></font></p></span>
									</div>
								</div>
								<div class="form-item clearfix">
									<label>限定名额：</label>
									<input class="w188" type="text" placeholder="“0”为不限名额" id="limit_num" name="limit_num" onblur="return check_limit_num();" class="inp-w68" value="0" wx-validator-rule="required|digits"/>
<span id="wx-validator-limit_num-digits" class="error-text hidden">请填写正确的数字</span>
									<em>个</em>
									<span class="input-tips gray">“0”为不限名额</span>
									 <span id="show_limit_num"  class="error-text" style="display:none"><p><font size="" color="#ff0000"></font></p></span>
								</div>
								<div class="form-item clearfix">
									<label>运费：</label>
									<input class="w188" type="text" placeholder="“0”为不收运费" id="delivery_fee" name="delivery_fee"  onblur="return check_delivery_fee();" value="0" wx-validator-rule="required|digits"/>
<span id="wx-validator-delivery_fee-digits" class="error-text hidden">请填写正确的数字</span>
									<em>元</em>
									<span class="input-tips gray">“0”为不收运费</span>
									 <span id="show_delivery_fee"  class="error-text" style="display:none"><p><font size="" color="#ff0000"></font></p></span>
								</div>
								
								<div class="form-item clearfix">
									<label>回报时间：</label>
									<em class="w80"></em>
									<input class="w107" type="text" placeholder="“0”为项目结束后立即发送" onblur="return check_repaid_day();" id="repaid_day" name="repaid_day" value="0" wx-validator-rule="required|digits"/>
<span id="wx-validator-repaid_day-digits" class="error-text hidden">请填写正确的数字</span>
									<em>天</em>
									<span class="input-tips gray">“0”为项目结束后立即发送</span>
									 <span id="show_repaid_day"  class="error-text" style="display:none"><p><font size="" color="#ff0000"></font></p></span>
								</div>
								
								<div class="form-item clearfix">
									<label>回报类型：</label>
									<input class="hblx" checked name="return_type" onblur="return check_return_type1();" id="return_type1" type="radio" group='grp_return_type'  value="1"/>
									<span class="input-notes">实物回报(需要快递／邮寄的)</span>																		
									<input class="hblx" name="return_type" id="return_type2" onblur="return check_return_type2();" type="radio" group='grp_return_type'  value="2" />
									<span class="input-notes">虚拟回报(不需要快递/邮寄的，电子照片等)</span>
								</div>
								
								<div class="form-submit" name="finish">
									<button class="remin-save" type="submit" >保存</button>
									<button class="remin-save"   ><span id="cancel_item">取消保存</span></button>
								</div>	
								<input type="hidden" id="data_id" name="data_id" value="" />
								<input type="hidden" name="id" value="" />
								<input type="hidden" id="user_mobile" name="user_mobile" value="<%=user.mobile%>" />
								<input type="hidden" id="real_pic_url" name="real_pic_url" value="" />
							    <input type="hidden" id="returntype" name="returntype" value="1" />


							</form>
							<div class="action fl">
								<button  onclick="javascript:location.href='/project-info';"  class="btn-effect-blue btn-sub w170">上一步</button>
								<button  class="btn-effect-blue btn-sub w170">下一步</button>
							</div>
						</div>
						<!--project-set-form static-->
						
					</div>	
				</div>
			<!--project end-->
		<!--side static-->
		<div class="sidebar w413 fr">
			<!--side-list static-->
			<div class="reminder fs14">
					<h3>温馨提示</h3>
					<p class="black fb">3个以上的回报</p>
					<p>多些选择能提高项目的支持率。</p>
					<p class="black fb">几十、几百、上千元的支持</p>
					<p>3个不同档次的回报，能让你的项目 更快成功。</p>
					<p class="black fb">回报最好是项目的衍生品</p>
					<p>与项目内容有关的回报更能吸引到大家的支持。</p>
			</div>

			<!--side static-->
			<div class="sidebar w383 fr">
				<p class="view-area fs18 fb">预览区域</p>
				<!--list item static-->
				<div class="list-item" id="preview">
							<a class="item-figure" href="javascript:void(0);">
								<img id="image" src="http://zcs7.ncfstatic.com/v3/static/images/open/default.jpg" />
							</a>
							<h3 class="project-name"><a id="Js-name" href="javascript:;"></a></h3>	
							<div class="item-caption">
							<span class="caption-title">目标：<span id="Js-days"></span>&nbsp;&nbsp;&nbsp;
							<span id="Js-price"></span></span>
						</div>
				<!--list item end-->
			</div>
			<!--side end-->
			<!--side-list end-->
		</div>
		<!--side end-->
	</div>
	</div>
</div>
<!--main end-->
<!--footer static-->
<div class="footer">
	<div class="footer-nav">
		<a rel="nofollow" href="/help-about/id-1" alt="关于众筹" title="关于众筹">关于我们 <i>｜</i> </a>
		<a rel="nofollow" href="/help-contact" alt="联系我们" title="联系我们">联系我们 <i>｜</i> </a>
		<!-- <a rel="nofollow" href="/help-team" alt="团队介绍" title="团队介绍">团队介绍 <i>｜</i> </a> -->
		<a rel="nofollow" href="/help-term" alt="服务协议" title="服务协议">服务协议 <i>｜</i> </a>
		<a rel="nofollow" href="/help-specification" alt="项目发起规范" title="项目发起规范">项目发起规范 <i>｜</i> </a>
		<a  href="/partake" alt="新手帮助" title="新手帮助">新手帮助 <i>｜</i> </a>
		<a  href="/help-center" alt="帮助中心" title="帮助中心">帮助中心 <i>｜</i> </a>
		<a  target="_blank" href="/help-tourongzi" alt="投融资服务" title="投融资服务">投融资服务</a>
	</div>
	<div class="footer-icon">
		<span>关注我们：</span>
		<a class="s-05" rel="nofollow" target="_blank" href="http://e.weibo.com/zhongchouwang2013" alt="新浪微博" title="新浪微博"></a>
		<a class="s-06" rel="nofollow" target="_blank" href="http://user.qzone.qq.com/2357291729" alt="QQ空间" title="QQ空间"></a>
		<a class="s-07" rel="nofollow" target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&kw=%E4%BC%97%E7%AD%B9%E7%BD%91" alt="百度贴吧" title="百度贴吧"></a>
		<a class="s-08" rel="nofollow" target="_blank" href="http://www.douban.com/people/zhongchou_cn/" alt="豆瓣小站" title="豆瓣小站"></a>
	</div>
	<div class="footer-copy">
		<div class="wrap">

            <p>&copy;2014 北京网信众筹网络科技有限公司 zhongchou.cn 版权所有 京ICP备14016844号 | 出版物经营许可证编号新出发（京）批字第直140141号 </p>
		</div>
	</div>
</div>
<script type="text/javascript" src="http://zcs6.ncfstatic.com/zhongchou/pub/v3/fe3974b84fb6b50da0f329242078614c.js?V=1420011048"></script>                   
<div id="gotop" class="go-top"></div>
<!--footer end-->
 
<script type="text/javascript" src="http://zcs6.ncfstatic.com/zhongchou/pub/v3/4d7c9e426f1a32e3f16c4f53b8c9cdcf.js?V=1420011048"></script>
<script>
//upload image preview
	function image_file(data){
		var jsimg = $('#JS-deal_item_imgload');
		if(jsimg.find('li').length <3){
			jsimg.append('<li class="image-val"><a href="javascript:;"><img src="'+data.url+'"><input type="hidden" name="image[]" value="'+data.url+'"><span class="pos-bg"></span><span class="pos-opt red">删除</span></a></li>')
		}else{
			wx.alert("最多上传3张图片");
		}
	}
//delete image preview
$('.edui-image').on('click','span',function(){
		$(this).closest('.image-val').remove();
		})
	//---create_image_upload($("#JS-deal_item_imgload")[0]);
	function item_form(data){
		wx.alert(data.info,function(){
			location.href="/projectnew-add_item/id-59944";
		});
	}

	$("#add_item_button").click(function(){
		$("#add_item_form").show("slow");
		$("#project-add-item").hide();
	});
	
	$("#cancel_item").click(function(){
		location.reload();
	});
	
	$(".Js-edit").click(function() {
		$("#Js-edit-num").html("支持回报选项"+$(this).attr("data-num"));

		var id = $(this).attr("data-id");
		wx.sendData("/projectnew-edit_item","id="+id,function(data){
			if(data.status==0){
				wx.alert(data.info);
				return;
			}
			$("#add_item_button").trigger('click');
			$("input[name='price']").val(parseInt(data.price));
			$("textarea[name='description']").val(data.description).next(".wx-placeholder").hide();
			$("input[name='limit_num']").val(data.limit_num);
			$("input[name='repaid_day']").val(data.repaid_day);
			$("input[name='delivery_fee']").val(parseInt(data.delivery_fee));
			//$("input[name='return_type']").val(parseInt(data.return_type));
			var a = data.return_type;
			$("#return_type"+a).attr("checked","checked");
			$("input[name='id']").val(parseInt(data.id));
			var panel = document.getElementById("JS-deal_item_imgload");
			$(panel).html("");
			for(var i =0;i<data.images.length;i++){
				var li = document.createElement("li");
				panel.appendChild(li);
				var el = $(li);
				el.addClass('image-val');
        		el.html('<a href="javascript:;"><img src="' + data.images[i].image.replace(".","_205x160.")+'"  />'+  
            		'<input type="hidden" name="image[]" value="'+data.images[i].image+'"  /><span class="pos-bg"></span><span class="pos-opt red">删除</span></a>');
        		el.find(".pos-opt").bind("click", function(){
          			panel.removeChild($(this).parents('li')[0]);
          			if ($(panel).find("img").length == 2) {
            			//---create_image_upload(panel);
          			}
        		});
			}
			//---create_image_upload(panel);
		});
	});


 //删除当前回报内容
	$(".Js-del-item").click(function(){
		var id = $(this).attr("data-id");
		//alert("id==="+id);
		wx.confirm("确认删除吗?",function(){
            //alert(id);
           delete_user_project_returns_info(id);
		   location.reload();
		});
	});


//
 $('#JS-deal_item_imgload').delegate('a','mouseenter', function(event) {
        $(this).find('.pos-bg').show();
        $(this).find('.pos-opt').show();
    }).delegate('a','mouseleave', function(event) {
        $(this).find('.pos-bg').hide();
        $(this).find('.pos-opt').hide();
    });

//下一步方法
	$(".btn-effect-blue").click(function(){
        location.href="/author_info";
	});


	$(".Js-del-image").live("click",function(){
		var info = $(this).attr("data-id");
		var id = $(this).parent().parent().attr("id");
		$("#"+id).html('<a href="javascript:;">'+
				'<span onclick="upd_file(this,\'image_file\',\''+id+'\');" class="upimg video_lab"> 上传图片'+
				'<input type="file" name="image_file" id="image_file" class="testfile" maxlength="30">'+
				'</span></a>');
		if(info){
			wx.sendData("/prjectnew-del_item_image","id="+info,function(data){

			});
		}
	});
</script>
<!--footer static-->
<script type="text/javascript">
function check_form(){
	if(!check_price()){
		document.getElementById("price").focus();
		return false;

	}else if(!check_description()){
		document.getElementById("description").focus();
		return false;

	}else if(!check_image_file()){
        document.getElementById("image_file").focus();
		return false;
	}else if(!check_limit_num()){
		document.getElementById("limit_num").focus();
		return false;

	}else if(!check_delivery_fee()){
		document.getElementById("delivery_fee").focus();
		return false;

	}else if(!check_repaid_day()){
        document.getElementById("repaid_day").focus();
		return false;
	}
}

function check_price(){
var price=document.getElementById("price").value; 
if(price==""){
	document.getElementById("show_price").style.display="block";
	document.getElementById("show_price").firstChild.firstChild.innerHTML="不能为空!";
	return false;
}else{
	document.getElementById("show_price").style.display="none";
	return true;
}
}

function check_description(){
var description=document.getElementById("description").value; 
if(description==""){
	document.getElementById("show_description").style.display="block";
	document.getElementById("show_description").firstChild.firstChild.innerHTML="请填写关于回报或任何你希望项目发起人知道的信息,不多于500字!";
	return false;
}else if(description.length>500){
	document.getElementById("show_description").style.display="block";
	document.getElementById("show_description").firstChild.firstChild.innerHTML="不多于500字!";
	return false;
}else{
	document.getElementById("show_description").style.display="none";
	return true;
}
}

function check_image_file(){
var image_file=document.getElementById("image_file").value; 
if(image_file==""){
	document.getElementById("show_image_file").style.display="block";
	document.getElementById("show_image_file").firstChild.firstChild.innerHTML="请先上传图片!";
	return false;
}else{
	document.getElementById("show_image_file").style.display="none";
	return true;
}
}

function check_limit_num(){
var limit_num=document.getElementById("limit_num").value; 
if(limit_num==""){
	document.getElementById("show_limit_num").style.display="block";
	document.getElementById("show_limit_num").firstChild.firstChild.innerHTML="不能为空!";
	return false;
}else{
	document.getElementById("show_limit_num").style.display="none";
	return true;
}
}

function check_delivery_fee(){
var delivery_fee=document.getElementById("delivery_fee").value; 
if(delivery_fee==""){
	document.getElementById("show_delivery_fee").style.display="block";
	document.getElementById("show_delivery_fee").firstChild.firstChild.innerHTML="不能为空!";
	return false;
}else{
	document.getElementById("show_delivery_fee").style.display="none";
	return true;
}
}

function check_repaid_day(){
var repaid_day=document.getElementById("repaid_day").value; 
if(repaid_day==""){
	document.getElementById("show_repaid_day").style.display="block";
	document.getElementById("show_repaid_day").firstChild.firstChild.innerHTML="不能为空!";
	return false;
}else{
	document.getElementById("show_repaid_day").style.display="none";
	return true;
}
}	

function check_return_type1(){
	var return_type1=document.getElementById("return_type1").value;
	document.getElementById("returntype").value=return_type1;
	
}

function check_return_type2(){
	var return_type2=document.getElementById("return_type2").value;
	document.getElementById("returntype").value=return_type2;
	
}

//图片预览方法
function previewImage(file)
{
  var MAXWIDTH  = 230;
  var MAXHEIGHT = 175;
  var div = document.getElementById('preview');
  if (file.files && file.files[0])
  {
  	var img = document.getElementById('image');
  	var reader = new FileReader();
  	reader.onload = function(evt){
	img.src = evt.target.result;
	}	
  	reader.readAsDataURL(file.files[0]);
  }
  else
  {
    var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
    file.select();
    var src = document.selection.createRange().text;
    var img = document.getElementById('image');
    var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
    div.innerHTML = "<img id=image style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;margin-left:"+rect.left+"px;"+sFilter+src+"\"'>"+"<h3 class='project-name'><a id='Js-name' href='javascript:;'></a></h3>"+"<div class='item-caption'>"+"<span class='caption-title'>目标：<span id='Js-days'>&nbsp;&nbsp;&nbsp"+"<span id='Js-price'></span></span>";

  }
}

function clacImgZoomParam( maxWidth, maxHeight, width, height ){
	var param = {top:0, left:0, width:width, height:height};
	if( width>maxWidth || height>maxHeight )
	{
		rateWidth = width / maxWidth;
		rateHeight = height / maxHeight;
		
		if( rateWidth > rateHeight )
		{
			param.width =  maxWidth;
			param.height = Math.round(height / rateWidth);
		}else
		{
			param.width = Math.round(width / rateHeight);
			param.height = maxHeight;
		}
	}
	
	param.left = Math.round((maxWidth - param.width) / 2);
	param.top = Math.round((maxHeight - param.height) / 2);
	return param;
}

//随机产生uuid
// Generate four random hex digits.
function S4() {
   return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
};
// Generate a pseudo-GUID by concatenating random hexadecimal.
function guid() {
   return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
}
window.onload=function(){
	//alert("uuid======="+guid());
	document.getElementById("data_id").value=guid();
}


//异步删除记录
function delete_user_project_returns_info(id){
        var params ={
                data_id: id
            };
            $.ajax({
                data: params,
                url: '/delete_user_project_returns_info',
                dataType: 'json',
                type:'get',
                async: false,
                cache: false,
                timeout: 5000,
                success: function(data){
                  if(data.error){
                       alert(data.error);
                      /* document.getElementById("mobile").value="";*/
                  }else{
                    //alert(data.success);
                    location.reload();

                  }
                },
                error: function(jqXHR, textStatus, errorThrown){
                    alert('错误提示:==== ' + textStatus + " " + errorThrown); 
                }
            });
 }

</script>
<!--footer end-->
</body>
</html>
