
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title><%=project_info.name%>-众筹网</title>
<meta name="keywords" content="成思危作序，创业者必读的《中国天使投资》-众筹网"/>
<meta name="description" content="成思危作序，创业者必读的《中国天使投资》-众筹网"/>
<meta name="renderer" content="webkit"/>
<link rel="shortcut icon"  type="image/png" href="http://zcs1.ncfstatic.com/v3/static/images/icon/title.png?v="/>

<link rel="stylesheet" type="text/css" href="http://zcs1.ncfstatic.com/zhongchou/pub/v3/14c4c0d24fba6ed25d8b6758064ef7b8.css?V=1422860520" >
<script type="text/javascript" src="http://zcs1.ncfstatic.com/zhongchou/pub/v3/2cc0475e1160ea574d0a9b5ebea60136.js?V=1422860520" ></script>
                                      
</head>
<body>
<!--header static-->
<%include header.ejs%>
<!--header end-->
<link rel="stylesheet" type="text/css" href="http://zcs1.ncfstatic.com/zhongchou/pub/v3/9d51634ce7709077e9c999c014e52b59.css?V=1422860520" >
<!--main static-->
<!--particulars static-->
<div class="particulars clearfix">
  <div class="particulars-left">
    <h1>成思危作序，创业者必读的《中国天使投资》</h1>
    <p class="m-initiator">
      <span>发起人：<a target="_blank" href="/home/id-252296">淏宣</a></span>
      <span>北京石景山区</span>
    </p>
    <div id="Js-nav" class="particulars-nav clearfix">
      <ul class="clearfix">
        <li class="mm-op"><a href="http://www.zhongchou.cn/deal-show/id-71887" class="z-select"><i class="a-pos"></i>项目主页</a></li>
                <li><a href="http://www.zhongchou.cn/deal-topic/id-71887">评论（9）</a></li>
        <li><a href="http://www.zhongchou.cn/deal-dealitem/id-71887" >支持者（104）</a></li>
      	      </ul>
      <div class="share">
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style">
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_renren"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a>
            </div>
             <script type="text/javascript">
			window.jiathis_config = {
				url : "http://www.zhongchou.cn/deal-show/id-71887",
				title : "成思危作序，创业者必读的《中国天使投资》-众筹网",
			};
		    </script>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
      </div>
    </div>
      <div  id="Js-detail" class="m-matter">
      	
  
      <h2><span style="font-size:16px;">关于我们</span></h2>
<p><span style="font-size:14px;">我们将在2015年推出《中国天使投资》一书以及天使投资系列线下活动，为创业者和投资人提供更好的平台与机会。</span><br />
<span style="font-size:14px;">中国发展出版社：是以经济、管理、社科为主要产品的综合性出版社，关注变化中的中国社会新趋势。之前出版过《中国创投20年》《天使投资》《金融之巅》《投行的逻辑》等作品，并举办过众多相关线下活动。</span></p>
<p><span style="font-size:12px;font-weight:normal;line-height:1.5;"><img alt="成思危作序，创业者必读的《中国天使投资》 (中国,参与,天使,投资,创新,创业)" title="成思危作序，创业者必读的《中国天使投资》 (中国,参与,天使,投资,创新,创业)" wx-lz="http://zcr2.ncfstatic.com/attachment/201501/21/16/54bf612013098.jpg"  border="0" /><br />
</span> </p>
<p>	<span style="font-size:12px;line-height:1.5;"> </span><span style="font-size:14px;"><b><span style="color:#d40a00;font-size:16px;">刘曼红（</span></b></span><span style="font-size:14px;"><b><span style="color:#d40a00;font-size:16px;">Mannie)</span></b>, </span><span style="font-size:14px;">现任中国科学院虚拟经济与数据科学研究中心风险投资研究室主任，中国人民大学教授、博士生导师，兼任中国风险投资研究院理事、《中国风险投资》杂志主编、中国技术创业协会天使投资联盟创始人及名誉主席、世界天使投资协会理事、中国股权投资研究院高级副院长、国际生态发展联盟（</span><span style="font-size:14px;">Ecological Development Union International, EDUI</span><span style="font-size:14px;">）共同理事长、香港致富集团董事。同时，还担任北京市政府金融顾问、海淀区科委金融顾问等职务。她于</span><span style="font-size:14px;">1994</span><span style="font-size:14px;">年获取康奈尔大学经济学博士学位，</span><span style="font-size:14px;">1993~1997</span><span style="font-size:14px;">年曾在哈佛大学担任副研究员。她在中国风险投资领域有很多论著。《风险投资：创新与金融》是中国最早的风险投资专著之一，《天使投资理论与实践》被誉为中国第一天使投资专著。英文新书</span><span style="font-size:14px;">Renewable Energy in China:Towards a Green Economy</span><span style="font-size:14px;">受到世界各国学术界及实业界的好评。主要研究方向为：风险投资、天使投资，私人权益资本，绿色投资、社会责任投资等等。</span> </p>
<p style="text-indent:0px;"><span style="font-size:12px;line-height:1.5;"> </span><b><span style="font-size:16px;color:#d40a00;">王佳妮（</span><span style="font-size:16px;color:#d40a00;">Jenny</span><span style="font-size:16px;color:#d40a00;">）</span></b><span style="font-size:14px;">, </span><span style="font-size:14px;">现就职于中国科学院虚拟经济与数据科学研究中心风险投资研究室，从事博士后研究工作，师从“中国风险投资之父”成思危先生与中国风险投资权威学者刘曼红教授，研究方向为天使投资与早期投资。她于</span><span style="font-size:14px;">2012</span><span style="font-size:14px;">年在上海财经大学获得经济学博士学位，在校期间开始关注中小企业投融资与风险投资领域的相关问题，具备丰富的数据分析与市场调研经验。</span><span style="font-size:14px;">2013</span><span style="font-size:14px;">年</span><span style="font-size:14px;">1</span><span style="font-size:14px;">月正式进入中国科学院大学博士后流动站，重点研究天使投资理论与政策，同时还担任《证券导报》风险投资专栏特邀主编、《中国风险投资》北京编辑部负责人，策划了“天使投资百家论坛”大型访谈活动。她还热衷于参加社会活动和国际交流：曾经主持了“</span><span style="font-size:14px;">2013</span><span style="font-size:14px;">天使中国创新创业大赛年会”的投资人圆桌论坛与“</span><span style="font-size:14px;">2014</span><span style="font-size:14px;">亚洲商业天使论坛（</span><span style="font-size:14px;">ABAF</span><span style="font-size:14px;">）”的中国圆桌论坛；出席</span><span style="font-size:14px;">2014</span><span style="font-size:14px;">年中国风险投资论坛并在闭门圆桌会议上做主题报告，出席</span><span style="font-size:14px;">2014</span><span style="font-size:14px;">年美国天使投资协会年会（</span><span style="font-size:14px;">ACA Summit</span><span style="font-size:14px;">）并在国际交流研讨会上发表演讲。</span></p>
<p style="text-indent:0px;"><span style="font-size:12px;font-weight:normal;line-height:1.5;"> </span><span style="font-size:14px;">中国天使投资方兴未艾，在美丽的</span><span style="font-size:14px;">2014</span><span style="font-size:14px;">年金秋，我们的这本《中国天使投资：理论、方法与实践》新书问世了。这本书与刘曼红教授过去的两本书——《天使投资与民间资本》、《创业投资圣经：天使投资理论与实践》全然不同。新书不仅涵盖了天使投资的理论，而且囊括了大量中国天使投资的具体情况，突出了中国天使投资市场的特殊性，尤其是通过发放问卷与实地访谈获得了相对丰富的一手资料，让研究内容更加“接地气”。</span></p>
<h2 style="text-indent:0px;"><span style="font-size:16px;">我们想要做什么</span></h2>
<p>	<span style="font-size:14px;"><b><span style="color:#d40a00;font-size:16px;">成思危</span></b>：正如十七年前在全国政协提出“一号提案”推动中国风险投资事业一样，支持天使投资的发展也是要发现有创新能力的人才并且支持他们把创新思想转化为产品或技术，真正能为我们建设创新型国家做出贡献。同时，作为一个新兴领域，从事天使投资研究的学者也不多，希望《中国天使投资》能够让更多的专家和学者关注天使投资，探索天使投资在中国发展的内在规律和最优模式，为实践者提供理论指导，也为政策制定者提供决策依据，推动中国天使投资规范健康发展。</span></p>
<p><span style="font-size:14px;"><img alt="成思危作序，创业者必读的《中国天使投资》 (中国,参与,天使,投资,创新,创业)" title="成思危作序，创业者必读的《中国天使投资》 (中国,参与,天使,投资,创新,创业)" wx-lz="http://zcr2.ncfstatic.com/attachment/201501/21/16/54bf61b38a922.jpg"  border="0" /></span></p>
<p>《中国天使投资》亮点众多：</p>
<p><span style="font-size:14px;">	</span><span style="font-size:14px;"> 1.中国风险投资之父成思危教授作序，是著名风险投资专家刘曼红教授研究团队的精品力作。</span><span style="font-size:14px;"> </span></p>
<p><span style="font-size:14px;">	2.本书得到了众多天使投资行业专家、学者的重磅推荐。</span></p>
<p><img alt="成思危作序，创业者必读的《中国天使投资》 (中国,参与,天使,投资,创新,创业)" title="成思危作序，创业者必读的《中国天使投资》 (中国,参与,天使,投资,创新,创业)" wx-lz="http://zcr2.ncfstatic.com/attachment/201501/21/16/54bf66fd80195.jpg"  border="0" /><br />
</p>
<p>3.本书作者团队与国内外最活跃的天使投资组织、天使投资机构、天使投资服务平台、创业服务机构建立了联系，曾开展众多“接地气”的访谈调研。</p>
<p><span style="font-size:14px;">	</span><span style="font-size:14px;"> 4.书中包含的20个典型案例，揭开中国天使投资行业发展的神秘面纱。</span></p>
<p><b>此外，参与众筹可以获得更多增值服务，包括：</b></p>
<p><span style="font-size:14px;">	</span><span style="font-size:14px;"> 1.创新创业与天使投资领域的学术研讨会邀请函</span><span style="font-size:14px;"> </span></p>
<p><span style="font-size:14px;">	</span><span style="font-size:14px;"> 受邀参加由中科院、北大、清华、人大、新华都商学院等单位主办的创新创业与天使投资领域的学术研讨活动，与权威专家、知名教授进行面对面交流，仅限北京地区，时间及活动嘉宾待另行通知。</span><span style="font-size:14px;"> </span></p>
<p><span style="font-size:14px;">	</span><span style="font-size:14px;"> 2.创新创业与天使投资领域的干货分享会门票</span><span style="font-size:14px;"> </span></p>
<p><span style="font-size:14px;">	</span><span style="font-size:14px;"> 受邀参加本书支持单位——全国活跃的天使投资组织、天使投资机构、天使投资服务平台、创业服务机构等举办的干货分享活动，仅限北京</span><span style="font-size:14px;">/</span><span style="font-size:14px;">上海</span><span style="font-size:14px;">/</span><span style="font-size:14px;">宁波</span><span style="font-size:14px;">/</span><span style="font-size:14px;">广东</span><span style="font-size:14px;">/</span><span style="font-size:14px;">深圳，备注地点信息，时间及活动嘉宾待另行通知。</span><span style="font-size:14px;"> </span></p>
<p><span style="font-size:14px;">	</span><span style="font-size:14px;"> 3.创新创业与天使投资领域的私密对接活动门票</span></p>
<p>享受参加本书支持单位——全国活跃的天使投资组织、天使投资机构、天使投资服务平台、创业服务机构提供的创业培训、创业辅导、投融资私密对接等服务，仅限北京/上海/宁波/广东/深圳，备注地点信息，时间及活动嘉宾待另行通知。</p>
<p><span style="font-size:14px;">	</span><span style="font-size:14px;"> 4.创新创业与天使投资领域的大型活动</span><span style="font-size:14px;">VIP</span><span style="font-size:14px;">门票（价值</span><span style="font-size:14px;">5000</span><span style="font-size:14px;">元）</span><span style="font-size:14px;"> </span></p>
<p><span style="font-size:14px;">	</span><span style="font-size:14px;"> 受邀参加本书支持单位——全国活跃的天使投资组织、天使投资机构、天使投资服务平台、创业服务机构等举办的大型活动，仅限北京</span><span style="font-size:14px;">/</span><span style="font-size:14px;">上海</span><span style="font-size:14px;">/</span><span style="font-size:14px;">宁波</span><span style="font-size:14px;">/</span><span style="font-size:14px;">广东</span><span style="font-size:14px;">/</span><span style="font-size:14px;">深圳，备注地点信息，时间及活动嘉宾待另行通知。</span></p>
<p><span style="font-size:14px;"><img alt="成思危作序，创业者必读的《中国天使投资》 (中国,参与,天使,投资,创新,创业)" title="成思危作序，创业者必读的《中国天使投资》 (中国,参与,天使,投资,创新,创业)" wx-lz="http://zcr2.ncfstatic.com/attachment/201501/21/16/54bf62ae544a7.jpg"  border="0" /></span></p>
<p>5.推荐加入天使投资的交流微信群（有机会认识更多天使投资行业大佬）。</p>
<h2>	<span style="font-size:16px;">为什么我需要你的支持及资金用途</span></h2>
<p style="text-indent:0px;">众筹的费用将用于各种线下活动的相关开支，回馈大家，服务于创业者和投资人，为创业者和投资人提供更多天使投资信息与对接机会。</p>
<p style="text-indent:0px;">众筹网众筹平台预期筹资：<b>1万元</b></p>
<p align="left">	回报的方式包括第一时间获得低折扣的纸质图书，参加相关线下互动活动。</p>
<p align="left"><b>	<span style="color:#d40a00;">A．29元</span></b>：《中国天使投资》一本（本书原价为55元）</p>
<p align="left"><b>	<span style="color:#d40a00;">B．99元</span></b>：《中国天使投资》作者亲笔签名版一本+硅谷天使投资家林富元作品《天使投资》一本+《中国创投20年》一本</p>
<p align="left"><b>	<span style="color:#d40a00;">C．299元</span></b>：《中国天使投资》作者亲笔签名版五本+硅谷天使投资家林富元作品《天使投资》一本+《中国创投20年》一本+创新创业与天使投资领域的学术研讨会邀请函一封+创新创业与天使投资领域的干货分享会门票一张</p>
<p align="left"><b>	<span style="color:#d40a00;">D．599元</span></b>：《中国天使投资》作者亲笔签名版十五本+硅谷天使投资家林富元作品《天使投资》一本+《中国创投20年》一本+创新创业与天使投资领域的学术研讨会邀请函一封+创新创业与天使投资领域的干货分享会门票一张+创新创业与天使投资领域的私密对接活动门票一张</p>
<p align="left"><b>	<span style="color:#d40a00;">E．999元</span></b>：《中国天使投资》作者亲笔签名版三十本+硅谷天使投资家林富元作品《天使投资》一本+《中国创投20年》一本+创新创业与天使投资领域的学术研讨会邀请函一封+创新创业与天使投资领域的干货分享会门票一张+创新创业与天使投资领域的私密对接活动门票一张</p>
<p align="left"><b>	<span style="color:#d40a00;">F．2999元</span></b>：《中国天使投资》作者亲笔签名版五十本+硅谷天使投资家林富元作品《天使投资》一本+《中国创投20年》一本+创新创业与天使投资领域的学术研讨会邀请函一封+创新创业与天使投资领域的干货分享会门票一张+创新创业与天使投资领域的私密对接活动门票一张+创新创业与天使投资领域的大型活动VIP门票一张（价值5000元）+推荐加入天使投资的交流微信群（有机会认识更多天使投资行业大佬）</p>
<h2>	<span style="font-size:16px;">可能存在的风险</span></h2>
<p>	<span style="font-size:14px;">线下活动时间地点并未确定，时间应该在图书出版后。地点应该在北京、上海、深圳、广州等地。</span></p>
    </div>
    <div class="z-corner">
      <span>分类：<a href="http://www.zhongchou.cn/chuban">出版</a></span>
      <span>标签：
            	<a href="http://www.zhongchou.cn/deals-tags/t-中国">中国</a>
            	<a href="http://www.zhongchou.cn/deals-tags/t-参与">参与</a>
            	<a href="http://www.zhongchou.cn/deals-tags/t-天使">天使</a>
            	<a href="http://www.zhongchou.cn/deals-tags/t-投资">投资</a>
            	<a href="http://www.zhongchou.cn/deals-tags/t-创新">创新</a>
            	<a href="http://www.zhongchou.cn/deals-tags/t-创业">创业</a>
            </span>
    </div>
    
    
    <div class="m-portpe">
      <h4>热门推荐</h4>
      <ul>
      	<li>
	<div class="m-recommend img-scale">
    	<a href="http://www.zhongchou.cn/deal-show/id-39880"><img wx-lz="http://zcr2.ncfstatic.com//attachment/201412/05/11/54812a0348bbd.jpg?v="></a>
        <h5><a href="http://www.zhongchou.cn/deal-show/id-39880">《别样的汉字故事》中…</a></h5>
        <p>已筹资：<em>¥0(0%)</em></p>
        <p>剩余时间：<em>9小时</em></p>
     </div>
</li><li>
	<div class="m-recommend img-scale">
    	<a href="http://www.zhongchou.cn/deal-show/id-59605"><img wx-lz="http://zcr2.ncfstatic.com//attachment/201412/31/15/6a1f30e7696eaecee53591846c00c30b11.jpg?v="></a>
        <h5><a href="http://www.zhongchou.cn/deal-show/id-59605">《互联网思维2.0：…</a></h5>
        <p>已筹资：<em>¥1,225(13%)</em></p>
        <p>剩余时间：<em>3天</em></p>
     </div>
</li><li>
	<div class="m-recommend img-scale">
    	<a href="http://www.zhongchou.cn/deal-show/id-61639"><img wx-lz="http://zcr2.ncfstatic.com//attachment/201501/05/20/b5252eb655a919f462e98e570849611527.jpg?v="></a>
        <h5><a href="http://www.zhongchou.cn/deal-show/id-61639">Citybook《黑…</a></h5>
        <p>已筹资：<em>¥34,467(44%)</em></p>
        <p>剩余时间：<em>2天</em></p>
     </div>
</li><li>
	<div class="m-recommend img-scale">
    	<a href="http://www.zhongchou.cn/deal-show/id-68122"><img wx-lz="http://zcr2.ncfstatic.com//attachment/201501/15/10/8972b1c10e9f4cf89944a729d5b3601543.jpg?v="></a>
        <h5><a href="http://www.zhongchou.cn/deal-show/id-68122">《错配》——香港《大…</a></h5>
        <p>已筹资：<em>¥78(1%)</em></p>
        <p>剩余时间：<em>2天</em></p>
     </div>
</li>      </ul>
    </div>
  </div>
  
  <div class="particulars-right">
    <div class="m-bottom clearfix">
      <a href="#supp" id="Js-supportHash"><i class="z-support"></i>支持</a>
      	  <a href="javascript:;" data-id="71887" class="z-gf Js-like_top bn"><i class="z-like"></i>喜欢</a>
	  </div>
<div class="m-statistics">
  <div class="m-add m-add-02">
  	    <p class="z-01">目前累计资金</p>
        
    <p class="z-02">¥10,890</p>
    <p class="z-03">
        	此项目必须在<em>2015年03月12日</em>前得到<em>¥10,000</em>的支持才可成功！</p>
  	  </div>
  <div class="m-content">
    <div class="progress-bar">
        <span class="progress bg-yellow " style="width:109%;">  </span>   
        
         
    </div>
    <div class="z-number">109%</div>
  </div>
  <div class="m-supporter clearfix">
    <dl>
             <dt>37天</dt>
       <dd>剩余时间</dd>
          </dl>
    <dl>
      <dt>104</dt>
      <dd>支持者</dd>
    </dl>
    <dl class="z-last">
      <dt>90</dt>
      <dd>喜欢</dd>
    </dl>
  </div>
</div>
    <div id="Js-rightside" class="supportItem">
            <div class="m-road  Js-itemHover">
        <p class="p-01 clearfix">
          <span class="n-01">¥29</span>
                    <span class="n-02">已有 <em>63</em> 位支持者 </span>
                  </p>
        <p class="p-02">
           《中国天使投资》一本（本书原价为55元）        </p>
                <div class="m-exp clearfix">
                    <a href="/attachment/201501/20/16/ad63fb4c9619da84cf7f3fed099f8d7961.jpg" class="Js-fancybox" rel="itemgroup100052587"><img src="http://zcr2.ncfstatic.com//attachment/201501/20/16/ad63fb4c9619da84cf7f3fed099f8d7961.jpg?v=" rel="http://zcr2.ncfstatic.com//attachment/201501/20/16/ad63fb4c9619da84cf7f3fed099f8d7961.jpg?v="></a>
                  </div>
                <p class="p-03">配送费用：<em>免运费</em></p>
        <p class="p-03">预计回报发送时间：<em>项目成功结束后10天</em></p>      
</div>
<style>
.m-message .form-item {
	margin-bottom: 10px;
	height: 32px;
	line-height: 32px;
}
.m-message .form-item label {
	float: left;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	text-align: right;
	width: 100px;
}
.m-message input[type="text"] {
	border: 1px solid #e4e4e4;
	color: black;
	font-size: 14px;
	height: 17px;
	line-height: 17px;
	padding: 8px 0 8px 10px;
	width: 235px;
}
.m-message .pop-body {
	padding: 20px;
}
</style>
					<a name="supp" href="http://www.zhongchou.cn/pay2-make/did-71887-id-100052587" data-jump="" class="s-back Js-support" data-money="29">支持¥29</a>
			<div class="m-road  Js-itemHover">
        <p class="p-01 clearfix">
          <span class="n-01">¥99</span>
                    <span class="n-02">已有 <em>33</em> 位支持者 </span>
                  </p>
        <p class="p-02">
           《中国天使投资》作者亲笔签名版一本+硅谷天使投资家林富元作品《天使投资》一本+《中国创投20年》一本        </p>
                <div class="m-exp clearfix">
                    <a href="/attachment/201501/20/16/bb6e916b62c6f3f7628b05463dbf43a740.jpg" class="Js-fancybox" rel="itemgroup100052593"><img src="http://zcr2.ncfstatic.com//attachment/201501/20/16/bb6e916b62c6f3f7628b05463dbf43a740.jpg?v=" rel="http://zcr2.ncfstatic.com//attachment/201501/20/16/bb6e916b62c6f3f7628b05463dbf43a740.jpg?v="></a>
                  </div>
                <p class="p-03">配送费用：<em>免运费</em></p>
        <p class="p-03">预计回报发送时间：<em>项目成功结束后10天</em></p>      
</div>
<style>
.m-message .form-item {
	margin-bottom: 10px;
	height: 32px;
	line-height: 32px;
}
.m-message .form-item label {
	float: left;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	text-align: right;
	width: 100px;
}
.m-message input[type="text"] {
	border: 1px solid #e4e4e4;
	color: black;
	font-size: 14px;
	height: 17px;
	line-height: 17px;
	padding: 8px 0 8px 10px;
	width: 235px;
}
.m-message .pop-body {
	padding: 20px;
}
</style>
					<a name="supp" href="http://www.zhongchou.cn/pay2-make/did-71887-id-100052593" data-jump="" class="s-back Js-support" data-money="99">支持¥99</a>
			<div class="m-road  Js-itemHover">
        <p class="p-01 clearfix">
          <span class="n-01">¥299</span>
                    <span class="n-02">已有 <em>2</em> 位支持者 </span>
                  </p>
        <p class="p-02">
           《中国天使投资》作者亲笔签名版五本+硅谷天使投资家林富元作品《天使投资》一本+《中国创投20年》一本+创新创业与天使投资领域的学术研讨会邀请函一封+创新创业与天使投资领域的干货分享会门票一张        </p>
                <div class="m-exp clearfix">
                    <a href="/attachment/201501/20/16/9031788500c449cbe980c486ff7dba1f57.jpg" class="Js-fancybox" rel="itemgroup100052596"><img src="http://zcr2.ncfstatic.com//attachment/201501/20/16/9031788500c449cbe980c486ff7dba1f57.jpg?v=" rel="http://zcr2.ncfstatic.com//attachment/201501/20/16/9031788500c449cbe980c486ff7dba1f57.jpg?v="></a>
                  </div>
                <p class="p-03">配送费用：<em>免运费</em></p>
        <p class="p-03">预计回报发送时间：<em>项目成功结束后20天</em></p>      
</div>
<style>
.m-message .form-item {
	margin-bottom: 10px;
	height: 32px;
	line-height: 32px;
}
.m-message .form-item label {
	float: left;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	text-align: right;
	width: 100px;
}
.m-message input[type="text"] {
	border: 1px solid #e4e4e4;
	color: black;
	font-size: 14px;
	height: 17px;
	line-height: 17px;
	padding: 8px 0 8px 10px;
	width: 235px;
}
.m-message .pop-body {
	padding: 20px;
}
</style>
					<a name="supp" href="http://www.zhongchou.cn/pay2-make/did-71887-id-100052596" data-jump="" class="s-back Js-support" data-money="299">支持¥299</a>
			<div class="m-road  Js-itemHover">
        <p class="p-01 clearfix">
          <span class="n-01">¥599</span>
                    <span class="n-02">已有 <em>2</em> 位支持者 </span>
                  </p>
        <p class="p-02">
           《中国天使投资》作者亲笔签名版十五本+硅谷天使投资家林富元作品《天使投资》一本+《中国创投20年》一本+创新创业与天使投资领域的学术研讨会邀请函一封+创新创业与天使投资领域的干货分享会门票一张+创新创业与天使投资领域的私密对接活动门票一张        </p>
                <div class="m-exp clearfix">
                    <a href="/attachment/201501/20/16/dde32751ae744408c760f55a091f813e97.jpg" class="Js-fancybox" rel="itemgroup100052599"><img src="http://zcr2.ncfstatic.com//attachment/201501/20/16/dde32751ae744408c760f55a091f813e97.jpg?v=" rel="http://zcr2.ncfstatic.com//attachment/201501/20/16/dde32751ae744408c760f55a091f813e97.jpg?v="></a>
                  </div>
                <p class="p-03">配送费用：<em>免运费</em></p>
        <p class="p-03">预计回报发送时间：<em>项目成功结束后20天</em></p>      
</div>
<style>
.m-message .form-item {
	margin-bottom: 10px;
	height: 32px;
	line-height: 32px;
}
.m-message .form-item label {
	float: left;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	text-align: right;
	width: 100px;
}
.m-message input[type="text"] {
	border: 1px solid #e4e4e4;
	color: black;
	font-size: 14px;
	height: 17px;
	line-height: 17px;
	padding: 8px 0 8px 10px;
	width: 235px;
}
.m-message .pop-body {
	padding: 20px;
}
</style>
					<a name="supp" href="http://www.zhongchou.cn/pay2-make/did-71887-id-100052599" data-jump="" class="s-back Js-support" data-money="599">支持¥599</a>
			<div class="m-road  Js-itemHover">
        <p class="p-01 clearfix">
          <span class="n-01">¥999</span>
                    <span class="n-02">已有 <em>1</em> 位支持者 </span>
                  </p>
        <p class="p-02">
           《中国天使投资》作者亲笔签名版三十本+硅谷天使投资家林富元作品《天使投资》一本+《中国创投20年》一本+创新创业与天使投资领域的学术研讨会邀请函一封+创新创业与天使投资领域的干货分享会门票一张+创新创业与天使投资领域的私密对接活动门票一张        </p>
                <div class="m-exp clearfix">
                    <a href="/attachment/201501/20/16/e4a2a505799c6514c15b47a0bf10c7b344.jpg" class="Js-fancybox" rel="itemgroup100052605"><img src="http://zcr2.ncfstatic.com//attachment/201501/20/16/e4a2a505799c6514c15b47a0bf10c7b344.jpg?v=" rel="http://zcr2.ncfstatic.com//attachment/201501/20/16/e4a2a505799c6514c15b47a0bf10c7b344.jpg?v="></a>
                  </div>
                <p class="p-03">配送费用：<em>免运费</em></p>
        <p class="p-03">预计回报发送时间：<em>项目成功结束后20天</em></p>      
</div>
<style>
.m-message .form-item {
	margin-bottom: 10px;
	height: 32px;
	line-height: 32px;
}
.m-message .form-item label {
	float: left;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	text-align: right;
	width: 100px;
}
.m-message input[type="text"] {
	border: 1px solid #e4e4e4;
	color: black;
	font-size: 14px;
	height: 17px;
	line-height: 17px;
	padding: 8px 0 8px 10px;
	width: 235px;
}
.m-message .pop-body {
	padding: 20px;
}
</style>
					<a name="supp" href="http://www.zhongchou.cn/pay2-make/did-71887-id-100052605" data-jump="" class="s-back Js-support" data-money="999">支持¥999</a>
			<div class="m-road  Js-itemHover">
        <p class="p-01 clearfix">
          <span class="n-01">¥2,999</span>
                    <span class="n-02">已有 <em>1</em> 位支持者 </span>
                  </p>
        <p class="p-02">
           《中国天使投资》作者亲笔签名版五十本+硅谷天使投资家林富元作品《天使投资》一本+《中国创投20年》一本+创新创业与天使投资领域的学术研讨会邀请函一封+创新创业与天使投资领域的干货分享会门票一张+创新创业与天使投资领域的私密对接活动门票一张+创新创业与天使投资领域的大型活动VIP门票一张（价值5000元）+推荐加入天使投资的交流微信群（有机会认识更多天使投资行业大佬）        </p>
                <div class="m-exp clearfix">
                    <a href="/attachment/201501/20/16/c48bcae99fa97f47ffba7d62b9aa812f48.jpg" class="Js-fancybox" rel="itemgroup100052611"><img src="http://zcr2.ncfstatic.com//attachment/201501/20/16/c48bcae99fa97f47ffba7d62b9aa812f48.jpg?v=" rel="http://zcr2.ncfstatic.com//attachment/201501/20/16/c48bcae99fa97f47ffba7d62b9aa812f48.jpg?v="></a>
                  </div>
                <p class="p-03">配送费用：<em>免运费</em></p>
        <p class="p-03">预计回报发送时间：<em>项目成功结束后20天</em></p>      
</div>
<style>
.m-message .form-item {
	margin-bottom: 10px;
	height: 32px;
	line-height: 32px;
}
.m-message .form-item label {
	float: left;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	text-align: right;
	width: 100px;
}
.m-message input[type="text"] {
	border: 1px solid #e4e4e4;
	color: black;
	font-size: 14px;
	height: 17px;
	line-height: 17px;
	padding: 8px 0 8px 10px;
	width: 235px;
}
.m-message .pop-body {
	padding: 20px;
}
</style>
					<a name="supp" href="http://www.zhongchou.cn/pay2-make/did-71887-id-100052611" data-jump="" class="s-back Js-support" data-money="2,999">支持¥2,999</a>
			<div class="m-road">
        <p class="p-01 clearfix">
          <span class="n-01">无私支持</span>
          <span class="n-02">已有 <em>2</em> 位支持者 </span>
        </p>
        <p class="p-02">
           	感谢您的无私奉献，这份捐赠将助我们的梦想飞的更高更远。
        </p>
        
</div>
      
               <a name="supp" href="http://www.zhongchou.cn/pay3-make/did-71887-id-99999999" data-jump="" class="s-back Js-support" data-money="">无私支持</a>
        
      <div id="focusbox" class="m-advertisement">
        <ul>
          <li><a href="www.zhongchou.cn/special-banjiangdianli"><img src="/attachment/201502/02/16/54cf3bf90026d.jpg"></a></li><li><a href="www.zhongchou.cn/deal-show/id-48532"><img src="/attachment/201502/02/16/54cf3b79e57a1.jpg"></a></li><li><a href="www.zhongchou.cn/deal-show/id-60220"><img src="/attachment/201502/02/16/54cf3b51ca549.jpg"></a></li><li><a href="www.zhongchou.cn/deal-show/id-72037"><img src="/attachment/201502/02/16/54cf3b02d36eb.jpg"></a></li><li><a href="www.zhongchou.cn/deal-show/id-53476"><img src="/attachment/201502/02/16/54cf3ad718503.jpg"></a></li><li><a href="www.zhongchou.cn/special-gongyibiao"><img src="/attachment/201502/02/16/54cf3aa97f749.jpg"></a></li>        </ul>
      </div>
    </div>
  </div>
  
</div>
<!--particulars static-->
<!--main end-->
<div class="footer">
	<div class="footer-nav">
		<a href="/help-index/id-1" rel="nofollow" target="_blank">关于我们 <i>｜</i> </a>
		<a href="/help-contact" rel="nofollow" target="_blank">联系我们 <i>｜</i> </a>
		<!-- <a href="/help-team" rel="nofollow">团队介绍 <i>｜</i> </a> -->
		<a href="/help-term" rel="nofollow" target="_blank">服务协议 <i>｜</i> </a>
		<a href="/help-specification" rel="nofollow" target="_blank">项目发起规范 <i>｜</i> </a>
		<a href="/special-xinshou" target="_blank">新手帮助 <i>｜</i> </a>
		<a href="/help-center" target="_blank">帮助中心 <i>｜</i> </a>
		<a href="/help-tourongzi" target="_blank">投融资服务<i>｜</i></a>
		<a href="http://news.zhongchou.cn" target="_blank">众筹资讯</a>
	</div>
	<div class="footer-icon">
		<span>关注我们：</span>
		<a class="s-05" target="_blank" href="http://e.weibo.com/zhongchouwang2013" rel="nofollow"></a>
		<a class="s-06" target="_blank" href="http://user.qzone.qq.com/2357291729" rel="nofollow"></a>
		<a class="s-07" target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&kw=%E4%BC%97%E7%AD%B9%E7%BD%91" rel="nofollow"></a>
		<a class="s-08" target="_blank" href="http://www.douban.com/people/zhongchou_cn/" rel="nofollow"></a>
	</div>
	<div class="footer-copy">
		<div class="wrap">
			<div class="m-Links">
			         
			</div>
			<p>&copy;2014 北京网信众筹网络科技有限公司 zhongchou.cn 版权所有 京ICP备14016844号 | 出版物经营许可证编号新出发（京）批字第直140141号 | 营业性演出许可证 编号：京市演2102 | 食品流通许可证 编号：SP1101051410311599</p>
		</div>
	</div>
</div>

<script type="text/javascript" src="http://zcs1.ncfstatic.com/zhongchou/pub/v3/fe3974b84fb6b50da0f329242078614c.js?V=1422860520" ></script>
                
<div id="gotop" class="go-top"></div>
</body>
</html> 
<script type="text/javascript" src="http://zcs1.ncfstatic.com/zhongchou/pub/v3/1d65c40e4b6012d604cd7b1ef5768246.js?V=1422860520" ></script>
