
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>众筹网-中国最具影响力的众筹平台</title>
<meta name="keywords" content="众筹 创业 项目 投资 支持"/>
<meta name="description" content="在众筹网发布项目，获得投资支持，实现你的创业梦想"/>
<meta name="renderer" content="webkit"/>
<link rel="shortcut icon" type="image/png" href="http://zcs5.ncfstatic.com/zhongchou/images/favicon_v3.png?v=1">
<!--public js&css start-->            
<link rel="stylesheet" type="text/css" href="http://zcs7.ncfstatic.com/zhongchou/pub/v3/14c4c0d24fba6ed25d8b6758064ef7b8.css?V=1421652454"/>
<script type="text/javascript" src="http://zcs7.ncfstatic.com/zhongchou/pub/v3/2cc0475e1160ea574d0a9b5ebea60136.js?V=1421652454"></script>   
<!--public js&css end -->                                         
</head>
<body>
<!--header static-->
<div class="header">
	<div class="wrap clearfix">		
        <div class="m-left">
          <h2><a alt="众筹网" class="img-logo" title="众筹网" href="/">众筹网</a></h2>
          <ul class="m-nav clearfix">
			      <li><a  class="z-home" href="/"><span><i class="s-01"></i></span>首页</a></li>
          	<li><a  href="/browse"><i class="s-02"></i>浏览项目</a></li>
            <li><a href="http://www.yuanshihui.com/" target="_blank"><i class="s-30"></i>原始会</a></li>
          	<li style="display:none"><a href="http://news.zhongchou.cn/"><i class="s-09"></i>资讯</a></li>
          	<li><a  class="selected" href="/project_info"><i class="s-03"></i>发起项目</a></li>
            <li><a href="http://app.zhongchou.cn" target="_blank"><i class="s-phone"></i>手机众筹</a></li>
            <li style="display:none"><a href="###"><i class="s-10"></i>论坛</a></li>
          </ul>
        </div>
        <div class="m-right clearfix">
        	
        	
            <div id="Js-header-loginBtn"> 
				<%if(user){%>
				<span class="pull-down clearfix"><i class="meun-02"></i><i class="meun-01"><%=user.mobile%></i></span>
				<%}else{%>
				<span class="pull-down clearfix"><i class="meun-02"></i><i class="meun-01">没有登录</i></span>
				<%}%>
              <ul id="Js-header-login" class="mm-nubg">
                  <li><a href="/home/id-428140"><i class="down-menu01"></i>支持的项目</a></li>
                  <li><a href="/author_info_detail"><i class="down-menu02"></i>发起的项目</a></li>
                  <li><a href="/corp-index"><i class="down-menu07"></i>发起者后台</a></li>
                  <li><a href="/home-focus/id-428140"><i class="down-menu03"></i>喜欢的项目</a></li>
                  <li><a href="/message"><i class="down-menu04"></i>消息中心</a></li>
                  <li><a href="/settings"><i class="down-menu05"></i>个人设置</a></li>
                  <li><a href="/logout"><i class="down-menu06"></i>退出</a></li>
              </ul>
            </div>
                        <form action="/deals" method="post" id="header_new_search_form" wx-validator>
            <span>
              <input name="k" wx-validator-placeholder="输入关键词" wx-validator-rule="required" type="text" wx-validator-notip>
              <span class="wx-placeholder" style="font-size:12px;position:absolute;top:3px;*top:3px;left:80px;*left:10px;">输入关键字</span>
              <a href="###" type="submit" class="bh-mhnbo"></a>
            </span>
          </form>
        </div>
	</div>		
</div>
<!--header end-->
<!--header static-->
<link rel="stylesheet" type="text/css" href="http://zcs7.ncfstatic.com/zhongchou/pub/v3/ee7ae0c1751620090a1f580e44d12fba.css?V=1421652454"/>
<div class="process">
		<!--flow step static-->
		<div class="project-edit-nav">
			<h3 class="steps-4">回报设置</h3>
		</div>
		<!--flow step end-->
</div>
<!--header-end-->
<!--main static-->
<div class="main clearfix">
	<div class="process-wrap clearfix">
			<div class="tit-wrap">
				<h3>完成</h3>
			</div>
			<div class="operating-tips clearfix">
				<!--<div class="icon-error"></div>-->
				<span class="icon-success"></span>
				<h3>恭喜您</h3>
				<p>您申请的项目已成功提交，我们将对项目进行审核，请耐心等待。</p>
				<a class="remin-save" href="/author_info_detail">进入个人中心</a>		
						
			</div>
	</div>
</div>
<!--main end-->
<!--footer static-->
<!--footer static-->
<div class="footer">
	<div class="footer-nav">
		<a rel="nofollow" href="/help-about/id-1" alt="关于众筹" title="关于众筹">关于我们 <i>｜</i> </a>
		<a rel="nofollow" href="/help-contact" alt="联系我们" title="联系我们">联系我们 <i>｜</i> </a>
		<!-- <a rel="nofollow" href="/help-team" alt="团队介绍" title="团队介绍">团队介绍 <i>｜</i> </a> -->
		<a rel="nofollow" href="/help-term" alt="服务协议" title="服务协议">服务协议 <i>｜</i> </a>
		<a rel="nofollow" href="/help-specification" alt="项目发起规范" title="项目发起规范">项目发起规范 <i>｜</i> </a>
		<a  href="/special-xinshou" alt="新手帮助" title="新手帮助">新手帮助 <i>｜</i> </a>
		<a  href="/help-center" alt="帮助中心" title="帮助中心">帮助中心 <i>｜</i> </a>
		<a  target="_blank" href="/help-tourongzi" alt="投融资服务" title="投融资服务">投融资服务</a>
	</div>
	<div class="footer-icon">
		<span>关注我们：</span>
		<a class="s-05" rel="nofollow" target="_blank" href="http://e.weibo.com/zhongchouwang2013" alt="新浪微博" title="新浪微博"></a>
		<a class="s-06" rel="nofollow" target="_blank" href="http://user.qzone.qq.com/2357291729" alt="QQ空间" title="QQ空间"></a>
		<a class="s-07" rel="nofollow" target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&kw=%E4%BC%97%E7%AD%B9%E7%BD%91" alt="百度贴吧" title="百度贴吧"></a>
		<a class="s-08" rel="nofollow" target="_blank" href="http://www.douban.com/people/zhongchou_cn/" alt="豆瓣小站" title="豆瓣小站"></a>

	</div>
	<div class="footer-copy">
		<div class="wrap">

			 -->
			 <div class="m-Links"></div>
            <p>&copy;2014 北京网信众筹网络科技有限公司 zhongchou.cn 版权所有 京ICP备14016844号 | 出版物经营许可证编号新出发（京）批字第直140141号 | 营业性演出许可证 编号：京市演2102 | 食品流通许可证 编号：SP1101051410311599</p>
		</div>
	</div>
</div>
<script type="text/javascript" src="http://zcs7.ncfstatic.com/zhongchou/pub/v3/fe3974b84fb6b50da0f329242078614c.js?V=1421652454"></script>                   
<div id="gotop" class="go-top"></div>
<!--footer end-->
 
<!--footer end-->
</body>
<!--[if IE 6]>
<script src="static/js/DD_belatedPNG_0.0.8a.js"></script>
<![endif]-->
</html> 
