<%include common_header.ejs%>
<!-- content static -->
<div  class="pass-bg">
	<div  class="pass-box wid390">
		<div  class="pass-title">用户注册</div>
		<p><font size="" color="#ff0000"><%- message %></font></p>		
		<form    method="post" name="registerForm" onsubmit="return checkForm();">
			 <p class="form-item clearfix">
				<label class="reg-lable">手机号</label>
				<input type="text"  class="text-input" id="mobile" name="mobile" placeholder="请输入手机号" onblur="checkMobile();">
			</p> 
			<p class="form-item clearfix">
				<label class="reg-lable">密码</label>
				<input type="password"    class="text-input" id="password" name="password" placeholder="请输入6-16位密码" onblur="checkPassWord();">
			</p>
			<p class="form-item clearfix">
				<label class="reg-lable">确认密码</label>
				<input type="password"  class="text-input" id="confirm_password" name="confirm_password" placeholder="请输入确认密码" onblur="check_confirm_password();">
			</p>
			<p class="form-item clearfix">
				<label class="reg-lable">昵称</label>
				<input type="text"    class="text-input" id="username" name="username" placeholder="请输入昵称" onblur="checkTextSpace();">
			</p>
		 <!-- 	<p class="form-item clearfix">
				<label class="reg-lable">验证码</label>
				<input type="text"  wx-validator-rule="required"  class="text-input wid190 fl" name="code" placeholder="请输入验证码">
				<a id="getValid" href="#"  class="btn-getCode" >获取</a>
			</p> 
			<span id="wx-validator-code-required" class="error-text" style="display:none">不能为空</span>
			<p class="form-item form-item-member  mar-l75 clearfix">
			
				<input name="article" type="checkbox" wx-validator-article-nocheck="true">
				<label class=""  wx-validator-rule="required">阅读并同意原始会的<a href="/terms/join" class="pass-red" target="_blank">《服务协议》</a></label>
 <span id="wx-validator-article-nocheck" style="color:red;display:none;">请先阅读我</span>
			</p> -->
			<p class="form-item  clearfix">
				<label class="reg-lable"></label>
				<button type="submit" class="btn-submit" >注册</button>
				</p>
		</form>
	</div>
</div>
<!-- content end -->
<%include common_footer.ejs%>
<script type="text/javascript">
window.onload=function(){
	document.getElementById("mobile").focus();
}
//检查手机号码长度的方法
function checkMobile(){
	var number=document.getElementById("mobile").value;
	//alert("Trims_number======="+Trims(number));
	var len=number.length;
	//alert("len===="+len);
	if(len==0){
		alert("请输入手机号码!");
		 document.getElementById("mobile").value="";
		//document.getElementById("mobile").focus();
		return false;
	}else if(len!=11){
		alert("您输入的手机号码长度有误，请输入正确的号码！");
		 document.getElementById("mobile").value="";
		//document.getElementById("mobile").focus();
		return false;
	}else if(isNaN(number)){
        alert("您的输入的号码有其他字符，请输入正确的手机号码!");
        document.getElementById("mobile").value="";
        //document.getElementById("mobile").focus();
        return false;
	}
}

//检查密码长度的方法
function checkPassWord(){
	var password=document.getElementById("password").value;
	//alert("password======="+password);
	var len=password.length;
	if(len==0){
		alert("请输入密码!");
		document.getElementById("password").value="";
		//document.getElementById("password").focus();
		return false;
	}else if(len<6||len>16){
		alert("您输入的密码长度有误，密码不能小于六位，同时也不能大于十六位！");
		document.getElementById("password").value="";
		//document.getElementById("password").focus();
		return false;
	}
}

//检查确认密码长度的方法
function check_confirm_password(){
	var confirm_password=document.getElementById("confirm_password").value;
    var password=document.getElementById("password").value;
	if(confirm_password!=password){
		alert("两次输入的密码不一致,请重新输入!");
		document.getElementById("confirm_password").value="";
		//document.getElementById("confirm_password").focus();
		return false;
	}
}

//验证输入的昵称是否包含空格
 function checkTextSpace(){
 	var username=document.getElementById("username").value;
 	if(username==""){
      alert("昵称不能为空!");
      //document.getElementById("username").focus();
      return false;
 	}
 	if(username.length>15){
      alert("昵称长度不能大于15个字符!");
       document.getElementById("username").value="";
      // document.getElementById("username").focus();
      return false;
 	}
    var reg=/\s/g;
    var alertValue="输入内容包含空格，请出新输入!";
     //temp用来标识内容是否允许存在空格1为可存在0为不存在
/*     if(temp==1){
         reg=/(^\s{5,})|(\s{5,}$)|(\s{5,})/g;
         alertValue="内容中连续输入空格数超过5个,请重新输入！";
     }*/
    if(reg.test(username)){
        alert(alertValue);
        document.getElementById("username").value="";
        //document.getElementById("username").focus();
        return false;
    }
 }


//提交之前验证表单
function checkForm(){
	return true;
}
 /**
 * 去掉空格
 * 
 * @param str
 * @returns
 */
function Trims(str)
{
    return str.replace(/\s/g, "");
}
</script>