<style type="text/css">
	.footer{margin-top: 0px;}
</style>
<!--footer static-->
<!--footer static-->
<div class="footer">
	<div class="footer-nav">
		<a rel="nofollow" href="/help-about/id-1" alt="关于众筹" title="关于众筹">关于我们 <i>｜</i> </a>
		<a rel="nofollow" href="/help-contact" alt="联系我们" title="联系我们">联系我们 <i>｜</i> </a>
		<!-- <a rel="nofollow" href="/help-team" alt="团队介绍" title="团队介绍">团队介绍 <i>｜</i> </a> -->
		<a rel="nofollow" href="/help-term" alt="服务协议" title="服务协议">服务协议 <i>｜</i> </a>
		<a rel="nofollow" href="/help-specification" alt="项目发起规范" title="项目发起规范">项目发起规范 <i>｜</i> </a>
		<a  href="/partake" alt="新手帮助" title="新手帮助">新手帮助 <i>｜</i> </a>
		<a  href="/help-center" alt="帮助中心" title="帮助中心">帮助中心 <i>｜</i> </a>
		<a  target="_blank" href="/help-tourongzi" alt="投融资服务" title="投融资服务">投融资服务</a>
	</div>
	<div class="footer-icon">
		<span>关注我们：</span>
		<a class="s-05" rel="nofollow" target="_blank" href="http://e.weibo.com/zhongchouwang2013" alt="新浪微博" title="新浪微博"></a>
		<a class="s-06" rel="nofollow" target="_blank" href="http://user.qzone.qq.com/2357291729" alt="QQ空间" title="QQ空间"></a>
		<a class="s-07" rel="nofollow" target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&kw=%E4%BC%97%E7%AD%B9%E7%BD%91" alt="百度贴吧" title="百度贴吧"></a>
		<a class="s-08" rel="nofollow" target="_blank" href="http://www.douban.com/people/zhongchou_cn/" alt="豆瓣小站" title="豆瓣小站"></a>
		<!--<a class="s-05" rel="nofollow" target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&kw=%E4%BC%97%E7%AD%B9%E7%BD%91" alt="百度贴吧" title="百度贴吧">百度贴吧</a>-->
		<!--<a class="s-06" rel="nofollow" target="_blank" href="http://user.qzone.qq.com/2357291729" alt="QQ空间" title="QQ空间">QQ空间</a>-->
		<!--<a class="s-07" rel="nofollow" target="_blank" href="http://e.weibo.com/zhongchouwang2013" alt="新浪微博" title="新浪微博">新浪微博</a>-->
		<!--<a class="s-08" rel="nofollow" target="_blank" href="http://www.douban.com/people/zhongchou_cn/" alt="豆瓣小站" title="豆瓣小站">豆瓣小站</a>-->
	</div>
	<div class="footer-copy">
		<div class="wrap">
			<div class="m-Links">
									<a href="http://iof.hexun.com/zhongchou/index.html" target="_blank" rel="nofollow">和讯网</a>
									<a href="http://www.leiphone.com/" target="_blank" rel="nofollow">雷锋网</a>
									<a href="http://www.36kr.com/   " target="_blank" rel="nofollow">36氪</a>
									<a href="http://www.hao123.com/" target="_blank" rel="nofollow">hao123</a>
									<a href="http://hao.360.cn/" target="_blank" rel="nofollow">360安全网址</a>
									<a href="http://www.ynet.com/" target="_blank" rel="nofollow">北青网</a>
									<a href="http://finance.ifeng.com/" target="_blank" rel="nofollow">凤凰网</a>
									<a href="http://jrj.com.cn" target="_blank" rel="nofollow">金融界</a>
									<a href="http://www.caixin.com/" target="_blank" rel="nofollow">财新网</a>
									<a href="http://www.tmtpost.com/" target="_blank" rel="nofollow">钛媒体</a>
									<a href="http://www.imgii.com?zhongchou" target="_blank" rel="nofollow">IMGII</a>
									<a href="http://www.m1905.com/film/" target="_blank" rel="nofollow">电影网</a>
									<a href="http://www.artron.net/" target="_blank" rel="nofollow">雅昌艺术网</a>
									<a href="http://www.vmovier.com/" target="_blank" rel="nofollow">V电影</a>
									<a href="http://www.eguan.cn" target="_blank" rel="nofollow">易观网</a>
									<a href="http://www.pedaily.cn/" target="_blank" rel="nofollow">投资界          </a>
									<a href="http://home.ebrun.com/" target="_blank" rel="nofollow">亿邦动力社区</a>
									<a href="http://www.9888.cn" target="_blank" rel="nofollow">金融工场</a>
									<a href="http://www.trchina.org/" target="_blank" rel="nofollow">投融中国联盟</a>
									<a href="http://www.youcheng.org/" target="_blank" rel="nofollow">友成基金会</a>
									<a href="http://life.renren.com" target="_blank" rel="nofollow">人人生活</a>
									<a href="http://www.meng800.com/ " target="_blank" rel="nofollow">众筹导航</a>
									<a href="http://www.qidic.com" target="_blank" rel="nofollow">奇笛网</a>
									<a href="http://www.rong360.com" target="_blank" rel="nofollow">融360</a>
									<a href=" http://www.diyifangdai.com" target="_blank" rel="nofollow">第一房贷</a>
									<a href="http://finance.ifeng.com/itfinance/index.shtml" target="_blank" rel="nofollow">凤凰互联网金融</a>
									<a href="http://www.huoqiu.cn" target="_blank" >火球网</a>
									<a href="http://www.renchoubao.com/" target="_blank" >认筹宝</a>
									<a href="http://www.kuaidi100.com/" target="_blank" >快递查询</a>
				              
			</div>
			<p>&copy;2014 北京网信众筹网络科技有限公司 zhongchou.cn 版权所有 京ICP备14016844号 </p>
		</div>
	</div>
</div>

<script type="text/javascript" src="/javascripts/start_dream.js"></script>                 
<div id="gotop" class="go-top"></div>
<!--footer end-->
 
<!--footer end-->
<script type="text/javascript">
function dosubmit(){
	if(!$("#flag").attr("checked")){
		wx.alert('您还没有同意众筹网服务协议。');
	}else{
		window.location.href="/projectnew-add"; 
	}
}

function getLogin(url){
	if(!$("#flag").attr("checked")){
		wx.alert('您还没有同意众筹网服务协议。');
	}else{
		openLogin(url);
	}
}


</script>
</body>
</html>