
<html>
<head>
  
  <meta http-equiv="Content-Type"  content="text/html;charset=UTF-8"/>
</head>
<body>
  <%if(success){%>
  <div><%=success%></div>
  <%}%>
  <form action="/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="upload" multiple="multiple">
    <input type="submit" value="上传文件"/>
  </form>
</body>
</html>