		<div class="right">
						<div>
				<h3 class='page-header'>未发布的项目<small>编辑、优化、状态</small></h3>
			</div>
						<div class='v-content'>
				
<div class='row-box w940 with-head with-tbl'>
	<h4 class='page-subtitle'>详细清单</h4>
	

<table class='table' id='tbl_1'>
						                <col valign='center' align='center' width='200'></col>
                        					                <col valign='center' align='center' width='150'></col>
                        					                <col valign='center' align='center' width='120'></col>
                        					                <col valign='center' align='center' width='80'></col>
                        									<col align='right' width='150'></col>
                            <thead>
    	
	<tr>
								<td colspan='1' rowspan='1' class=''>名称</td>
													<td colspan='1' rowspan='1' class=''>创建时间</td>
													<td colspan='1' rowspan='1' class=''>当前状态</td>
													<td colspan='1' rowspan='1' class=''>目标额</td>
													<td colspan='1' rowspan='1' class='operation'>操作</td>
							</tr>
    
    </thead>
        <tbody>
        	                        	
	<tr>
								<td colspan='1' rowspan='1' class=''><a target='_blank'  href='http://www.zhongchou.cn/deal-show/id-71299'>test</a></td>
													<td colspan='1' rowspan='1' class=''>2015-01-19 21:29:58</td>
													<td colspan='1' rowspan='1' class=''>一审未通过<a type="button" class="refuse-reason tooltip-down" data-placement="bottom">拒绝理由<span class="tip">文案空白, 请完善项目文案内容，添加图片介绍和展示</span></a></td>
													<td colspan='1' rowspan='1' class=''>500.00</td>
													<td colspan='1' rowspan='1' class='operation'><a class='btn btn-default btn-option btn-flat btn-orange'  href='http://www.zhongchou.cn/projectnew-edit/id-71299'>编辑</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='http://www.zhongchou.cn/deal-show/id-71299'>预览</a></td>
							</tr>
                
                        	
	<tr>
								<td colspan='1' rowspan='1' class=''><a target='_blank'  href='http://www.zhongchou.cn/deal-show/id-65857'>test</a></td>
													<td colspan='1' rowspan='1' class=''>2015-01-11 18:28:01</td>
													<td colspan='1' rowspan='1' class=''>草稿</td>
													<td colspan='1' rowspan='1' class=''>500.00</td>
													<td colspan='1' rowspan='1' class='operation'><a class='btn btn-default btn-option btn-flat btn-orange'  href='http://www.zhongchou.cn/projectnew-edit/id-65857'>编辑</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='http://www.zhongchou.cn/deal-show/id-65857'>预览</a></td>
							</tr>
                
                        	
	<tr>
								<td colspan='1' rowspan='1' class=''><a target='_blank'  href='http://www.zhongchou.cn/deal-show/id-65332'>test</a></td>
													<td colspan='1' rowspan='1' class=''>2015-01-10 02:24:36</td>
													<td colspan='1' rowspan='1' class=''>草稿</td>
													<td colspan='1' rowspan='1' class=''>700.00</td>
													<td colspan='1' rowspan='1' class='operation'><a class='btn btn-default btn-option btn-flat btn-orange'  href='http://www.zhongchou.cn/projectnew-edit/id-65332'>编辑</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='http://www.zhongchou.cn/deal-show/id-65332'>预览</a></td>
							</tr>
                
                        	
	<tr>
								<td colspan='1' rowspan='1' class=''><a target='_blank'  href='http://www.zhongchou.cn/deal-show/id-65329'>test</a></td>
													<td colspan='1' rowspan='1' class=''>2015-01-10 02:24:29</td>
													<td colspan='1' rowspan='1' class=''>草稿</td>
													<td colspan='1' rowspan='1' class=''>700.00</td>
													<td colspan='1' rowspan='1' class='operation'><a class='btn btn-default btn-option btn-flat btn-orange'  href='http://www.zhongchou.cn/projectnew-edit/id-65329'>编辑</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='http://www.zhongchou.cn/deal-show/id-65329'>预览</a></td>
							</tr>
                
                        	
	<tr>
								<td colspan='1' rowspan='1' class=''><a target='_blank'  href='http://www.zhongchou.cn/deal-show/id-65326'>test</a></td>
													<td colspan='1' rowspan='1' class=''>2015-01-10 02:16:12</td>
													<td colspan='1' rowspan='1' class=''>草稿</td>
													<td colspan='1' rowspan='1' class=''>500.00</td>
													<td colspan='1' rowspan='1' class='operation'><a class='btn btn-default btn-option btn-flat btn-orange'  href='http://www.zhongchou.cn/projectnew-edit/id-65326'>编辑</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='http://www.zhongchou.cn/deal-show/id-65326'>预览</a></td>
							</tr>
                
                        	
	<tr>
								<td colspan='1' rowspan='1' class=''><a target='_blank'  href='http://www.zhongchou.cn/deal-show/id-65248'>test</a></td>
													<td colspan='1' rowspan='1' class=''>2015-01-10 00:03:01</td>
													<td colspan='1' rowspan='1' class=''>草稿</td>
													<td colspan='1' rowspan='1' class=''>500.00</td>
													<td colspan='1' rowspan='1' class='operation'><a class='btn btn-default btn-option btn-flat btn-orange'  href='http://www.zhongchou.cn/projectnew-edit/id-65248'>编辑</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='http://www.zhongchou.cn/deal-show/id-65248'>预览</a></td>
							</tr>
                
                        	
	<tr>
								<td colspan='1' rowspan='1' class=''><a target='_blank'  href='http://www.zhongchou.cn/deal-show/id-65209'>我的众酬</a></td>
													<td colspan='1' rowspan='1' class=''>2015-01-09 22:46:31</td>
													<td colspan='1' rowspan='1' class=''>草稿</td>
													<td colspan='1' rowspan='1' class=''>500.00</td>
													<td colspan='1' rowspan='1' class='operation'><a class='btn btn-default btn-option btn-flat btn-orange'  href='http://www.zhongchou.cn/projectnew-edit/id-65209'>编辑</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='http://www.zhongchou.cn/deal-show/id-65209'>预览</a></td>
							</tr>
                
                        	
	<tr>
								<td colspan='1' rowspan='1' class=''><a target='_blank'  href='http://www.zhongchou.cn/deal-show/id-65212'>我的众酬</a></td>
													<td colspan='1' rowspan='1' class=''>2015-01-09 22:46:31</td>
													<td colspan='1' rowspan='1' class=''>草稿</td>
													<td colspan='1' rowspan='1' class=''>500.00</td>
													<td colspan='1' rowspan='1' class='operation'><a class='btn btn-default btn-option btn-flat btn-orange'  href='http://www.zhongchou.cn/projectnew-edit/id-65212'>编辑</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='http://www.zhongchou.cn/deal-show/id-65212'>预览</a></td>
							</tr>
                
                        	
	<tr>
								<td colspan='1' rowspan='1' class=''><a target='_blank'  href='http://www.zhongchou.cn/deal-show/id-63442'>托尔斯泰</a></td>
													<td colspan='1' rowspan='1' class=''>2015-01-06 22:20:01</td>
													<td colspan='1' rowspan='1' class=''>草稿</td>
													<td colspan='1' rowspan='1' class=''>5555.00</td>
													<td colspan='1' rowspan='1' class='operation'><a class='btn btn-default btn-option btn-flat btn-orange'  href='http://www.zhongchou.cn/projectnew-edit/id-63442'>编辑</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='http://www.zhongchou.cn/deal-show/id-63442'>预览</a></td>
							</tr>
                
                        	
	<tr>
								<td colspan='1' rowspan='1' class=''><a target='_blank'  href='http://www.zhongchou.cn/deal-show/id-60907'>test</a></td>
													<td colspan='1' rowspan='1' class=''>2015-01-03 21:51:30</td>
													<td colspan='1' rowspan='1' class=''>草稿</td>
													<td colspan='1' rowspan='1' class=''>500.00</td>
													<td colspan='1' rowspan='1' class='operation'><a class='btn btn-default btn-option btn-flat btn-orange'  href='http://www.zhongchou.cn/projectnew-edit/id-60907'>编辑</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='http://www.zhongchou.cn/deal-show/id-60907'>预览</a></td>
							</tr>
                
                        	
	<tr>
								<td colspan='1' rowspan='1' class=''><a target='_blank'  href='http://www.zhongchou.cn/deal-show/id-59944'>test</a></td>
													<td colspan='1' rowspan='1' class=''>2015-01-02 13:19:34</td>
													<td colspan='1' rowspan='1' class=''>草稿</td>
													<td colspan='1' rowspan='1' class=''>500.00</td>
													<td colspan='1' rowspan='1' class='operation'><a class='btn btn-default btn-option btn-flat btn-orange'  href='http://www.zhongchou.cn/projectnew-edit/id-59944'>编辑</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='http://www.zhongchou.cn/deal-show/id-59944'>预览</a></td>
							</tr>
                
                        	
	<tr>
								<td colspan='1' rowspan='1' class=''><a target='_blank'  href='http://www.zhongchou.cn/deal-show/id-54688'>众酬网站</a></td>
													<td colspan='1' rowspan='1' class=''>2014-12-24 23:39:47</td>
													<td colspan='1' rowspan='1' class=''>草稿</td>
													<td colspan='1' rowspan='1' class=''>500.00</td>
													<td colspan='1' rowspan='1' class='operation'><a class='btn btn-default btn-option btn-flat btn-orange'  href='http://www.zhongchou.cn/projectnew-edit/id-54688'>编辑</a><a class='btn btn-default btn-option btn-flat btn-blue'  href='http://www.zhongchou.cn/deal-show/id-54688'>预览</a></td>
							</tr>
                
                    </tbody>
        
</table>
<div class=''>
	<ul class='pagination' id="pg_1">
	</ul>
</div>
<div style="clear:both"></div>
<h3 id='btn_1' class='tbl-more' data-target='tbl_1'>
	<span href='javascript:void(0)' id='a_1'> 查看更多</span>
</h3>
