  <div class="personal-set-right">
             <form class="setting-form" name="modify"  action="/user_settings" onsubmit="return checkForm();" wx-validator wx-validator-error-class="error-text" method="post" >
              <input type="hidden" name="mobile" id="mobile"  value="<%=user.mobile%>" /> 
               <input type="hidden" name="genders" id="genders"  value="" /> 
                   <div class="form-item clearfix">s
                                               <div class="row clearfix">
                               <label>手机：</label><span class="span-style"><%=user.mobile%></span>
                          </div>
                                          
                          <div class="row clearfix">
                               <label>用户名：</label>
                               <input name="username"  id="username"  onblur="return checkTextSpace();" type="text" class="input-wid" placeholder="" value="<%=user.name%>" wx-validator-rule="required">
                               <span id="show_username"  style="display:none"><p><font size="" color="#ff0000"></font></p></span>
                          </div>
                     
                          <div class="row clearfix">
                               <label>性别：</label>
                              <span class="span-style">
                                <%if(user.gender==1){%>
                                  <label class="label-style"><input type="radio" checked="checked" name="sex" id="man" value=1 name="radio" onblur="return select_man();" >男</label>
                                  <label class="label-style"><input type="radio"  name="sex" id="woman" value=0 name="radio" onblur="return select_woman();" >女</label>
                                  <label class="label-style"><input type="radio"  name="sex" value="-1" id="secret" name="radio" onblur="return select_secret();" >保密</label>
                                  <%}else if(user.gender==0){%>
                                 
                                  <label class="label-style"><input type="radio"  name="sex" id="man" value=1 name="radio" onblur="return select_man();" >男</label>
                                  <label class="label-style"><input type="radio" checked="checked" name="sex" id="woman" value=0 name="radio" onblur="return select_woman();" >女</label>
                                  <label class="label-style"><input type="radio"  name="sex" value="-1" id="secret" name="radio" onblur="return select_secret();" >保密</label>
                                  <%}else{%>
                                  <label class="label-style"><input type="radio"  name="sex" id="man" value=1 name="radio" onblur="return select_man();" >男</label>
                                  <label class="label-style"><input type="radio"  name="sex" id="woman" value=0 name="radio" onblur="return select_woman();" >女</label>
                                  <label class="label-style"><input type="radio" checked="checked"  name="sex" value="-1" id="secret" name="radio" onblur="return select_secret();" >保密</label>
                                  <%}%>

                              </span>
                          </div>
                          <div class="row clearfix">
                               <label>所在地：</label>
                                <select name="user_location" id="user_location" wx-validator-error-value="选择省份" onchange="checkItem(this.value)" data-default="四川">
                                                                    <option value="请选择" data-id="" >请选择</option>  
                                                                    <option value="安徽" data-id="3" >安徽</option>  
                                                                    <option value="福建" data-id="4" >福建</option>  
                                                                    <option value="甘肃" data-id="5" >甘肃</option>  
                                                                    <option value="广东" data-id="6" >广东</option>  
                                                                    <option value="广西" data-id="7" >广西</option>  
                                                                    <option value="贵州" data-id="8" >贵州</option>  
                                                                    <option value="海南" data-id="9" >海南</option>  
                                                                    <option value="河北" data-id="10" >河北</option>  
                                                                    <option value="河南" data-id="11" >河南</option>  
                                                                    <option value="黑龙江" data-id="12" >黑龙江</option>  
                                                                    <option value="湖北" data-id="13" >湖北</option>  
                                                                    <option value="湖南" data-id="14" >湖南</option>  
                                                                    <option value="吉林" data-id="15" >吉林</option>  
                                                                    <option value="江苏" data-id="16" >江苏</option>  
                                                                    <option value="江西" data-id="17" >江西</option>  
                                                                    <option value="辽宁" data-id="18" >辽宁</option>  
                                                                    <option value="内蒙古" data-id="19" >内蒙古</option>  
                                                                    <option value="宁夏" data-id="20" >宁夏</option>  
                                                                    <option value="青海" data-id="21" >青海</option>  
                                                                    <option value="山东" data-id="22" >山东</option>  
                                                                    <option value="山西" data-id="23" >山西</option>  
                                                                    <option value="陕西" data-id="24" >陕西</option>  
                                                                    <option value="西藏" data-id="28" >西藏</option>  
                                                                    <option value="新疆" data-id="29" >新疆</option>  
                                                                    <option value="云南" data-id="30" >云南</option>  
                                                                    <option value="浙江" data-id="31" >浙江</option>  
                                                                    <option value="北京" data-id="52" >北京</option>  
                                                                    <option value="上海" data-id="321" >上海</option>  
                                                                    <option value="天津" data-id="343" >天津</option>  
                                                                    <option value="重庆" data-id="394" >重庆</option>  
                                                                    <option value="香港" data-id="395" >香港</option>  
                                                                    <option value="澳门" data-id="396" >澳门</option>  
                                                                    <option value="台湾" data-id="397" >台湾</option>  
                                                                    <option value="四川" data-id="26" selected="selected">四川</option>  
                                                               </select>
                               
                               <select name="city" id="city" wx-validator-error-value="请选择城市" data-default="成都">
                                                                   <option value="阿坝" data-id="324" >阿坝</option>  
                                                                   <option value="巴中" data-id="325" >巴中</option>  
                                                                   <option value="成都" data-id="322" selected="selected">成都</option>  
                                                                   <option value="达州" data-id="326" >达州</option>  
                                                                   <option value="德阳" data-id="327" >德阳</option>  
                                                                   <option value="甘孜" data-id="328" >甘孜</option>  
                                                                   <option value="广安" data-id="329" >广安</option>  
                                                                   <option value="广元" data-id="330" >广元</option>  
                                                                   <option value="乐山" data-id="331" >乐山</option>  
                                                                   <option value="凉山" data-id="332" >凉山</option>  
                                                                   <option value="眉山" data-id="333" >眉山</option>  
                                                                   <option value="绵阳" data-id="323" >绵阳</option>  
                                                                   <option value="南充" data-id="334" >南充</option>  
                                                                   <option value="内江" data-id="335" >内江</option>  
                                                                   <option value="攀枝花" data-id="336" >攀枝花</option>  
                                                                   <option value="遂宁" data-id="337" >遂宁</option>  
                                                                   <option value="雅安" data-id="338" >雅安</option>  
                                                                   <option value="宜宾" data-id="339" >宜宾</option>  
                                                                   <option value="泸州" data-id="342" >泸州</option>  
                                                                   <option value="自贡" data-id="341" >自贡</option>  
                                                                   <option value="资阳" data-id="340" >资阳</option>  
                                                                   <option value="请选择" data-id="" >请选择</option>  
                                                               </select>
                      <span id="show_user_location"  style="display:none"><p><font size="" color="#ff0000"></font></p></span>
                          </div>

                          <div class="row clearfix">
                               <label>个人说明：</label>
                               <textarea name="intro" id="intro"  onblur="return check_person_description();" placeholder="您的介绍可更有效的帮助支持者了解您和了解项目的背景">我是一个……</textarea>
                           <span id="show_intro"  style="display:none"><p><font size="" color="#ff0000"></font></p></span>

        </div>
                          <p class="p-btn"><a type="submit" href="javascript:;"  class=" a-btn-blue btn-effect-blue">保存</a></p>
                 </div>
            </form>
        </div>
        <!--right side end-->