        <!--right side static-->
        <div class="personal-set-right">
             <form name="passModify" class="setting-form" action="/update_password" onsubmit="return check_update_password_form();" wx-validator wx-validator-error-class="error-text"  method="post">
                   <div class="form-item clearfix">
                         
                          <div class="row clearfix">
                               <label>原始密码：</label>
                               <input  type="password" class="input-wid" placeholder="" value="" name="old_pwd" id="old_pwd"  onblur=" checkPassWord('old_pwd')" >
                               <span id="show_old_pwd"  style="display:none"><p><font size="" color="#ff0000"></font></p></span>
                          </div>
                          <div class="row clearfix">
                               <label>新密码：</label>
                               <input  type="password"  class="input-wid" placeholder="" value="" name="new_pwd" id="new_pwd"  onblur="checkPassWord('new_pwd')">
                              <span id="show_new_pwd"  style="display:none"><p><font size="" color="#ff0000"></font></p></span>
                          </div>
                          <div class="row clearfix">
                               <label>确认密码：</label>
                               <input type="password"  class="input-wid" placeholder="" value="" name="confirm_password" id="confirm_password"  onblur="check_confirm_password();" >
                              <span id="show_confirm_password"  style="display:none"><p><font size="" color="#ff0000"></font></p></span>
                          </div>
                        
                          <input type="hidden" name="mobile" id="mobile"  value="<%=user.mobile%>" /> 
                          <p class="p-btn"><a type="submit" common-sprite" href="javascript:;"  class=" a-btn-blue btn-effect-blue">保存</a></p>
                 </div>
            </form>
        </div>
